<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

      <%= render partial: 'shared/captcha', locals: {f: f} %>

      <div class="row">
        <div class="actions col-md-9 offset-md-3">
          <%= f.button :submit, value: t('actions.resend_confirmation_instructions'), data: { disable_with: t('actions.resend_confirmation_instructions') } %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container">

    <%= render "devise/shared/links" %>

  </div>
</div>
