<%
  tab_active = nil
  tab_attributes = {
    service_main: [:name, :company_id, :public, :subdomain, :service_type, :user_id, :main_commercial_id, :main_accountant_id, :main_developer_id],
    service_contact_detail: [:'contact_detail.name', :'contact_detail.siret', :'contact_detail.chamber_of_commerce', :'contact_detail.address_line1', :'contact_detail.address_line2', :'contact_detail.address_line3', :'contact_detail.zip', :'contact_detail.city', :'contact_detail.country', :'contact_detail.phone'],
    service_description: [:description, :description_long, :website]
  }
  tab_errors = {
    proxy_main: 0,
    service_contact_detail: 0
  }

  if @service.errors.messages.length > 0
    tab_attributes.each_pair do |k, v|
      v.each do |v2|
        if @service.errors.messages.include? v2
          tab_active = k if tab_active == nil
          tab_errors[k] = 1
        end
      end
    end
  end

  tab_active = :service_main if tab_active.nil?
%>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab_active == :service_main %> <%= 'has-danger' if tab_errors[:service_main] == 1 %>" data-toggle="tab" href="#service_main" role="tab"><%= t('.tabs.main.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab_active == :service_contact_detail %> <%= 'has-danger' if tab_errors[:service_contact_detail] == 1 %>" data-toggle="tab" href="#service_contact_detail" role="tab"><%= t('.tabs.main.contact_detail') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab_active == :service_description %> <%= 'has-danger' if tab_errors[:service_description] == 1 %>" data-toggle="tab" href="#service_description" role="tab"><%= t('.tabs.main.description') %></a>
  </li>
</ul>

<%= simple_form_for @service  do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane <%= 'active' if tab_active == :service_main %>" id="service_main">

      <% unless f.object.persisted? %>
        <%= f.input :service_type, collection: format_service_types_for_select, input_html: {class: 'select2'}, include_blank: false %>
      <% end %>

      <% if @companies.size > 0 %>
        <%= f.input :parent_id, collection: format_services_for_select(@companies), include_blank: t('misc.none'), input_html: {class: 'services-select2'} %>
      <% end %>

      <%= f.input :name, input_html: {class: 'input-placeholder-live-update', 'data-target': 'service_contact_detail_attributes_name'} %>

      <%= f.input :user_id, collection: format_users_for_select(@users), input_html: {class: 'select2'}, include_blank: false, hint: t("back_office.services.form.hints.user_id") %>
      <%= f.input :main_commercial_id, collection: format_users_for_select(@users), input_html: {class: 'select2'}, include_blank: t('misc.none') %>
      <%= f.input :main_accountant_id, collection: format_users_for_select(@users), input_html: {class: 'select2'}, include_blank: t('misc.none') %>
      <%= f.input :main_developer_id, collection: format_users_for_select(@users), input_html: {class: 'select2'}, include_blank: t('misc.none') %>

      <%= f.input :subdomain, disabled: f.object.is_activated?, hint: t('.hints.subdomain') %>

      <% unless f.object.is_client? %>
        <%= f.input :public, as: :radio_buttons, collection: format_boolean_values_for_input %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane <%= 'active' if tab_active == :service_contact_detail %>" id="service_contact_detail">
      <%= render partial: 'contact_details/fields_for', locals: {f: f} %>
    </div>

    <div role="tabpanel" class="tab-pane <%= 'active' if tab_active == :service_description %>" id="service_description">
      <%= f.input :description, as: :text, input_html: {rows: 3}, hint: t('.hints.description') %>
      <%= f.input :description_long, as: :trix_editor, input_html: {trix_editor_limited: true}, hint: t('.hints.description_long'), limited: true %>

      <% unless f.object.is_client? %>
        <%= f.input :website, hint: t('.hints.website') %>
      <% end %>

    </div>

  </div>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>
<% end %>
