<% if collection.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <table class="table table-sm table-hover table-link">
    <thead>
    <tr>
      <th colspan="2" class="width-30"><%= t('activerecord.attributes.service.name') %></th>
      <th class="width-10"><%= t('activerecord.attributes.service.service_type') %></th>
      <th><%= t('activerecord.attributes.service.public') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |service| %>
      <tr data-link="<%= service_path(service.id) %>">
        <td class="width-3">
          <i class="fa-2x <%= t("types.service_types.#{service.service_type}.icon") %>"></i>
        </td>
        <td>
          <%= "<span class=\"float-right\"><i class=\"fa fa-fw fa-2x fa-lock\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"#{t('misc.unconfirmed')}\"></i></span>".html_safe unless service.is_activated? %>
          <strong class="<%= I18n.t("types.service_types.#{service.service_type}.class") %>"><%= service.name %></strong><br />
          <%= "<small class=\"#{I18n.t("types.service_types.#{service.parent.service_type}.class")}\"><i class=\"#{t("types.service_types.#{service.parent.service_type}.icon")}\"></i> #{service.parent}</small>".html_safe if service.parent %>&nbsp;
        </td>
        <td>
          <span class="<%= I18n.t("types.service_types.#{service.service_type}.class") %>"><%= t("types.service_types.#{service.service_type}.title") %></span>
        </td>
        <td>
          <% if service.is_startup? %>
            <%= t("misc.#{service.public}") %>
          <% end %>
        </td>
        <td class="text-right">
          <%= link_to t('misc.dashboard'), service_path(service.id), class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>