<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.service.name') %></strong>
  </div>
  <div class="col-9">

    <%= "<span class=\"float-right\"><i class=\"fa fa-lock\"></i> #{t('misc.unconfirmed')}</span>".html_safe unless service.is_activated? %>
    <strong><i class="<%= t("types.service_types.#{service.service_type}.icon") %>"></i> <span class="<%= t("types.service_types.#{service.service_type}.class") %>"><%= service.name %></span></strong>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.contact_detail.siret') %></strong>
  </div>
  <div class="col-9">
    <%= service.contact_detail.siret.present? ? service.contact_detail.siret : '<span class="text-muted">---</span>'.html_safe %>
  </div>
</div>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.contact_detail.phone') %></strong>
  </div>
  <div class="col-9">
    <%= service.contact_detail.phone.present? ? service.contact_detail.phone : '<span class="text-muted">---</span>'.html_safe %>
  </div>
</div>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.models.contact_detail') %></strong>
  </div>
  <div class="col-9">
    <%= "#{service.contact_detail.name}<br />".html_safe if service.contact_detail.name.present? && service.name != service.contact_detail.name %>
    <%= "#{service.contact_detail.address_line1}<br />".html_safe if service.contact_detail.address_line1.present? %>
    <%= "#{service.contact_detail.address_line2}<br />".html_safe if service.contact_detail.address_line2.present? %>
    <%= "#{service.contact_detail.address_line3}<br />".html_safe if service.contact_detail.address_line3.present? %>
    <%= "#{service.contact_detail.zip}<br />".html_safe if service.contact_detail.zip.present? %>
    <%= "#{service.contact_detail.country}<br />".html_safe if service.contact_detail.country.present? %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t("roles.admin.title") %> <i class="<%= t("roles.admin.icon") %>"></i></strong>
  </div>
  <div class="col-9">
    <%= render partial: 'shared/user_info', locals: {user: service.user} %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t("roles.commercial.title") %> <i class="<%= t("roles.commercial.icon") %>"></i></strong>
  </div>
  <div class="col-9">
    <%= render partial: 'shared/user_info', locals: {user: service.main_commercial} %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t("roles.accountant.title") %> <i class="<%= t("roles.accountant.icon") %>"></i></strong>
  </div>
  <div class="col-9">
    <%= render partial: 'shared/user_info', locals: {user: service.main_accountant} %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t("roles.developer.title") %> <i class="<%= t("roles.developer.icon") %>"></i></strong>
  </div>
  <div class="col-9">
    <%= render partial: 'shared/user_info', locals: {user: service.main_developer} %>
  </div>
</div>
