<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Activated</th>
        <th>Authorised</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.is_activated? %></td>

            <td >
              <%= type_admin_of(service) %>
            </td>
            <td >
              <% if is_admin_of(service) %>
                  <%= link_to t('actions.unset_right'), unset_right_service_path(@service.id, target_id: service.id), method: :post, class: 'btn btn-secondary' %>
              <% else %>
                  <%= link_to t('actions.set_right'), set_right_service_path(@service.id, target_id: service.id), method: :post, class: 'btn btn-secondary' %>
              <% end %>
              <%= link_to t('dashboard'), switch_path(service_subdomain: service.subdomain, owner_id: @service.id), method: :post, class: 'btn btn-primary' %>
            </td>
            </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
