<% content_for(:page_title) { t('misc.overview') } %>

<% activation_requests = Ticket.activation_requests_by_service(current_service).not_closed %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <section class="row text-left">
      <div class="col-6 col-sm-2">
        <h4><i class="fa fa-fw fa-users"></i> <%= current_service.users.count %></h4>
        <div class="text-muted"><%= t('activerecord.models.user').pluralize %></div>
      </div>
      <% if current_service.is_company? %>
        <div class="col-6 col-sm-2">
          <h4><i class="<%= t('types.service_types.client.icon') %>"></i> <%= current_service.clients.count %></h4>
          <div class="text-muted"><%= t('types.service_types.client.title').pluralize %></div>
        </div>
        <div class="col-6 col-sm-2">
          <h4><i class="<%= t('types.service_types.startup.icon') %>"></i> <%= current_service.startups.count %></h4>
          <div class="text-muted"><%= t('types.service_types.startup.title').pluralize %></div>
        </div>
      <% end %>
      <% if current_service.is_startup? %>
        <div class="col-6 col-sm-2">
          <h4><i class="fa fa-fw fa-server"></i> <%= current_service.proxies.count %></h4>
          <div class="text-muted"><%= t('activerecord.models.proxy').pluralize %></div>
        </div>
      <% end %>
      <div class="col-6 col-sm-2">
        <h4><i class="fa fa-fw fa-edit"></i> <%= Contract.associated_services(current_service).count %></h4>
        <div class="text-muted"><%= t('activerecord.models.contract').pluralize %></div>
      </div>
    </section>

    <% if @service.is_activated? %>
      <hr />
      <h5><%= t('activerecord.models.identifier').pluralize %></h5>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">CLIENT_ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" readonly="readonly" value="<%= @service.client_id %>">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">CLIENT_SECRET</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" readonly="readonly" value="<%= @service.client_secret %>">
        </div>
      </div>

      <hr>
      <h5>API</h5>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">URI</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" readonly="readonly" value="<%= current_host %>/api/v1/<%= @service.subdomain %>">
        </div>
      </div>
    <% else %>
      <hr />
      <% if activation_requests.count > 0 %>
        <div class="alert alert-info text-center" role="alert">
          <h5 class="alert-heading"><%= t('misc.activation_request_already_sent') %></h5>
          <%= link_to t('actions.see_ticket'), ticket_path(activation_requests.last), class: 'btn btn-secondary' %>
        </div>
      <% else %>
        <div class="text-center">
          <%= link_to t('types.ticket_types.activation_request'), activation_request_service_path(@service), method: :post, class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    <% end %>

    <%= render partial: 'shared/measurement', locals: {input: @measures_input, output: @measures_output} %>

  </div>
</div>

<% if current_service.is_company? %>

  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls"><%= link_to t('actions.create_client'), new_service_path(parent_id: current_service.id, service_type: :client), class: 'btn btn-primary' %></div>
      <h4><%= t('types.service_types.client.title').pluralize %></h4>
    </div>
  </div>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <%= render partial: 'list_services', locals: {collection: @clients} %>
    </div>
  </div>

  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls"><%= link_to t('actions.create_startup'), new_service_path(parent_id: current_service.id, service_type: :startup), class: 'btn btn-primary' %></div>
      <h4><%= t('types.service_types.startup.title').pluralize %></h4>
    </div>
  </div>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <%= render partial: 'list_services', locals: {collection: @startups} %>
    </div>
  </div>

<% elsif current_service.parent.present? %>

  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls"></div>
      <h4><%= t('types.service_types.company.title') %></h4>
    </div>
  </div>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <%= render partial: 'services/show_service_info', locals: {service: current_service.parent} %>
    </div>
  </div>

<% end %>

<% unless @service.is_activated? %>
  <%= render layout: 'shared/custom_modal',
             locals: {
               title: t('misc.deactivated_service')
             } do %>

    <% if activation_requests.count > 0 %>
      <p><%= t('misc.activation_request_already_sent') %></p>
      <%= link_to t('actions.see_ticket'),
                  ticket_path(activation_requests.last),
                  class: 'btn btn-success' %>
    <% else %>
      <p><%= t('misc.activation_request_need') %></p>
      <%= link_to t('types.ticket_types.activation_request'),
                  activation_request_service_path(@service),
                  method: :post,
                  class: 'btn btn-primary' %>
    <% end %>

  <% end %>
<% end %>