<% content_for(:page_title) { @service.name } %>

<div class="b-io-content--secondary">
  <div class="container">

    <h5><%= @service.name %></h5>
    <%= @service.description %><br>

    <%= link_to t('actions.edit'), edit_service_path, class: 'btn btn-secondary' %>

    <hr>
    <h5>Identifiants</h5>

    CLIENT_ID: <%= @service.client_id %><br />
    CLIENT_SECRET: <%= @service.client_secret %><br />
    <hr>
    <% unless @service.is_client? %>
      <h5>API</h5>
      <p>/api/v1/<%= @service.subdomain %></p>
    <% end %>
    <% if current_user.has_role?(:superadmin) %>
      <hr>
      <h5>Fonctionalités admin</h5>
      <%= button_to t('actions.destroy'), service_path, class: 'btn btn-danger', method: :delete %>
      <% unless @service.is_activated? %>
        <%= link_to t('actions.activate'), activate_service_path, method: :post, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to t('actions.deactivate'), deactivate_service_path, method: :post, class: 'btn btn-primary' %>
      <% end %>
      <hr>
      <% unless @service.is_client? %>
        <% unless @service.public %>
            <%= link_to t('actions.public_set'), public_set_service_path, method: :post, class: 'btn btn-secondary'%>
        <% else %>
            <%= link_to t('actions.public_unset'), public_unset_service_path, method: :post, class: 'btn btn-secondary' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
