<% content_for(:page_title) { @service.name } %>

<div class="b-io-content--secondary">
  <div class="container">

    <h5><%= @service.name %></h5>
    <%= @service.description %><br>

    <%= link_to t('actions.edit'), edit_service_path, class: 'btn btn-secondary' %>

    <hr>
    <h5>Identifiants</h5>

    <%= @service.client_id %><br />
    <%= @service.client_secret %><br />

    <hr>
    <h5>Fonctionalités admin</h5>
    <%= button_to t('actions.destroy'), service_path, class: 'btn btn-danger', method: :delete %>

    <% unless @service.is_activated? %>
      <% if current_user.has_role?(:superadmin) %>
        <%= link_to t('actions.activate'), activate_service_path, method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <% if current_user.has_role?(:superadmin) %>
        <%= link_to t('actions.deactivate'), deactivate_service_path, method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

    <hr>
    <% unless @service.is_public? %>
        <%= link_to t('actions.public_set'), public_set_service_path, method: :post, class: 'btn btn-secondary'%>
    <% else %>
        <%= link_to t('actions.public_unset'), public_unset_service_path, method: :post, class: 'btn btn-secondary' %>
    <% end %>

  </div>
</div>
