<% content_for(:page_title) { @service.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <h5>Identifiants</h5>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">CLIENT_ID</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" readonly="readonly" value="<%= @service.client_id %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">CLIENT_SECRET</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" readonly="readonly" value="<%= @service.client_secret %>">
      </div>
    </div>

    <hr>
    <h5>API</h5>
    <p>/api/v1/<%= @service.subdomain %></p>

    <% if current_user.has_role?(:superadmin) %>
      <hr>
      <h5>Fonctionalités admin</h5>
      <%= button_to t('actions.destroy'), service_path, class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      <% unless @service.is_activated? %>
        <%= link_to t('actions.activate'), activate_service_path, method: :post, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to t('actions.deactivate'), deactivate_service_path, method: :post, class: 'btn btn-primary' %>
      <% end %>
      <hr>

      <% unless @service.is_client? %>
        <h5>Catalogue de startups</h5>
        <% unless @service.public %>
            <%= link_to t('actions.public_set'), public_set_service_path, method: :post, class: 'btn btn-secondary'%>
        <% else %>
            <%= link_to t('actions.public_unset'), public_unset_service_path, method: :post, class: 'btn btn-secondary' %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'shared/measurement' %>

  </div>
</div>
