<form class="ui large basic form" method="post" enctype="multipart/form-data" action="/dashboard/services<% if (typeof data.service != 'undefined') { %>/<%= data.service.nameNormalized %><% } %>?_csrf=<%= csrfToken %>">

  <div class="required field">
    <label>Nom du service</label>
    <div class="ui left icon input">
      <i class="cube icon"></i>
      <input type="text" name="service_name" value="<%= query.service.name %>" placeholder="Nom du service">
    </div>
  </div>
  <div class="required field">
    <label>Description</label>
    <textarea rows="5" name="service_description"><%= query.service.description %></textarea>
  </div>
  <div class="field">
    <label>Logo</label>
    <div class="ui left icon input">
      <i class="image icon"></i>
      <input type="file" name="service_logo" value="">
    </div>
  </div>
  <div class="field">
    <label>Site Internet</label>
    <div class="ui left icon input">
      <i class="world icon"></i>
      <input type="text" name="service_website" value="<%= query.service.website %>" placeholder="Site Internet">
    </div>
  </div>
  <div class="<% if (query.service.validated === false) { %>disabled<% } %> field">
    <label>Référencer sur l'API</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" value="true" name="service_public" class="hidden" <% if (query.service.public === true) { %>checked="checked"<% } %>>
      <label>Référencer le service sur l'API du CPA Store</label>
      <% if (query.service.validated === false) { %>
      <div class="ui pointing red basic label">
        Votre service doit être validé par l'équipe administratrice avant de prétendre être référencé.
      </div>
      <% } %>
    </div>
  </div>

  <div class="ui submit button" tabindex="0">
    <% if (typeof query.service._id == 'undefined') { %>
    Ajouter le service
    <% } else { %>
    Enregistrer les modifications
    <% } %>
  </div>

</form>
