<div class="ui twice attached segment">
  <h1 class="ui header">
    <img class="ui image" src="<%= data.service.getThumbnail('-100x100bg.png') %>">
    <div class="content">
      <%= data.service.name %>
      <div class="sub header">
        <% if (!data.service.validated) { %>
        <div class="ui red empty circular label"></div> &nbsp;En attente de validation
        <% } else if (data.service.public) { %>
        <div class="ui green empty circular label"></div> &nbsp;Référencé sur l'API
        <% } else { %>
        <div class="ui grey empty circular label"></div> &nbsp;Privé
        <% } %>
      </div>
    </div>
  </h1>
</div>
<div class="ui bottom attached pointing menu">
  <a class="item <% if (page === 'pages/dashboard/services/view') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>">
    État
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/routes/') == 0 || page.indexOf('pages/dashboard/fields/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/routes">
    Bases de données
  </a>
  <a class="item <% if (page === 'pages/dashboard/services/edit') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/edit">
    Paramètres du service
  </a>
</div>
<% if (page === 'pages/dashboard/services/edit' || page.indexOf('pages/dashboard/users/') == 0 || page.indexOf('pages/dashboard/tokens/') == 0 || page.indexOf('pages/dashboard/pages/') == 0) { %>
<div class="ui pointing menu">
  <a class="item <% if (page === 'pages/dashboard/services/edit') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/edit">
    Paramètres
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/users/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/users">
    Collaborateurs
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/tokens/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/tokens">
    Jetons de connexion
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/pages/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/pages">
    Documentation
  </a>
</div>
<% } %>
