<h1 class="ui header">
  <i class="cube bordered icon"></i>
  <div class="content">
    <%= data.service.name %>
    <div class="sub header">Mode: Développement</div>
  </div>
</h1>
<div class="ui pointing menu">
  <a class="item <% if (page === 'pages/dashboard/services/view') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>">
    État
  </a>
  <a class="item <% if (page === 'pages/dashboard/services/edit') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/edit">
    Modifier
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/users/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/users">
    Développeurs
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/tokens/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/tokens">
    Jetons
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/routes/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/routes">
    Données partagées
  </a>
</div>
