<div class="ui twice attached segment">
  <h1 class="ui header">
    <img class="ui image" src="https://s3-eu-west-1.amazonaws.com/api-cpa-development-thumbs/services/logos/<%= data.service.clientId %>-100x100bg.png">
    <div class="content">
      <%= data.service.name %>
      <div class="sub header">Service</div>
    </div>
  </h1>
</div>
<div class="ui bottom attached pointing menu">
  <a class="item <% if (page === 'pages/dashboard/services/view') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>">
    État
  </a>
  <a class="item <% if (page === 'pages/dashboard/services/edit') { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/edit">
    Modifier
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/users/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/users">
    Développeurs
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/tokens/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/tokens">
    Jetons de connexion
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/routes/') == 0 || page.indexOf('pages/dashboard/fields/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/routes">
    Collections
  </a>
  <a class="item <% if (page.indexOf('pages/dashboard/pages/') == 0) { %>active<% } %>" href="/dashboard/services/<%= data.service.nameNormalized %>/pages">
    Documentation
  </a>
</div>
