<div class="ui container">
  <% include ./header %>

  <div class="ui segment">
    <form class="ui basic form" method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/tokens/generate">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="submit" class="ui button" value="Générer un jeton"/>
  </div>
  <% if (tokens.length > 0) { %>
  <table class="ui <% if (tokens.length > 1) { %>sortable<% } %> celled table">
    <thead>
    <tr>
      <th>État</th>
      <th class="six wide no-sort">Token</th>
      <th class="sort-by-date">Dernière utilisation</th>
      <th class="sort-by-date">Expiration</th>
      <th>Stats</th>
      <th class="two wide no-sort"></th>
    </tr>
    </thead>
    <tbody>
    <% tokens.forEach(function(token) { %>
      <tr class="<% if(token.accessTokenExpiresOn < now) { %>warning<% } %>">
        <td>
          <% if(token.accessTokenExpiresOn >= now) { %>
          <div class="ui ribbon label">Actif</div>
          <% } else { %>
          Expiré
          <% } %>
        </td>
        <td>
          <div class="ui fluid left icon input">
            <input type="text" value="<%= token.accessToken %>">
            <i class="file code outline icon"></i>
          </div>
        </td>
        <td><% if (token.updatedAt || token.createdAt) { %><%= token.updatedAt ? token.updatedAt.toISOString() : token.createdAt.toISOString() %><% } %></td>
        <td><% if (token.accessTokenExpiresOn) { %><%= token.accessTokenExpiresOn.toISOString() %><% } %></td>
        <td>
          <%= token.nbOfUse %> time(s)
        </td>
        <td>
          <% if(token.accessTokenExpiresOn >= now) { %>
            <form method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/tokens/<%= token.accessToken %>/revoke">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="ui tiny labeled icon button">
                <i class="pause icon"></i>
                Révoquer
              </button>
            </form>
          <% } else { %>
            <form method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/tokens/<%= token.accessToken %>/destroy">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="ui tiny labeled icon button">
                <i class="trash icon"></i>
                Supprimer
              </button>
            </form>
          <% } %>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="divider"></div>
  <% } else { %>
  <div class="ui segment">
    Vous n'avez généré aucun jeton de connexion
  </div>
  <% } %>


</div>
