<h1><%= I18n.t("mailer.contract_notifier.send_validated_status_notification.subject", status: @staging_name) %></h1>

<p>
  <strong>Client :</strong> <%= @contract.client.name %><br />
  <strong>Fournisseur :</strong> <%= @contract.startup.name %><br />
  <strong>Produit :</strong> <%= @contract.proxy.name %>
</p>

<p>
  <a href="<%= contract_url(@contract, locale: @user_locale) %>">Voir le contrat</a>
</p>
