<%= simple_form_for [:back_office, @ticket] do |f| %>

  <%= error_messages_for(f.object) %>

  <%= f.input :subject %>
  <%= f.input :ticket_type, as: :select, collection: format_ticket_types_for_select %>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= t("activerecord.attributes.ticket.ticket_status") %>
          </td>
          <td>
            <%= t("types.ticket_status.#{@ticket.ticket_status}")  %>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
