<% if collection.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th colspan="2"><%= t('activerecord.attributes.ticket.subject') %></th>
      <th><%=  t("activerecord.attributes.ticket.ticket_status") %></th>
      <th>
        <small class="text-muted"><%= t("activerecord.attributes.ticket.created_at") %></small> <br />
        <%= t("activerecord.attributes.ticket.updated_at") %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |ticket| %>
      <tr>
        <td class="width-3">
          <i class="fa fa-fw fa-envelope<%= '-open' unless ticket.is_closed? %> fa-2x"></i>
        </td>
        <td>
          <strong><%= ticket.subject %></strong><br />
          <small class="text-muted"><%=  t("types.ticket_types.#{ticket.ticket_type}") %></small><br />
        </td>
        <td>
          <span class="<%= t("types.ticket_statuses.#{ticket.ticket_status}.class") %>"><%= t("types.ticket_statuses.#{ticket.ticket_status}.title") %></span>
        </td>
        <td>
          <small class="text-muted"><%= l(ticket.created_at, format: :short) %></small> <br />
          <%= l(ticket.updated_at, format: :short) %>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
              <%= t('misc.actions') %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">

              <% if ticket.is_closed? %>
                <%= link_to open_back_office_ticket_path(ticket),
                            class: 'dropdown-item',
                            method: :post,
                            data: {
                              confirm: 'Are you sure?'
                            } do %>
                  <i class="fa fa-fw fa-envelope-open"></i> <%= t('actions.reopen') %>
                <% end %>
              <% else %>
                <%= link_to edit_back_office_ticket_path(ticket),
                            class: 'dropdown-item' do %>
                  <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
                <% end %>
                <%= link_to close_back_office_ticket_path(ticket),
                            class: 'dropdown-item',
                            method: :post,
                            data: {
                              confirm: 'Are you sure?'
                            } do %>
                  <i class="fa fa-fw fa-envelope"></i> <%= t('actions.close') %>
                <% end %>
              <% end %>
              <% if ticket.service %>
                <div class="dropdown-divider"></div>
                <%= link_to back_office_service_path(ticket.service),
                            class: 'dropdown-item' do %>
                  <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit_service') %>
                <% end %>
                <%= link_to service_path(ticket.service),
                            class: 'dropdown-item' do %>
                  <i class="fa fa-fw fa-dashboard"></i> <%= t('misc.dashboard') %>
                <% end %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to back_office_ticket_path(ticket),
                          class: 'dropdown-item',
                          method: :delete,
                          data: {
                            confirm: 'Are you sure?'
                          } do %>
                <i class="fa fa-fw fa-trash"></i> <%= t('actions.destroy') %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>