<% content_for(:page_back) { back_office_tickets_path } %>
<% content_for(:page_title) { @ticket.subject } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= @ticket.user.full_name %>

    <%= render partial: 'form' %>

    <%= link_to t('actions.close'), closed_back_office_ticket_path(@ticket), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top'}, method: :post, class: 'btn btn-danger btn-sm' %>
    <%= link_to '<i class="fa fa-fw fa-trash"></i>'.html_safe, back_office_ticket_path(@ticket), title: t('actions.destroy'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top'}, method: :delete, class: 'btn btn-danger btn-sm' %>


  </div>
</div>

<%= render partial: 'comments' %>

<%= render partial: 'shared/versions', locals: {objects: [@ticket]} %>
