<div class="ui container">
  <% include ../services/header %>
  <% include ../routes/_header %>

  <div class="ui grid">
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
        <a class="active item">
          Liste des attributs (<%= data.route.fields.length %>)
        </a>
        <a class="item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields/new">
          <i class="add icon"></i>
          Ajouter un attribut
        </a>
      </div>
    </div>
    <div class="twelve wide column">
      <% if (data.route.fields.length > 0) { %>
      <table class="ui celled compact table">
        <thead>
        <tr>
          <th>Type &amp; nom</th>
          <th colspan="<% if (data.route.fields.length > 1) { %>4<% } else { %>2<% } %>" class="two wide no-sort"></th>
        </tr>
        </thead>
        <tbody>
        <% data.route.fields.forEach(function(field) { %>
        <tr>
          <td>
            <i class="<%= field.completeType.icon %> bordered icon"></i> <strong><%= field.nameNormalized %><% if (field.required) { %> *<% } %></strong>
          </td>
          <% if (data.route.fields.length > 1) { %>
          <td>
            <% if (field.order > 0) { %>
            <form method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields/<%= field.fieldId %>/up">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="ui mini icon button">
                <i class="caret up icon"></i>
              </button>
            </form>
            <% } %>
          </td>
          <td>
            <% if (field.order != data.route.fields.length - 1) { %>
            <form method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields/<%= field.fieldId %>/down">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="ui mini icon button">
                <i class="caret down icon"></i>
              </button>
            </form>
            <% } %>
          </td>
          <% } %>
          <td>
            <a class="ui mini icon button" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields/<%= field.fieldId %>/edit">
              <i class="edit icon"></i>
            </a>
          </td>
          <td>
            <a class="ui mini icon button remove_field_btn" data-field-id="<%= field.fieldId %>" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields/<%= field.fieldId %>">
              <i class="trash icon"></i>
            </a>
          </td>
        </tr>
        <% }) %>
        </tbody>
      </table>
      <div class="divider"></div>
      <% } else { %>
      <div class="ui segment">
        Vous n'avez créé aucun champ
      </div>
      <% } %>
    </div>
  </div>

</div>


<div class="ui basic modal" id="remove_field_modal">
  <div class="ui inverted icon header">
    <i class="trash icon"></i>
    <div class="content">
      Supprimer le champs
      <div class="sub header">
        Êtes-vous certain de vouloir supprimer le champs de cette collection ?
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned basic segment">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        Annuler
      </div>
      <div class="ui ok green basic inverted button" id="remove_field_btn">
        <i class="checkmark icon"></i>
        Confirmer
      </div>
    </div>
  </div>
</div>

<form id="remove_field_form" method="post" action="">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script>
  $(document).on('ready', function(e) {
    $('.remove_field_btn').on('click', function(e) {
      e.preventDefault();
      var field_id = $(this).data('field-id');
      document.getElementById('remove_field_form').action = '/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields/' + field_id + '/destroy';
      $('#remove_field_modal').modal('show');
    });
    $('#remove_field_btn').on('click', function(e) {
      document.getElementById('remove_field_form').submit();
    });
  });
</script>