<%
  tab_active = nil
  tab_attributes = {
    proxy_main: [:name, :alias, :description, :category_id, :public],
    proxy_authorization: [:'proxy_parameter.authorization_mode', :'proxy_parameter.authorization_url', :'proxy_parameter.realm', :'proxy_parameter.grant_type', :'proxy_parameter.identifier.client_id', :'proxy_parameter.identifier.encrypted_secret', :'proxy_parameter.scope', :'proxy_parameter.follow_url', :'proxy_parameter.follow_redirection', :'proxy_parameter.protocol', :'proxy_parameter.hostname', :'proxy_parameter.port'],
    proxy_authorization_test: [:'proxy_parameter_test.authorization_mode', :'proxy_parameter_test.authorization_url', :'proxy_parameter_test.realm', :'proxy_parameter_test.grant_type', :'proxy_parameter_test.identifier.client_id', :'proxy_parameter_test.identifier.encrypted_secret', :'proxy_parameter_test.scope', :'proxy_parameter_test.follow_url', :'proxy_parameter_test.follow_redirection', :'proxy_parameter_test.protocol', :'proxy_parameter_test.hostname', :'proxy_parameter_test.port']
  }
  tab_errors = {
    proxy_main: 0,
    proxy_authorization_test: 0,
    proxy_authorization: 0
  }

  if @proxy.errors.messages.length > 0
    tab_attributes.each_pair do |k, v|
      v.each do |v2|
        if @proxy.errors.messages.include? v2
          tab_active = k if tab_active == nil
          tab_errors[k] = 1
        end
      end
    end
  end

  tab_active = :proxy_main if tab_active.nil?
%>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab_active == :proxy_main %> <%= 'has-danger' if tab_errors[:proxy_main] == 1 %>" data-toggle="tab" href="#proxy_main" role="tab"><%= t('.tabs.general') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab_active == :proxy_authorization_test %> <%= 'has-danger' if tab_errors[:proxy_authorization_test] == 1 %>" data-toggle="tab" href="#proxy_authorization_test" role="tab"><%= t('.tabs.proxy_authorization_test.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if tab_active == :proxy_authorization %> <%= 'has-danger' if tab_errors[:proxy_authorization] == 1 %>" data-toggle="tab" href="#proxy_authorization" role="tab"><%= t('.tabs.proxy_authorization.title') %></a>
  </li>
</ul>

<%= simple_form_for [current_service, @proxy] do |f| %>

  <%= error_messages_for(@proxy) %>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane <%= 'active' if tab_active == :proxy_main %>" id="proxy_main">
      <%= f.input :name %>
      <%= f.input :subdomain, hint: t('proxies.form.hints.subdomain') %>
      <%= f.input :category_id, as: :select, collection: format_categories_for_select(@categories), input_html: {class:'select2'}, include_blank: t('misc.none_feminized') %>
      <%= f.input :public, as: :radio_buttons, collection: format_boolean_values_for_input %>
      <%= f.input :description, as: :text, input_html: {rows: 5} %>
    </div>

    <div role="tabpanel" class="tab-pane <%= 'active' if tab_active == :proxy_authorization_test %>" id="proxy_authorization_test">
      <p><%= t('.tabs.proxy_authorization_test.hint') %></p>
      <%= f.simple_fields_for :proxy_parameter_test do |f2| %>
        <%= f2.input :protocol, as: :select, collection: format_protocols_for_radio_buttons %>
        <%= f2.input :hostname, hint: t('.hints.hostname') %>
        <%= f2.input :port %>
        <%= f2.input :follow_url, as: :radio_buttons, collection: format_boolean_values_for_input %>
        <%= f2.input :follow_redirection %>

        <%= f2.input :authorization_mode, as: :select, collection: format_authorization_modes_for_select %>
        <%= f2.input :authorization_url, hint: t('.hints.authorization_url') %>
        <%= f2.input :realm %>
        <%= f2.input :grant_type %>
        <%= f2.input :scope, as: :select, include_blank: false, multiple: true, collection: f2.object.scopes, selected: f2.object.scopes, input_html: {'data-layer': 'tags', multiple: 'multiple', name: 'proxy[proxy_parameter_test_attributes][scopes][]'} %>

        <%= f2.simple_fields_for :identifier do |f3| %>
          <%= f3.input :client_id, required: f2.object.authorization_required? %>
          <%= f3.input :client_secret, as: :password, required: (f2.object.authorization_required? && !f3.object.persisted?), hint: (t('.hints.client_secret') if f3.object.persisted?) %>
        <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane <%= 'active' if tab_active == :proxy_authorization %>" id="proxy_authorization">
      <p><%= t('.tabs.proxy_authorization.hint') %></p>
      <%= f.simple_fields_for :proxy_parameter do |f2| %>
        <%= f2.input :protocol, as: :select, collection: format_protocols_for_radio_buttons %>
        <%= f2.input :hostname, hint: t('.hints.hostname') %>
        <%= f2.input :port %>
        <%= f2.input :follow_url, as: :radio_buttons, collection: format_boolean_values_for_input %>
        <%= f2.input :follow_redirection %>

        <%= f2.input :authorization_mode, as: :select, collection: format_authorization_modes_for_select %>
        <%= f2.input :authorization_url, hint: t('.hints.authorization_url') %>
        <%= f2.input :realm %>
        <%= f2.input :grant_type %>
        <%= f2.input :scope, as: :select, include_blank: false, multiple: true, collection: f2.object.scopes, selected: f2.object.scopes, input_html: {'data-layer': 'tags', multiple: 'multiple', name: 'proxy[proxy_parameter_attributes][scopes][]'} %>

        <%= f2.simple_fields_for :identifier do |f3| %>
          <%= f3.input :client_id, required: f2.object.authorization_required? %>
          <%= f3.input :client_secret, as: :password, required: (f2.object.authorization_required? && !f3.object.persisted?), hint: (t('.hints.client_secret') if f3.object.persisted?) %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
