<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.proxy.name') %></strong>
  </div>
  <div class="col-9">
    <strong><i class="fa fa-fw fa-server"></i> <%= proxy.name %></strong><br />
    <small class="text-muted"><%= simple_format(proxy.description) %></small>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.proxy.is_active') %></strong>
  </div>
  <div class="col-9">
    <i class="<%= t("misc.is_active.#{proxy.is_active}.icon") %>"></i> <%= t("misc.is_active.#{proxy.is_active}.title") %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.proxy.public') %></strong>
  </div>
  <div class="col-9">
    <%= t("misc.#{proxy.public}") %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.proxy.subdomain') %></strong>
  </div>
  <div class="col-9">
    <%= proxy.subdomain %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.proxy.category') %></strong>
  </div>
  <div class="col-9">
    <%= proxy.category.try(:name) || '---' %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.models.route').pluralize %></strong>
  </div>
  <div class="col-9">
    <ul>
      <% proxy.routes.map do |route| %>
        <li>
          <i class="fa fa-fw fa-sitemap"></i> <%= route.name %> <br />
          <small class="text-muted"><%= route.local_url('v1') %></small>
        </li>
      <% end %>
    </ul>
  </div>
</div>