<% content_for(:page_title, t('.title')) %>
<% content_for(:page_description, t('.description')) %>
<% content_for(:page_controls) { link_to t('actions.create_proxy'), new_service_proxy_path(current_service), class: 'btn btn-primary' } %>

<div class="b-io-content--secondary">

  <div class="container-fluid">
    <table class="table table-sm table-hover table-link">
      <thead>
      <tr>
        <th colspan="2" class="width-40"><%= t('activerecord.attributes.proxy.name') %></th>
        <th><%= t('activerecord.attributes.proxy.is_active') %></th>
        <th><%= t('activerecord.attributes.proxy.category') %></th>
        <th><%= t('activerecord.attributes.proxy.public') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |proxy| %>
        <tr data-link="<%= service_proxy_path(current_service, proxy) %>">
          <td class="width-3">
            <i class="fa fa-fw fa-2x fa-server"></i>
          </td>
          <td>
            <strong><%= proxy.name %></strong><br />
            <small class="text-muted"><%= simple_format(proxy.description) %></small>
          </td>
          <td>
            <i class="<%= t("misc.icon_big_active.#{((proxy.is_active) ? "sucess" : "danger")}") %>"></i>
          </td>
          <td>
            <%= proxy.category.try(:name) || '<span class="text-muted">---</span>'.html_safe %>
          </td>
          <td>
            <% unless current_service.public %>
              <i class="fa fa-fw fa-lock"></i> <%= t('misc.service_not_published') %>
            <% else %>
              <%= t("misc.#{proxy.public}") %>
            <% end %>
          </td>
          <td class="text-right">
            <%= link_to t('actions.configure'), service_proxy_path(current_service, proxy), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
