<%
  content_for(:page_title, t('.title'))

  content_for(:page_description, t('.description'))

  content_for(:page_controls) {
    link_to "<i class=\"fa fa-fw fa-plus-circle\"></i> #{t('actions.create_proxy')}".html_safe,
            new_service_proxy_path(current_service),
            class: 'btn btn-primary'
  }
%>

<div class="b-io-content--secondary">

  <div class="container-fluid">
    <table class="table table-sm table-hover table-link">
      <thead>
      <tr>
        <th colspan="2"><%= t('activerecord.attributes.proxy.name') %></th>
        <th><%= t('activerecord.attributes.proxy.is_active') %></th>
        <th>
          <%= t('activerecord.attributes.proxy.category') %><br />
          <small class="text-muted"><%= t('activerecord.attributes.proxy.public') %></small>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |proxy| %>
        <tr data-link="<%= service_proxy_path(current_service, proxy) %>">
          <td class="width-3">
            <i class="fa fa-fw fa-2x fa-server"></i>
          </td>
          <td>
            <p>
              <strong><%= proxy.name %></strong><br />
              <%= proxy.local_url %>
            </p>
          </td>
          <td>
            <i class="fa-2x <%= t("misc.is_active.#{proxy.is_active}.icon") %>" data-placement="top" title="<%= t("misc.is_active.#{proxy.is_active}.title") %>" data-toggle="tooltip"></i>
          </td>
          <td>
            <%= proxy.category.try(:name) || '<span class="text-muted">---</span>'.html_safe %><br />
            <small class="text-muted">
              <% unless current_service.public %>
                <i class="fa fa-fw fa-lock"></i> <%= t('misc.service_not_published') %>
              <% else %>
                <%= t("misc.#{proxy.public}") %>
              <% end %>
            </small>
          </td>
          <td class="text-right">
            <%= link_to t('actions.configure'), service_proxy_path(current_service, proxy), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
