<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container">

    <%= @proxy.name %><br />
    <%= @proxy.description %><br />

    <%= link_to t('actions.edit'), edit_service_proxy_path(current_service, @proxy), class: 'btn btn-secondary' %>
    <%= link_to t('actions.routes'), service_proxy_routes_path(current_service, @proxy), class: 'btn btn-secondary' %>

    <% unless @proxy.proxy_parameter.nil? %>
      <%= render partial: 'proxy_parameters', locals: {proxy_parameter: @proxy.proxy_parameter} %>
    <% end %>

  </div>
</div>
