<% content_for(:page_title, @proxy.name) %>

<div class="b-io-content--secondary">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h5><%= @proxy.name %></h5>
        <%= @proxy.description %>
      </div>
    </div>

    <hr>
    <h5>API</h5>
    <p>/api/v1/<%= current_service.subdomain %>/proxies/<%= @proxy.id %></p>

    <hr />

    <div class="text-sm-right">
      <%= link_to t('actions.destroy'), service_proxy_path(current_service, @proxy), method: :delete, class: 'btn btn-secondary btn-danger' %>
    </div>

  </div>
</div>
