<%= simple_form_for [:back_office, @proxy.proxy_parameter], url: save_configuration_back_office_proxy_path(@proxy), method: :post do |f| %>

  <%= f.input :authentication_mode, as: :select, collection: format_authentication_modes_for_select, include_blank: t('.select_authentication_mode') %>
  <%= f.input :protocol %>
  <%= f.input :hostname %>
  <%= f.input :port %>
  <%= f.input :authentication_url %>
  <%= f.input :realm %>
  <%= f.input :grant_type %>
  <%= f.input :client_id %>
  <%= f.input :client_secret %>

  <div class="actions">
    <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
  </div>

<% end %>
