<h1>Un nouveau service a été créé sur l'API du CPA Store</h1>

<p>
  Développeur : <%= user %> (<%= email %>)<br />
  Nom : <%= name %><br />
  Site Internet : <%= website %><br />
  Description :<br />
  <%= description %>
</p>

<p><a href="<%= link %>">Valider le service</a></p>