<% if tester_request.is_a?(::Tester::Requests::Template) %>

  <div class="row">
    <div class="col-3 text-right">
      <strong><%= t('activerecord.attributes.tester/request.template_name') %></strong>
    </div>
    <div class="col-9">
      <p><strong><i class="fa fa-fw fa-magic"></i> <%= tester_request.template_name %></strong></p>
      <div class="trix-content">
        <%= tester_request.template_description.html_safe %>
      </div>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="col-3 text-right">
      <strong><%= t('activerecord.attributes.tester/request.name') %></strong>
    </div>
    <div class="col-9">
      <strong><i class="fa fa-fw fa-magic"></i> <%= tester_request.name %></strong>
    </div>
  </div>

<% end %>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.tester/request.method') %></strong>
  </div>
  <div class="col-9">
    <%= tester_request.method %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.tester/request.use_authorization') %></strong>
  </div>
  <div class="col-9">
    <%= tester_request.use_authorization ? t('tester.requests.form.hints.yes_if_necessary') : t('misc.false') %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.tester/request.tester_parameters_headers') %></strong>
  </div>
  <div class="col-9">
    <pre><code><% tester_request.tester_parameters_headers.each.with_index do |parameter, i| %><% if i > 0 %><br /><% end %><%= parameter.name.titleize.gsub(/ /, '-') %>: <%= parameter.value %><% end %></code></pre>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('activerecord.attributes.tester/request.tester_parameters_queries') %></strong>
  </div>
  <div class="col-9">
    <pre><code><% tester_request.tester_parameters_queries.each.with_index do |parameter, i| %><% if i > 0 %><br />&amp;<% end %><%= parameter.name %>=<%= parameter.value %><% end %></code></pre>
  </div>
</div>

<% if tester_request.request_body.present? %>

  <hr>

  <div class="row">
    <div class="col-3 text-right">
      <strong><%= t('activerecord.attributes.tester/request.request_body') %></strong>
    </div>
    <div class="col-9">

        <pre class="ace-viewer"
             id="tester-request-ace-viewer-0"
             data-format="json"><%= JSON.pretty_generate(JSON.parse(tester_request.request_body)) %></pre>
    </div>
  </div>

<% end %>