<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('misc.http_status') %></strong>
  </div>
  <div class="col-9">
    <strong><%= @result[:status] %></strong>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-3 text-right">
    <strong><%= t('misc.request_state') %></strong>
  </div>
  <div class="col-9">
    <% if @result[:error] %>
      <div class="text-danger">
        <p><i class="fa fa-fw fa-close"></i> <%= t('misc.an_error_occured') %></p>
        <p>
          <%= @result[:error_code] %> <%= @result[:error_title] %><br />
          <small><%= @result[:error_message] %></small>
        </p>
      </div>

      <%= link_to errors_documentations_path, class: 'btn btn-secondary', target: '_blank' do %>
        <i class="fa fa-fw fa-question-circle"></i> <%= t('documentations.errors.title') %>
      <% end %>
    <% else %>
      <i class="fa fa-fw fa-check"></i> OK
    <% end %>
  </div>
</div>

<% if @result[:request] %>

  <hr>

  <div class="row">
    <div class="col-3 text-right">
      <strong><%= t('misc.method') %></strong>
    </div>
    <div class="col-9">
      <%= @result[:request][:method] %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-3 text-right">
      <strong>URI</strong>
    </div>
    <div class="col-9">
      <pre><code><%= @result[:request][:original_url] %></code></pre>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-3 text-right">
      <strong><%= t('misc.headers') %></strong>
    </div>
    <div class="col-9">
      <pre><code><% @result[:request][:headers].each.with_index do |(key, value), i| %><% if i > 0 %><br /><% end %><%= key.titleize.gsub(/ /, '-') %>: <%= value %><% end %></code></pre>
    </div>
  </div>

  <% if @result[:request][:body].present? %>

    <hr>

    <div class="row">
      <div class="col-3 text-right">
        <strong><%= t('misc.body') %></strong>
      </div>
      <div class="col-9">

        <%
          begin
            json_result = JSON.parse(@result[:request][:body])
        %>

          <pre class="ace-viewer"
               id="tester-request-ace-viewer-2"
               data-format="json"><%= JSON.pretty_generate(json_result) %></pre>

        <% rescue %>

          <pre class="ace-viewer"
               id="tester-request-ace-viewer-2"
               data-format="xml"><%= @result[:request][:body] %></pre>

        <% end %>

      </div>
    </div>

  <% end %>

<% end %>


<% if @result[:response] %>

  <hr>

  <div class="row">
    <div class="col-3 text-right">
      <strong><%= t('misc.response_headers') %></strong>
    </div>
    <div class="col-9">
      <pre><code><% @result[:response][:headers].each.with_index do |(key, value), i| %><% if i > 0 %><br /><% end %><%= key.titleize.gsub(/ /, '-') %>: <%= value %><% end %></code></pre>
    </div>
  </div>

  <% if @result[:response][:body].present? %>

    <hr>

    <div class="row">
      <div class="col-3 text-right">
        <strong><%= t('misc.response_body_elements') %></strong>
      </div>
      <div class="col-9">

        <%
          begin
            json_result = JSON.parse(@result[:response][:body])
        %>

          <pre class="ace-viewer"
               id="tester-request-ace-viewer-1"
               data-format="json"><%= JSON.pretty_generate(json_result) %></pre>

        <% rescue %>

          <pre class="ace-viewer"
               id="tester-request-ace-viewer-1"
               data-format="xml"><%= @result[:response][:body] %></pre>

        <% end %>

      </div>
    </div>

  <% end %>

<% end %>