<%= simple_form_for current_request,
                    url: service_proxy_tester_process_template_request_path(
                      current_service,
                      current_proxy,
                      id: current_request.id
                    ),
                    remote: request.xhr?,
                    method: :post do |f| %>

  <%= f.input :route_id,
              collection: format_routes_for_select(current_proxy.routes),
              include_blank: false,
              input_html: {
                class: 'select2'
              } %>

  <div class="form-group row radio_buttons optional use_test_settings">
    <label class="col-md-3 col-control-label radio_buttons optional">

    </label>
    <div class="col-md-9">
      <input type="hidden" name="proxy[public]" value="">
      <div class="radio form-check">
        <label for="use_test_settings_true">
          <input class="radio_buttons optional" type="radio" value="true" checked="checked" name="use_test_settings" id="use_test_settings_true">
          <%= t('actions.test_request_test') %>
        </label>
      </div>
      <div class="radio form-check">
        <label for="use_test_settings_false">
          <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="use_test_settings" id="use_test_settings_false">
          <%= t('actions.test_request_production') %>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit,
                   value: t('actions.test'),
                   data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>


<% if @result.present? %>

  <hr />

  <% if !@tester_result.status %>

    <h3><i class="fa fa-close"></i> Failure</h3>
    <%= format_error_message(@tester_result.error_message) %>

  <% else %>

    <h3><i class="fa fa-check"></i> Success</h3>

  <% end %>

  <hr />

  <div>
    <pre class="ace-viewer"
         id="tester-request-ace-viewer"
         data-format="json"><%= JSON.pretty_generate(@result) %></pre>
  </div>

<% end %>