<div class="row form-group">
  <%= f.input :id, as: :hidden %>
  <%= f.input :type, as: :hidden %>
  <%= f.input :_destroy, as: :hidden, input_html: {data: {destroy: 1}} %>

  <div class="col-4">
    <div class="input-group <%= 'has-danger' if f.object&.errors&.any? %>">
      <span class="input-group-addon" id="basic-addon3"><%= t('activerecord.attributes.tester/parameter.name') %></span>
      <%= f.text_field :name,
                       class: 'form-control' %>
    </div>
  </div>
  <div class="col-3">
    <%= f.select :comparison_operator,
                 format_tester_parameter_comparison_operators_for_select,
                 {},
                 {class: 'form-control form-control-comparison-operator'} %>
  </div>

  <div class="col-4 wrapper-for-value <%= 'hidden-xs-up' if f.object && (!f.object.comparison_operator || !Tester::Parameter::COMPARISON_OPERATORS[f.object.comparison_operator.to_sym][:has_value]) %>">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3"><%= t('activerecord.attributes.tester/parameter.value') %></span>
      <%= f.text_field :value,
                       class: 'form-control' %>
    </div>
  </div>

  <div class="col-4 wrapper-for-expected-type <%= 'hidden-xs-up' if f.object && (!f.object.comparison_operator || !Tester::Parameter::COMPARISON_OPERATORS[f.object.comparison_operator.to_sym][:has_expected_type]) %>">
    <%= f.select :expected_type,
                 format_tester_parameter_expected_types_for_select,
                 {},
                 {class: 'form-control'} %>
  </div>

  <div class="col-4 wrapper-for-nothing <%= 'hidden-xs-up' if f.object && f.object.comparison_operator && (Tester::Parameter::COMPARISON_OPERATORS[f.object.comparison_operator.to_sym][:has_value] || Tester::Parameter::COMPARISON_OPERATORS[f.object.comparison_operator.to_sym][:has_expected_type]) %>">
  </div>

  <div class="col-1 text-right">
    <%= link_to '#',
                class: 'btn btn-secondary form-group-remove',
                data: {
                  toggle: 'tooltip'
                },
                title: t('actions.remove') do %>
      <i class="fa fa-fx fa-close"></i>
    <% end %>
  </div>
</div>