<% content_for(:page_controls) { link_to t('actions.new'), new_back_office_category_path, class: 'btn btn-primary' } %>
<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th colspan="2">
          <%= t('activerecord.attributes.category.name') %>
        </th>
        <th>
          <%= t('activerecord.attributes.category.description') %>
        </th>
        <th>
          <%= t('activerecord.attributes.category.proxies_count') %>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |category| %>
      <tr>
        <td class="width-3">
          <i class="fa-2x fa fa-fw fa-folder-open"></i>
        </td>
        <td>
          <%= category.name %>
        </td>
        <td>
          <small class="trix-content"><%= category.description.html_safe %></small>
        </td>
        <td>
          <%= category.proxies.count %>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
              <%= t('misc.actions') %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to edit_back_office_category_path(category),
                          class: 'dropdown-item' do %>
                <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to back_office_category_path(category),
                          class: 'dropdown-item',
                          method: :delete,
                          data: {
                            confirm: 'Are you sure?'
                          } do %>
                <i class="fa fa-fw fa-trash"></i> <%= t('actions.destroy') %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
