<% if @current_status[:allowed_parameters].keys.size == 0 %>

  <p>[Impossible de modifier les paramètres du contrat à ce stade]</p>

<% else %>

  <%= simple_form_for @form_values do |f| %>
    <%= error_messages_for(f.object) %>

    <%= f.input :proxy_id, as: :hidden %>
    <%= f.input :client_id, as: :hidden %>

    <div class="form-group row">
      <label class="col-md-3 col-form-label"><%= t('active_record.attributes.contract.client') %></label>
      <div class="col-md-9">
        <h5 class="<%= t("types.service_types.#{f.object.client.service_type}.class") %>"><i class="<%= t("types.service_types.#{f.object.client.service_type}.icon") %>"></i> <%= f.object.client.name %></h5>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label"><%= t('active_record.attributes.contract.proxy') %></label>
      <div class="col-md-9">
        <h5><i class="fa fa-fw fa-server"></i> <%= f.object.proxy.name %></h5>
        <%= f.object.proxy.description %>
      </div>
    </div>

    <% if f.object.can_edit_attribute?(current_user, :client_code) %>
      <%= f.input :client_code, hint: t('.hints.client_code') %>
    <% end %>

    <% if f.object.can_edit_attribute?(current_user, :startup_code) %>
      <%= f.input :startup_code, hint: t('.hints.startup_code') %>
    <% end %>

    <% if f.object.can_edit_attribute?(current_user, :expected_start_date) %>
      <%= f.input :expected_start_date, as: :string, input_html: {class: 'date-picker col-sm-3'} %>
    <% end %>

    <% if f.object.can_edit_attribute?(current_user, :expected_end_date) %>
      <%= f.input :expected_end_date, as: :string, input_html: {class: 'date-picker col-sm-3'} %>
    <% end %>

    <% if f.object.can_edit_attribute?(current_user, :is_evergreen) %>
      <%= f.input :is_evergreen, as: :radio_buttons, collection: format_boolean_values_for_input %>
    <% end %>

    <% if f.object.can_edit_attribute?(current_user, :expected_free_count) %>
      <%= f.input :expected_free_count, as: :string, input_html: {class: 'col-sm-2'}, hint: t('.hints.expected_free_count') %>
    <% end %>

    <%= f.simple_fields_for @new_comment do |f2| %>
      <%= f2.input :body, as: :trix_editor, label: t('actions.add_comment'), required: false, input_html: {rows: 5, name: 'new_comment'} %>
    <% end %>

    <div class="row">
      <div class="actions col-md-9 offset-md-3">
        <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
      </div>
    </div>
  <% end %>

<% end %>