<%= simple_form_for @form_values do |f| %>
  <%= error_messages_for(@contract) %>
  <%= f.input :code %>
  <%= f.input :name %>
  <%= f.input :client_id, type: :number, collection: @clients %>
  <%= f.input :proxy_id, type: :number, collection: @proxies.map { |a| [ a.service_proxy_name, a.id ] } %>
  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>
<% end %>