
<% @price_parameters.each do |price_parameter| %>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <% if !@company.nil? %>
        <%= link_to t('actions.edit'), edit_company_contract_price_price_parameter_path(@company, @contract, @price, price_parameter), class: 'btn btn-secondary' %>
      <% elsif !@service.nil? %>
        <%= link_to t('actions.edit'), edit_service_contract_price_price_parameter_path(current_service, @contract, @price, price_parameter), class: 'btn btn-secondary' %>
      <% else %>
        <%= link_to t('actions.edit'), edit_contract_price_price_parameter_path(@contract, @price, price_parameter), class: 'btn btn-secondary' %>
      <% end %>
      <table class="table">
        <tbody>
        <tr>
          <td><%= t('activerecord.attributes.price_parameter.price_parameters_type') %></td>
          <td><%= price_parameter.price_parameters_type %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.price_parameter.parameter') %></td>
          <td><%= price_parameter.parameter %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.price_parameter.cost') %></td>
          <td><%= price_parameter.cost %></td>
        </tr>
        <tr>
          <td><%= t('activerecord.attributes.price_parameter.free_count') %></td>
          <td><%= price_parameter.free_count %></td>
        </tr>
        </tbody>
      </table>
      <% if current_user.is_admin? || price_parameter.user == current_user %>
        <% if !@company.nil? %>
          <%= button_to t('actions.destroy'), company_contract_price_price_parameter_path(@company, @contract, @price, price_parameter), class: 'btn btn-danger', data: {confirm: "Are you sure?" }, method: :delete %>
        <% elsif !@service.nil? %>
          <%= button_to t('actions.destroy'), service_contract_price_price_parameter_path(current_service, @contract, @price, price_parameter), class: 'btn btn-danger', data: {confirm: "Are you sure?" }, method: :delete %>
        <% else %>
          <%= button_to t('actions.destroy'), contract_price_price_parameter_path(@contract, @price, price_parameter), class: 'btn btn-danger', data: {confirm: "Are you sure?" }, method: :delete %>
        <% end %>
      <% end %>
      <% if current_user.is_admin? || price_parameter.user == current_user %>
        <% if price_parameter.activate %>
          <% if !@company.nil? %>
            <%= button_to t('actions.deactivate'), company_contract_price_price_parameter_toogle_activate_path(@company, @contract, @price, price_parameter, id: price_parameter.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
          <% elsif !@service.nil? %>
            <%= button_to t('actions.deactivate'), service_contract_price_price_parameter_toogle_activate_path(current_service, @contract, @price, price_parameter, id: price_parameter.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
          <% else %>
            <%= button_to t('actions.deactivate'), contract_price_price_parameter_toogle_activate_path(@contract, @price, price_parameter, id: price_parameter.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
          <% end %>
        <% else %>
          <% if !@company.nil? %>
            <%= button_to t('actions.activate'), company_contract_price_price_parameter_toogle_activate_path(@company, @contract, @price, price_parameter, id: price_parameter.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
          <% elsif !@service.nil? %>
            <%= button_to t('actions.activate'), service_contract_price_price_parameter_toogle_activate_path(current_service, @contract, @price, price_parameter, id: price_parameter.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
          <% else %>
            <%= button_to t('actions.activate'), contract_price_price_parameter_toogle_activate_path(@contract, @price, price_parameter, id: price_parameter.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>