<% content_for(:page_title) { t('.title') } %>

<% unless current_service.nil? %>
  <% if current_user.is_commercial_of?(current_service) %>
    <% content_for(:page_controls) { link_to t('actions.new'), new_service_contract_path(current_service), class: 'btn btn-primary' } %>
  <% end %>
<% else %>
  <% if current_user.is_commercial? %>
    <% content_for(:page_controls) { link_to t('actions.new'), new_contract_path, class: 'btn btn-primary' } %>
  <% end %>
<% end %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover table-link">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.contract.name') %></th>
          <th><%= t('activerecord.attributes.contract.is_active') %></th>
          <th><%= t('activerecord.attributes.contract.client') %></th>
          <th><%= t('activerecord.attributes.contract.proxy') %></th>
          <th>
            <%= t('activerecord.attributes.contract.start_date') %><br />
            <%= t('activerecord.attributes.contract.end_date') %>
          </th>
          <th>
            <%= t('activerecord.attributes.contract.is_evergreen') %>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @collection.each do |contract|
            link = (current_service.nil? ? contract_path(contract) : service_contract_path(current_service, contract))
        %>
          <tr data-link="<%= link %>">
            <td class="width-3">
              <i class="fa-2x fa-edit fa fa-fw"></i>
            </td>
            <td>
              <%= contract.name %> <small class="text-muted"><%= contract.code %></small><br />
              <small>
                <i class="<%= t("types.contract_statuses.#{contract.status}.icon") %>"></i>
                <span class="<%= t("types.contract_statuses.#{contract.status}.class") %>"><%= t("types.contract_statuses.#{contract.status}.title") %></span>
              </small>
            </td>
            <td>
              <i class="fa-2x <%= t("misc.is_active.#{contract.is_active}.icon") %>" title="<%= t("misc.is_active.#{contract.is_active}.title") %>" data-placement="top" data-toggle="tooltip"></i>
            </td>
            <td>
              <i class="<%= t("types.service_types.#{contract.client.service_type}.icon") %>"></i>
              <span class="<%= t("types.service_types.#{contract.client.service_type}.class") %>"><%= contract.client.name %></span>
            </td>
            <td>
              <i class="fa fa-fw fa-server"></i>
              <%= contract.proxy.name %><br />
              <small>
                <i class="<%= t("types.service_types.#{contract.startup.service_type}.icon") %>"></i>
                <span class="<%= t("types.service_types.#{contract.startup.service_type}.class") %>"><%= contract.startup.name %></span>
              </small>
            </td>
            <td>
              <% if contract.start_date %>
                <%= l(contract.start_date) %><br />
                <%= l(contract.end_date) %>
              <% end %>
            </td>
            <td>
              <%= t("misc.#{contract.is_evergreen}") %>
            </td>
            <td class="text-right">
              <%= link_to t('actions.edit'), link, class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
