<% content_for(:page_title) { t('.title') } %>

<% if @contract.price.nil? %>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <p>Sélectionnez un modèle de tarif existant ou créez-le à partir d'un modèle vierge.</p>
      <%
        @price_templates.each do |price_template|
          url = (!current_service.nil? ? select_price_service_contract_path(current_service, @contract, price_id: price_template.id) : select_price_contract_path(@contract, price_id: price_template.id))
      %>
        <hr>
        <div class="row">
          <div class="col-3 text-right">
            <strong><%= price_template.name %></strong>
          </div>
          <div class="col-9">
            <%= link_to t('actions.select'), url, class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

      <%
        url = (!current_service.nil? ? select_price_service_contract_path(current_service, @contract) : select_price_contract_path(@contract))
      %>
      <hr>
      <div class="row">
        <div class="col-3 text-right">
          <strong>Tarif vierge</strong>
        </div>
        <div class="col-9">
          <%= link_to t('actions.new'), url, class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>

<% else %>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <div class="row">
        <div class="col-4 text-right">
          <strong><%= t('activerecord.attributes.price.base_cost') %></strong>
        </div>
        <div class="col-8">
          <%= @contract.price.base_cost %> &euro;
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-4 text-right">
          <strong><%= t('activerecord.attributes.price.cost_by_time') %></strong>
        </div>
        <div class="col-8">
          <%= @contract.price.cost_by_time %> &euro;
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <%= link_to t('actions.edit'), (@service.nil? ? edit_contract_price_path(@contract, @contract.price) : edit_service_contract_price_path(current_service, @contract, @contract.price)), class: 'btn btn-secondary' %>
          <%= link_to t('actions.reset_prices'), (@service.nil? ? contract_price_path(@contract, @contract.price) : service_contract_price_path(current_service, @contract, @contract.price)), class: 'btn btn-danger', method: :delete %>
        </div>
      </div>

    </div>
  </div>

  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls">
        <%= link_to t('actions.add_price_parameter'), (@service.nil? ? new_contract_price_price_parameter_path(@contract, @contract.price) : new_service_contract_price_price_parameter_path(current_service, @contract, @contract.price)), class: 'btn btn-primary' %>
      </div>
      <h4><%= t('activerecord.attributes.price.price_parameters') %></h4>
    </div>
  </div>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <%= render partial: 'prices/show_price_parameters', locals: {price_parameters: @contract.price.price_parameters} %>

    </div>
  </div>

<% end %>
