<% content_for(:page_description) { t('.description') } %>
<% content_for(:page_title) { t('.title') } %>

<% if @contract.price.nil? %>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <% if @price_templates.size == 0 %>
        <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
      <% else %>
        <%
          @price_templates.each.with_index do |price_template, index|
            url = (!current_service.nil? ? select_price_service_contract_path(current_service, @contract, price_id: price_template.id) : select_price_contract_path(@contract, price_id: price_template.id))
        %>
          <%= '<hr>' if index > 0 %>
          <div class="row">
            <div class="col-md-3 text-md-right">
              <h4><%= price_template.name %></h4>
            </div>
            <div class="col-md-6">
              <%= render partial: 'prices/show_price_info', locals: {price: price_template} %>
            </div>
            <div class="col-md-3">
              <%= link_to t('actions.select'), url, class: 'btn btn-primary btn-lg btn-block' %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

<% else %>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <%= render partial: 'prices/show_price_info', locals: {price: @contract.price} %>

      <hr>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <%= link_to t('actions.edit'), (@service.nil? ? edit_contract_price_path(@contract, @contract.price) : edit_service_contract_price_path(current_service, @contract, @contract.price)), class: 'btn btn-secondary' %>
          <%= link_to t('actions.reset_pricing'), (@service.nil? ? contract_price_path(@contract, @contract.price) : service_contract_price_path(current_service, @contract, @contract.price)), class: 'btn btn-danger', method: :delete %>
        </div>
      </div>

    </div>
  </div>

<% end %>
