<% content_for(:page_title) { t('.title') } %>

<% if @contract.price.nil? %>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <p>Sélectionnez un modèle de tarif existant ou créez-le à partir d'un modèle vierge.</p>
      <%
        @price_templates.each do |price_template|
          url = (!current_service.nil? ? select_price_service_contract_path(current_service, @contract, price_id: price_template.id) : select_price_contract_path(@contract, price_id: price_template.id))
      %>
        <hr>
        <div class="row">
          <div class="col-3 text-right">
            <strong><%= price_template.name %></strong>
          </div>
          <div class="col-9">
            <%= link_to t('actions.select'), url, class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

      <%
        url = (!current_service.nil? ? select_price_service_contract_path(current_service, @contract) : select_price_contract_path(@contract))
      %>
      <hr>
      <div class="row">
        <div class="col-3 text-right">
          <strong>Tarif vierge</strong>
        </div>
        <div class="col-9">
          <%= link_to t('actions.new'), url, class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>

<% else %>

  <div class="b-io-content--secondary">
    <div class="container-fluid">

      <div class="row">
        <div class="col-4 text-right">
          <strong><%= t('activerecord.attributes.price.pricing_type') %></strong>
        </div>
        <div class="col-8">
          <%= t("types.pricing_types.#{@contract.price.pricing_type}.name") %><br />
          <span class="text-muted"><%= t("types.pricing_types.#{@contract.price.pricing_type}.description") %></span>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-4 text-right">
          <strong><%= t('activerecord.attributes.price.pricing_duration_type') %></strong>
        </div>
        <div class="col-8">
          <%= t("types.pricing_duration_types.#{@contract.price.pricing_duration_type}.name") %><br />
          <span class="text-muted"><%= t("types.pricing_duration_types.#{@contract.price.pricing_duration_type}.description") %></span>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-4 text-right">
          <strong><%= t('activerecord.attributes.price.base_cost') %></strong>
        </div>
        <div class="col-8">
          <%= @contract.price.base_cost %> &euro;
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <%= link_to t('actions.edit'), (@service.nil? ? edit_contract_price_path(@contract, @contract.price) : edit_service_contract_price_path(current_service, @contract, @contract.price)), class: 'btn btn-secondary' %>
          <%= link_to t('actions.reset_pricing'), (@service.nil? ? contract_price_path(@contract, @contract.price) : service_contract_price_path(current_service, @contract, @contract.price)), class: 'btn btn-danger', method: :delete %>
        </div>
      </div>

    </div>
  </div>

<% end %>
