<% content_for(:page_title) { t('misc.parameters') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <% if !current_company.nil? %>
      <%= simple_form_for( [current_company, @contract], url: company_contract_update_price_path, method: :post ) do |f| %>
        <%= f.input :price_id, collection: @prices %>
        <div class="row">
          <div class="actions col-md-9 offset-md-3">
            <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
          </div>
        </div>
      <% end %>
    <% elsif !current_service.nil? %>
      <%= simple_form_for( [current_service, @contract], url: service_contract_update_price_path, method: :post ) do |f| %>
        <%= f.input :price_id, collection: @prices %>
        <div class="row">
          <div class="actions col-md-9 offset-md-3">
            <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= simple_form_for( [@contract], url: contract_update_price_path, method: :post ) do |f| %>
        <%= f.input :price_id, collection: @prices %>
        <div class="row">
          <div class="actions col-md-9 offset-md-3">
            <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>