<% content_for(:page_title) { @contract.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <% if !current_company.nil? %>
        <%= link_to t('actions.edit'), edit_company_contract_path(current_company, @contract), class: 'btn btn-secondary' %>
    <% elsif !current_service.nil? %>
        <%= link_to t('actions.edit'), edit_service_contract_path(current_service, @contract), class: 'btn btn-secondary' %>
    <% else %>
        <%= link_to t('actions.edit'), edit_contract_path(@contract), class: 'btn btn-secondary' %>
    <% end %>
    <table class="table">
      <tbody>
        <% unless @contract.company.nil? %>
          <tr>
            <td><%= t('actions.activate') %></td>
            <td><%= @contract.activate %></td>
          </tr>
          <tr>
            <td><%= t('actions.status') %></td>
            <td><%= t("types.contract_status.#{@contract.status}") %></td>
          </tr>
          <tr>
            <td><%= t('activerecord.attributes.contract.company') %></td>
            <td><%= @contract.company.name %></td>
          </tr>
        <% end %>
        <% unless @contract.startup.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.startup') %></td>
            <td><%= @contract.startup.name %></td>
          </tr>
        <% end %>
        <% unless @contract.client.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.client') %></td>
            <td class="text-left"><%= @contract.client.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if Contract.statuses[@contract.status] % 2 == 0 && Contract.statuses[@contract.status] < 6 %>
        <% if @contract.is_commercial_client?(current_user) %>
          <% if !current_company.nil? %>
              <%= button_to t("types.contract_status.#{@contract.status}"), company_contract_commercial_validation_path(current_company, @contract, id: @contract.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
          <% elsif !current_service.nil? %>
              <%= button_to t("types.contract_status.#{@contract.status}"), service_contract_commercial_validation_path(current_service, @contract, id: @contract.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
          <% else %>
              <%= button_to t("types.contract_status.#{@contract.status}"), contract_commercial_validation_path(@contract, id: @contract.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
          <% end %>
        <% end %>
    <% elsif Contract.statuses[@contract.status] < 6 %>
        <% if !current_company.nil? %>
            <%= button_to t("types.contract_status.#{@contract.status}"), company_contract_commercial_validation_path(current_company, @contract, id: @contract.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
        <% elsif !current_service.nil? %>
            <%= button_to t("types.contract_status.#{@contract.status}"), service_contract_commercial_validation_path(current_service, @contract, id: @contract.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
        <% else %>
            <%= button_to t("types.contract_status.#{@contract.status}"), contract_commercial_validation_path(@contract, id: @contract.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
        <% end %>
    <% end %>
    <% if Contract.statuses[@contract.status] % 2 == 0 && Contract.statuses[@contract.status] < 6 && Contract.statuses[@contract.status] > 1 %>
        <% if @contract.is_commercial_client?(current_user) %>
            <% if !current_company.nil? %>
                <%= button_to t("types.contract_unset_status.#{@contract.status}"), company_contract_commercial_reject_path(current_company, @contract, id: @contract.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
            <% elsif !current_service.nil? %>
                <%= button_to t("types.contract_unset_status.#{@contract.status}"), service_contract_commercial_reject_path(current_service, @contract, id: @contract.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
            <% else %>
                <%= button_to t("types.contract_unset_status.#{@contract.status}"), contract_commercial_reject_path(@contract, id: @contract.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
            <% end %>
        <% end %>
    <% elsif Contract.statuses[@contract.status] < 6 && Contract.statuses[@contract.status] > 1%>
        <% if !current_company.nil? %>
            <%= button_to t("types.contract_unset_status.#{@contract.status}"), company_contract_commercial_reject_path(current_company, @contract, id: @contract.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
        <% elsif !current_service.nil? %>
            <%= button_to t("types.contract_unset_status.#{@contract.status}"), service_contract_commercial_reject_path(current_service, @contract, id: @contract.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
        <% else %>
            <%= button_to t("types.contract_unset_status.#{@contract.status}"), contract_commercial_reject_path(@contract, id: @contract.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
        <% end %>
    <% end %>
    <% if current_user.is_admin? || @contract.user == current_user %>
      <% if !current_company.nil? %>
          <%= button_to t('actions.destroy'), company_contract_path(current_company, @contract), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      <% elsif !current_service.nil? %>
          <%= button_to t('actions.destroy'), service_contract_path(current_service, @contract), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      <% else %>
          <%= button_to t('actions.destroy'), contract_path(@contract), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      <% end %>
    <% end %>
    </div>
</div>
