<% content_for(:page_title) { @contract.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table">

      <tbody>
        <% unless @contract.company.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.company') %></td>
            <td class="text-left"><%= @contract.company.name %></td>
          </tr>
        <% end %>
        <% unless @contract.startup.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.startup') %></td>
            <td class="text-left"><%= @contract.startup.name %></td>
          </tr>
        <% end %>
        <% unless @contract.client.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.client') %></td>
            <td class="text-left"><%= @contract.client.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to t('actions.destroy'), contract_path, class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
