<% content_for(:page_title) { @contract.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <table class="table">
      <tbody>
        <% unless @contract.company.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.company') %></td>
            <td class="text-left"><%= @contract.company.name %></td>
          </tr>
        <% end %>
        <% unless @contract.startup.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.startup') %></td>
            <td class="text-left"><%= @contract.startup.name %></td>
          </tr>
        <% end %>
        <% unless @contract.client.nil? %>
          <tr>
            <td><%= t('activerecord.attributes.contract.client') %></td>
            <td class="text-left"><%= @contract.client.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if !current_company.nil? %>
        <%= button_to t('actions.destroy'), company_contract_path(current_company), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
    <% elsif !current_service.nil? %>
        <%= button_to t('actions.destroy'), service_contract_path(current_service), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
    <% else %>
        <%= button_to t('actions.destroy'), contract_path, class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
    </div>
</div>
