<% content_for(:page_back) { @documentation.parent.nil? ? documentations_path : documentation_path(@documentation.parent) } %>
<% content_for(:page_title, @documentation.title ) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4">
        <small>
          <%= render partial: 'subtree', locals: {collection: Documentation.roots.published} %>
        </small>
      </div>
      <div class="col-sm-8">
        <div class="documentation_body">
          <small class="float-right text-right text-muted">
            <%= t('misc.last_modified') %><br />
            <%= l(@documentation.last_modified, format: :short) %>
          </small>
          <% unless @documentation.parent.nil? %>
            <a href="<%= documentation_path(@documentation.parent) %>" class="btn btn-link btn-sm"><%= t('actions.back') %></a>
          <% end %>
          <h2><%= @documentation.title %></h2>
          <div class="trix-content">
            <%= @documentation.body.html_safe %>
          </div>
        </div>

        <% if @documentation.has_children? %>
          <hr style="margin-top: 30px;margin-bottom: 30px;">
          <%= render partial: 'subtree', locals: {collection: @documentation.children} %>
        <% end %>
      </div>
    </div>

  </div>
</div>
