<div class="ui pointing menu">
  <a class="<% if (page === 'pages/dashboard/routes/index') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes">
    Collections
  </a>
  <a class="<% if (page === 'pages/dashboard/routes/new') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/new">
    Créer une nouvelle collection
  </a>
  <% if (data.route) { %>
  <a class="active item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>">
    Modifier
  </a>
  <% } %>
</div>
<% if (data.route) { %>
<h3 class="ui header">
  <i class="database bordered icon"></i>
  <div class="content">
    <%= data.route.name %>
    <div class="sub header">Collection</div>
  </div>
</h3>
<div class="ui pointing menu">
  <a class="<% if (page === 'pages/dashboard/routes/view') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>">
    État
  </a>
  <a class="<% if (page === 'pages/dashboard/routes/edit') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/edit">
    Modifier
  </a>
  <a class="<% if (page.indexOf('pages/dashboard/fields') == 0) { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields">
    <% if (data.route.fields.length == 0) { %>Ajouter un champ<% } else { %>Champs (<%= data.route.fields.length %>)<% } %>
  </a>
  <a class="<% if (page.indexOf('pages/dashboard/relations') == 0) { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/relations">
    <% if (data.route.relations.length == 0) { %>Ajouter une relation<% } else { %>Relations (<%= data.route.relations.length %>)<% } %>
  </a>
</div>
<% } %>
<% if (page === 'pages/dashboard/routes/new') { %>
<h4 class="ui header">
  <i class="add bordered icon"></i>
  <div class="content">
    Créer une nouvelle collection
  </div>
</h4>
<% } %>