<% if (data.route) { %>
<div class="ui twice attached segment">
  <h1 class="ui header">
    <img class="ui image" src="<%= data.service.getThumbnail('-100x100bg.png') %>">
    <div class="content">
      <%= data.service.name %>
      <div class="sub header">
        <% if (!data.service.validated) { %>
        <div class="ui red empty circular label"></div> &nbsp;En attente de validation
        <% } else if (data.service.public) { %>
        <div class="ui green empty circular label"></div> &nbsp;Référencé sur l'API
        <% } else { %>
        <div class="ui grey empty circular label"></div> &nbsp;Privé
        <% } %>
      </div>
    </div>
  </h1>
  <h3 class="ui header">
    <i class="database bordered icon"></i>
    <div class="content">
      <%= data.route.name %>
      <div class="sub header">Collection</div>
    </div>
  </h3>
</div>
<div class="ui bottom attached pointing menu">
  <a class="<% if (page === 'pages/dashboard/routes/view') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>">
    État
  </a>
  <a class="<% if (page === 'pages/dashboard/routes/edit') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/edit">
    Modifier
  </a>
  <a class="<% if (page.indexOf('pages/dashboard/fields') == 0) { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields">
    <% if (data.route.fields.length == 0) { %>Ajouter un champ<% } else { %>Champs (<%= data.route.fields.length %>)<% } %>
  </a>
  <a class="<% if (page.indexOf('pages/dashboard/relations') == 0) { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/relations">
    <% if (data.route.relations.length == 0) { %>Ajouter une relation<% } else { %>Relations (<%= data.route.relations.length %>)<% } %>
  </a>
</div>
<% } else { %>
<% } %>
<% if (page === 'pages/dashboard/routes/new') { %>
<h4 class="ui header">
  <i class="add bordered icon"></i>
  <div class="content">
    Créer une nouvelle base de donnée
  </div>
</h4>
<% } %>