<form class="ui large basic form" method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/routes<% if (typeof data.route != 'undefined') { %>/<%= data.route.nameNormalized %><% } %>">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <div class="required field">
    <label>Nom de la collection</label>
    <div class="ui left icon input">
      <i class="database icon"></i>
      <input type="text" name="route_name" value="<%= query.route.name %>" placeholder="Nom de la collection">
    </div>
  </div>
  <div class="required field">
    <label>Description</label>
    <textarea rows="5" name="route_description"><%= query.route.description %></textarea>
  </div>
  <div class="field">
    <label>Tableau de données</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" value="true" name="route_collection" class="hidden" <% if (query.route.isCollection === true) { %>checked="checked"<% } %>>
      <label>Les données de cette collection peuvent être fournies sous la forme d'un tableau</label>
    </div>
  </div>
  <div class="field">
    <label>Données identifiées</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" value="true" name="route_is_identified" id="route_is_identified_input" class="hidden" <% if (query.route.isIdentified === true) { %>checked="checked"<% } %>>
      <label>Les données de cette collection sont identifiées</label>
    </div>
  </div>
  <div class="<% if (!query.route.isIdentified) { %>disabled<% } %> field" id="route_fc_restricted_field">
    <label>Jeton FranceConnect en lecture et écriture</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" value="true" name="route_fc_restricted" id="route_fc_restricted_input" class="hidden" <% if (query.route.fcRestricted === true) { %>checked="checked"<% } %>>
      <label>Toute action sur cette collection nécessite un jeton de connexion FranceConnect valide</label>
    </div>
  </div>
  <div class="<% if (!query.route.isIdentified || query.route.fcRestricted === true) { %>disabled<% } %> field" id="route_fc_required_field">
    <label>Jeton FranceConnect en lecture seulement</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" value="true" name="route_fc_required" id="route_fc_required_input" class="hidden" <% if (query.route.fcRequired === true) { %>checked="checked"<% } %> <% if (query.route.fcRestricted === true) { %>disabled="disabled"<% } %>>
      <label>Accéder aux données de cette collection nécessite un jeton de connexion FranceConnect valide</label>
    </div>
  </div>
  <div class="field">
    <label>Durée de validité des données</label>
    <div class="ui fluid search selection dropdown">
      <input type="hidden" name="route_data_expiration" value="<%= query.route.dataExpiration || 0 %>">
      <i class="dropdown icon"></i>
      <div class="default text">Sélectionnez une durée de validité</div>
      <div class="menu">
        <div class="item" data-value="0">Aucune expiration</div>
        <div class="item" data-value="60">1 heure</div>
        <div class="item" data-value="120">2 heures</div>
        <div class="item" data-value="1440">1 jour</div>
        <div class="item" data-value="2880">2 jours</div>
        <div class="item" data-value="10080">7 jours</div>
        <div class="item" data-value="312480">1 mois</div>
        <div class="item" data-value="624960">2 mois</div>
        <div class="item" data-value="1874880">6 mois</div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Partage</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" value="true" name="route_public" class="hidden" <% if (query.route.public === true) { %>checked="checked"<% } %>>
      <label>Activer le partage de la collection sur l'API du CPA Store</label>
    </div>
  </div>

  <div class="ui submit button" tabindex="0">
    <% if (typeof query.route._id == 'undefined') { %>
    Ajouter la collection
    <% } else { %>
    Enregistrer les modifications
    <% } %>
  </div>

</form>

<script>
  $(document).ready(function() {
    $('.ui.dropdown').dropdown();
    $('#route_is_identified_input').on('change', function(e) {
      if (this.checked) {
        $('#route_fc_required_input').removeAttr('disabled');
        $('#route_fc_required_field').removeClass('disabled');
        $('#route_fc_restricted_input').removeAttr('disabled');
        $('#route_fc_restricted_field').removeClass('disabled');
      } else {
        $('#route_fc_required_input').prop('checked', false).attr('disabled', 'disabled');
        $('#route_fc_required_field').addClass('disabled');
        $('#route_fc_restricted_input').prop('checked', false).attr('disabled', 'disabled');
        $('#route_fc_restricted_field').addClass('disabled');
      }
    });
    $('#route_fc_restricted_input').on('change', function(e) {
      if (this.checked) {
        $('#route_fc_required_input').prop('checked', true).attr('disabled', 'disabled');
        $('#route_fc_required_field').addClass('disabled');
      } else {
        $('#route_fc_required_input').prop('checked', false).removeAttr('disabled');
        $('#route_fc_required_field').removeClass('disabled');
      }
    });
  });
</script>