<div class="ui pointing menu">
  <a class="<% if (page === 'pages/dashboard/routes/index') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes">
    Données partagées
  </a>
  <a class="<% if (page === 'pages/dashboard/routes/new') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/new">
    Créer une nouvelle donnée
  </a>
  <% if (data.route) { %>
  <a class="active item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>">
    Modifier
  </a>
  <% } %>
</div>
<% if (data.route) { %>
<h3 class="ui header">
  <i class="database bordered icon"></i>
  <div class="content">
    <%= data.route.name %>
  </div>
</h3>
<div class="ui pointing menu">
  <a class="<% if (page === 'pages/dashboard/routes/view') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>">
    État
  </a>
  <a class="<% if (page === 'pages/dashboard/routes/edit') { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/edit">
    Modifier
  </a>
  <a class="<% if (page.indexOf('pages/dashboard/fields') == 0) { %>active<% } %> item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/fields">
    Champs
  </a>
</div>
<% } %>
<% if (page === 'pages/dashboard/routes/new') { %>
<h4 class="ui header">
  <i class="add bordered icon"></i>
  <div class="content">
    Créer une nouvelle donnée partagée
  </div>
</h4>
<% } %>