<div class="ui container">
  <% include ../services/_header %>
  <% include ./_header %>

  <% if (routes.length > 0) { %>
  <table class="ui celled table">
    <thead>
    <tr>
      <th class="one wide"></th>
      <th>Nom &amp; type</th>
      <th class="three wide">Donnée identifiée</th>
      <th class="three wide">Partage</th>
      <th class="four wide no-sort"></th>
    </tr>
    </thead>
    <tbody>
    <% routes.forEach(function(route) { %>
    <tr class="top aligned">
      <td>
        <i class="database large bordered icon"></i>
      </td>
      <td>
        <h3 class="ui header"><%= route.name %></h3>
        <% if (route.isCollection === true) { %>
        Tableau de données
        <% } else { %>
        Donnée simple
        <% } %>
      </td>
      <td>
        <% if (route.isIdentified === true) { %>
        <% if (route.fcRequired === true) { %>
        <div class="ui teal horizontal label">FranceConnect</div> <br>
        <% if (route.fcRestricted === true) { %>
        Lecture / écriture
        <% } else { %>
        Lecture seulement
        <% } %>
        <% } else { %>
        <div class="ui green empty circular label"></div> Activé
        <% } %>
        <% } else { %>
        <div class="ui red empty circular label"></div> Désactivé
        <% } %>
      </td>
      <td>
        <% if (route.public === true) { %>
        <div class="ui green horizontal fluid label"></div> Activé
        <% } else { %>
        <div class="ui red horizontal fluid label"></div> Désactivé
        <% } %>
      </td>
      <td>
        <a class="ui right labeled icon button" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= route.nameNormalized %>">
          <i class="chevron circle right icon"></i>
          Administrer la base de donnée
        </a>
      </td>
    </tr>
    <% }) %>
    </tbody>
    <tfoot>
    <tr>
      <th colspan="5" class="right aligned">
        <a href="/dashboard/services/<%= data.service.nameNormalized %>/routes/new" class="ui icon button">
          <i class="plus icon"></i>
          Créer une nouvelle base de donnée
        </a>
      </th>
    </th>
    </tfoot>
  </table>
  <% include ../../../partials/api_uri_list %>
  <% } else { %>
  <div class="ui segment">
    <a href="/dashboard/services/<%= data.service.nameNormalized %>/routes/new" class="ui icon button">
      <i class="plus icon"></i>
      Créer une base de donnée
    </a>
  </div>
  <% } %>
</div>
