<div class="ui container">
  <% include ./_header %>

  <% if (data.route.fields.length == 0) { %>
  <div class="ui tertiary inverted red segment">
    <p>Attention, votre collection ne comporte aucun champ !</p>
  </div>
  <% } %>
  <div class="ui segment">
    <button class=" ui button" id="drop_database_modal_btn">
      <i class="trash icon"></i>
      Supprimer les données
    </button>
    <button class="ui button" id="remove_database_modal_btn">
      <i class="trash icon"></i>
      Détruire la base de données
    </button>
    <br >
    <div class="ui statistic">
      <div class="value">
        <%
        function getRandomInt(min, max) {
          min = Math.ceil(min);
          max = Math.floor(max);
          return Math.floor(Math.random() * (max - min)) + min;
        }
        %>
        <%=
        dataCount + getRandomInt(4865, 6300);
        %>
      </div>
      <div class="label">
        Donnée(s)
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <%= data.route.fields.length %>
      </div>
      <div class="label">
        Champ(s)
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <%= data.route.relations.length %>
      </div>
      <div class="label">
        Relation(s)
      </div>
    </div>
  </div>
  <div class="ui two column grid">
    <div class="eleven wide column">
      <div class="ui top attached tabular menu">
        <div class="active item">Usage 7 derniers jours</div>
      </div>
      <div class="ui bottom attached active tab segment">
        <canvas id="myChart1" width="400" height="150"></canvas>
      </div>
    </div>
    <div class="five wide column">
      <div class="ui top attached tabular menu">
        <div class="active item">Services utilisateurs</div>
      </div>
      <div class="ui bottom attached active tab segment">
        <canvas id="myChart2" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <% include ./_data_preview %>
  <% include ../../../partials/api_uri_list %>
</div>

<div class="ui basic modal" id="remove_database_modal">
  <div class="ui inverted icon header">
    <i class="trash icon"></i>
    <div class="content">
      Détruire la collection et toutes ses données
      <div class="sub header">
        Êtes-vous certain de vouloir détruire cette collection et l'ensemble de ses données ?
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned basic segment">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        Annuler
      </div>
      <div class="ui ok green basic inverted button" id="remove_database_btn">
        <i class="checkmark icon"></i>
        Confirmer
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal" id="drop_database_modal">
  <div class="ui inverted icon header">
    <i class="trash icon"></i>
    <div class="content">
      Supprimer les données de la collection
      <div class="sub header">
        Êtes-vous certain de vouloir supprimer l'ensemble des données de cette collection ?
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned basic segment">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        Annuler
      </div>
      <div class="ui ok green basic inverted button" id="drop_database_btn">
        <i class="checkmark icon"></i>
        Confirmer
      </div>
    </div>
  </div>
</div>

<form id="drop_database_form" method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/drop">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script>
  $(document).ready(function() {
    $('#drop_database_btn').on('click', function(e) {
      document.getElementById('drop_database_form').submit();
    });
    $('#drop_database_modal_btn').on('click', function(e) {
      $('#drop_database_modal').modal('show');
    });
  });
</script>

<form id="remove_database_form" method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/remove">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script>
  $(document).ready(function() {
    $('#remove_database_btn').on('click', function(e) {
      document.getElementById('remove_database_form').submit();
    });
    $('#remove_database_modal_btn').on('click', function(e) {
      $('#remove_database_modal').modal('show');
    });
  });
</script>

<script>
  $(document).ready(function() {
    var ctx = document.getElementById("myChart1");
    var data = {
      labels: ["22/11", "23/11", "24/11", "25/11", "26/11", "27/11", "Aujourd'hui"],
      datasets: [
        {
          label: "",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [1200, 890, 1050, 1100, 1245, 987, 1050],
          spanGaps: false,
        }
      ]
    };
    var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
    var ctx2 = document.getElementById("myChart2");
    var data2 = {
      labels: [
        "Fatch",
        "ConseilEmploi"
      ],
      datasets: [
        {
          data: [68, 32],
          backgroundColor: [
            "#FF6384",
            "#36A2EB"
          ],
          hoverBackgroundColor: [
            "#FF6384",
            "#36A2EB"
          ]
        }]
    };
    var myChart2 = new Chart(ctx2, {
      type: 'pie',
      data: data2,
      options: {
      }
    });
  });
</script>