<%= f.simple_fields_for :contact_detail do |f2| %>
  <%= f2.input :siret %>
  <%= f2.input :phone %>
  <%= f2.input :name, placeholder: f.object.name %>
  <%= f2.input :address_line1 %>
  <%= f2.input :address_line2 %>
  <%= f2.input :address_line3 %>

  <div class="row">
    <div class="col-4">
      <%= f2.input :zip %>
    </div>
    <div class="col-8">
      <%= f2.input :city %>
    </div>
  </div>

  <%= f2.input :country, as: :string %>
<% end %>