<p>Bonjour <%= @user.first_name %>,</p>
<p>Votre mot de passe utilisateur sur <%= t('config.platform_name') %> vient d'être réinitialisé.</p>
<p>Voici votre nouveau mot de passe temporaire que vous devrez modifier lors de votre prochaine connexion :</p>
<p>
  <strong>E-Mail :</strong> <%= @user.email %><br />
  <strong>Mot de passe temporaire :</strong> <%= @temporary_password %>
</p>
<p><a href="<%= new_user_session_url %>">Connexion à <%= t('config.platform_name') %></a></p>