<p>Hello <%= @user.first_name %>,</p>
<p>Your user's password on <%= t('config.platform_name') %> has just been reset.</p>
<p>Here is your new temporary password that you will be required to change when you sign in:</p>
<p>
  <strong>Email address:</strong> <%= @user.email %><br />
  <strong>Temporary password:</strong> <%= @temporary_password %>
</p>
<p><a href="<%= new_user_session_url %>">Connect to <%= t('config.platform_name') %></a></p>