<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Set permission</th>
        <th>Proxies</th>
        <th>Routes</th>
      </tr>
      </thead>
      <tbody>
      <% @collection_proxies.each do |item| %>
          <tr>
            <td>
                  <%= link_to t('actions.unset_right'), class: 'btn btn-secondary' %>

            </td>
            <td><%= item.name %></td>
            <td>All</td>
          </tr>
          <% item.routes.each do |route| %>
            <tr>
              <td>
                <%= link_to t('actions.unset_right'), class: 'btn btn-secondary' %>

              </td>
              <td><%= item.name %></td>
              <td><%= route.name %></td>
            </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
