<%= simple_form_for [:tester, @tester_info] do |f| %>

    <%= error_messages_for(f.object) %>

    <%= f.input :auth_url %>
    <%= f.input :req_url %>
    <%= f.input :req_type, collection: format_req_types_for_select %>

    <div class="row">
      <div class="actions col-md-9 offset-md-3">
        <%= f.button :submit, value: I18n.t('actions.send'), data: { disable_with: t('actions.send_in_progress') } %>
      </div>
    </div>

<% end %>