<table class="table table-sm table-hover table-link">
  <tbody>
  <tr>
    <td>
      <%= @tester_info.auth_url %>
    </td>
  </tr>
  <tr>
    <td>
      <span style="word-break: break-all;"><%= simple_format(@res) %></span>
    </td>
  </tr>
  <tr>
    <td>
      <%= @tester_info.req_url %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @tester_info.req_type %>
    </td>
  </tr>
  <tr>
    <td>
      <span style="word-break: break-all;"><%= @res1 %></span>
    </td>
  </tr>
  </tbody>
</table>

