<% content_for(:page_back) { select_proxy_tester_tester_info_path(@client.id, proxy_id: @proxy.id) } %>
<% content_for(:page_title) { t('misc.tester') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-sm table-hover table-link">
      <tbody>
        <tr>
          <td>
            <%= t('types.service_types.client.title') %>
          </td>
          <td>
            <strong class=""><%= @client.name %></strong><br />
          </td>
        </tr>
        <tr>
          <td>
            <strong class=""><%= t('activerecord.models.proxy') %></strong><br />
            <span ><%= t('types.service_types.startup.title') %></span>
          </td>
          <td>
            <strong class=""><%= @proxy.name %></strong><br />
            <span > <%= @proxy.service.name %></span>
          </td>
        </tr>
        <tr>
          <td>
            <%= t('activerecord.models.route') %>
          </td>
          <td>
            <strong class=""><%= @route.name %></strong>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'form' %>

  </div>
</div>