<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_description) { t('.description') } %>

<div class="b-io-content--secondary">
  <div class="container">

    <%= simple_form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :current_password, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>

      <div class="row">
        <div class="actions col-md-9 offset-md-3">
          <%= f.button :submit, t('actions.change_password') %>
        </div>
      </div>
    <% end %>

  </div>
</div>