<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, autofocus: true %>

      <%= render partial: 'shared/captcha', locals: {f: f} %>

      <div class="row">
        <div class="actions col-md-9 offset-md-3">
          <%= f.button :submit, value: t('actions.reset_unlock_instructions'), data: { disable_with: t('actions.reset_unlock_instructions') } %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: "devise/shared/links" %>

  </div>
</div>
