<% content_for(:page_title) {
  if current_service.nil?
    t('misc.my_users')
  else
    t('.title')
  end
} %>

<% unless current_service.nil? %>
  <% if current_user.is_admin_of?(current_service) %>
    <% content_for(:page_controls) { link_to t('actions.create_user'), new_service_user_path(current_service), class: 'btn btn-primary' } %>
  <% end %>
<% else %>
  <% content_for(:page_controls) { link_to t('actions.create_user'), new_user_path, class: 'btn btn-primary' } %>
<% end %>

<div class="b-io-content--secondary">
  <div class="container">

    <% if current_service %>
      <div class="row">
        <div class="col-sm-6">
          <%= form_for User.new, url: invite_by_email_service_users_path(current_service), method: :post, html: {class: 'form-inline'} do %>
            <label class="sr-only" for="inlineFormInput"><%= t('activerecord.attributes.user.email') %></label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">@</div>
              <input name="email" type="text" class="form-control" id="inlineFormInput" placeholder="<%= t('activerecord.attributes.user.email') %>" value="<%= params[:email] %>">
            </div>
            <button type="submit" class="btn btn-primary"><%= t('actions.invite_user') %></button>
          <% end %>
        </div>
        <div class="col-sm-6">
          <% if @owned_users.size > 0 %>
            <%= simple_form_for User.new, url: invite_by_id_service_users_path(current_service), method: :post, html: {class: 'form-inline'} do |f| %>
              <div class="select2-inline-container mb-2 mr-sm-2 mb-sm-0">
                <%= f.input :id, as: :select, collection: format_users_for_select(@owned_users), label: false, input_html: {class: 'select2'}, include_blank: "#{t('misc.my_users')}..." %>
              </div>
              <button type="submit" class="btn btn-primary"><%= t('actions.add_user') %></button>
            <% end %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>

    <% if @users.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.user.full_name') %></th>
          <th><%= t('activerecord.attributes.user.last_activity_at') %></th>
          <% if current_service %>
            <% if current_user.is_admin_of?(current_service) %>
              <th></th>
            <% end %>
            <% Role::USER_ROLES.each do |scope| %>
              <th class="text-right width-5"><i class="<%= t("roles.#{scope}.icon") %>" data-toggle="tooltip" data-placement="top" title="<%= t("roles.#{scope}.title") %>"></i></th>
            <% end %>
          <% end %>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="width-3">
              <i class="fa fa-fw fa-user fa-2x"></i>
            </td>
            <td>
              <%= "<span class=\"float-right\"><i class=\"fa fa-fw fa-2x fa-lock\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"#{t('devise.confirmations.unconfirmed')}\"></i></span>".html_safe if user.confirmed_at.nil? || !user.is_active %>
              <strong><%= user.full_name %></strong><br />
              <small class="text-muted"> <%= user.email %></small><br />
              <small class="text-muted"> <%= user.phone %></small>&nbsp;
            </td>
            <td>
              <small><%= user.last_activity_at ? l(user.last_activity_at, format: :short) : '---' %></small>
            </td>
            <% if current_service %>
              <% if current_user.is_admin_of?(current_service) %>
                <td class="text-right">
                  <% if current_user.id != user.id %> <%# && current_service.main_admin != user && current_service.main_developer != user && current_service.main_commercial != user && current_service.main_accoutant != user %>
                    <%= link_to '<i class="fa fa-fw fa-unlink"></i>'.html_safe, disassociate_service_user_path(current_service, user), title: t('actions.disassociate'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'left'}, method: :delete, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                </td>
                <% Role::USER_ROLES.each do |scope| %>
                  <td class="text-right">
                    <% has_role = user.has_role?(scope, current_service) %>
                    <% if current_user.id != user.id && !(scope != :admin && user.has_role?(:admin, current_service)) && current_service.send("main_#{scope}") != user %>
                      <div class="btn-group">
                        <%= link_to '<i class="fa fa-fw fa-check"></i>'.html_safe, has_role ? '#' : toggle_role_service_user_path(current_service, user, scope: scope), method: :put, class: "btn btn-sm #{user.has_role?(scope, current_service) ? 'btn-success disabled' : 'btn-secondary'}" %>
                        <%= link_to '<i class="fa fa-fw fa-times"></i>'.html_safe, !has_role ? '#' : toggle_role_service_user_path(current_service, user, scope: scope), method: :put, class: "btn btn-sm #{!user.has_role?(scope, current_service) ? 'btn-danger disabled' : 'btn-secondary'}" %>
                      </div>
                    <% else %>
                      <i class="fa fa-fw fa-check"></i>
                    <% end %>
                  </td>
                <% end %>
              <% else %>
                <% Role::USER_ROLES.each do |scope| %>
                  <td class="text-right">
                    <% if user.has_role?(scope, current_service) %>
                      <i class="fa fa-fw <%= t("roles.#{scope}.icon") %>" data-toggle="tooltip" data-placement="top" title="<%= t("roles.#{scope}.title") %>"></i>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
            <td class="text-right">
              <% if current_user.id == user.parent.try(:id) %>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, (current_service.nil? ? edit_user_path(user) : edit_service_user_path(current_service, user)), class: 'btn btn-secondary btn-sm', title: t('actions.edit'), data: {toggle: 'tooltip', placement: 'top'} %>
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, (current_service.nil? ? user_path(user) : service_user_path(current_service, user)), title: t('actions.destroy'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top'}, method: :delete, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <% if current_service %>
        <h3><%= t('misc.roles') %></h3>
        <table class="table table-sm">
          <tbody>
          <% Role::USER_ROLES.each do |scope| %>
            <tr>
              <td>
                <strong><i class="<%= t("roles.#{scope}.icon") %>"></i> <%= t("roles.#{scope}.title_long") %></strong><br />
                <small class="text-muted"><%= t("roles.#{scope}.description_service_role") %></small>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>

  </div>
</div>
