<% content_for(:page_title) { current_user.email } %>

<div class="b-io-content--secondary">
  <div class="container">

    <table class="table">
      <thead>
      <tr>
        <th><% if current_user.is_superadmin? %>
              Admin user
          <% else %>
              Normal user
          <% end %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>email:</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>first name:</td>
        <td><%= current_user.first_name %></td>
      </tr>
      <tr>
        <td>last name:</td>
        <td><%= current_user.last_name %></td>
      </tr>
      <tr>
        <td>gender:</td>
        <td><%= t("types.genders.#{current_user.gender}") unless current_user.gender.nil? %></td>
      </tr>
      <tr>
        <td>phone:</td>
        <td><%= current_user.phone %></td>
      </tr>
      </tbody>
    </table>


  </div>
</div>
