<% content_for(:page_title) { @user.email } %>

<div class="b-io-content--secondary">
  <div class="container">
    <%= link_to t('actions.edit_account'), edit_user_registration_path, class: 'btn btn-secondary' %>
    <%= link_to t('actions.edit'), edit_user_path(@user.id), class: 'btn btn-secondary' %>


    <table class="table">
      <thead>
      <tr>
        <th><% if @user.has_role?(:superadmin) %>
              Admin user
          <% else %>
              Normal user
          <% end %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>email:</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>first name:</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>last name:</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>gender:</td>
        <td><%= t("types.genders.#{@user.gender}") unless @user.gender.nil? %></td>
      </tr>
      <tr>
        <td>phone:</td>
        <td><%= @user.phone %></td>
      </tr>
      </tbody>
    </table>


  </div>
</div>