<%
  content_for(:page_title) {
    t('misc.my_account')
  }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3">
        <strong><%= t('misc.profile') %></strong>
      </div>
      <div class="col-sm-9">
        <% if current_user.pending_reconfirmation? %>
          <div class="alert alert-info">
            <strong><%= t('devise.registrations.pending_reconfirmation', email: current_user.unconfirmed_email) %></strong><br>
            <%= t('devise.registrations.update_needs_confirmation') %>
          </div>
        <% end %>

        <span class="float-right">
          <%= link_to "<i class=\"fa fa-fw fa-pencil\"></i> #{t('actions.edit_account')}".html_safe, edit_user_registration_path, class: 'btn btn-primary' %>
        </span>
        <%= t("types.genders.#{current_user.gender}") unless current_user.gender.nil? %> <%= current_user.last_name %> <%= current_user.first_name %><br />
        <%= current_user.email %><br />
        <%= current_user.phone %>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-3">
        <strong><%= t('activerecord.attributes.user.language') %></strong>
      </div>
      <div class="col-sm-9">
        <%= t("misc.locales.#{current_user.language}") unless current_user.language.nil? %>
      </div>
    </div>

    <% if current_user.is_superadmin? %>

      <hr />

      <div class="row">
        <div class="col-sm-3">
          <strong><%= t('misc.role') %></strong>
        </div>
        <div class="col-sm-9">
          <i class="<%= t("roles.superadmin.icon") %>"></i>
          <%= t("roles.superadmin.title_long") %>
        </div>
      </div>

    <% end %>

  </div>
</div>
