<% content_for(:page_controls) { link_to t('actions.edit_account'), edit_user_registration_path, class: 'btn btn-primary' } %>
<% content_for(:page_title) { t('misc.my_account') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if current_user.pending_reconfirmation? %>
      <div class="alert alert-info">
        <strong><%= t('devise.registrations.pending_reconfirmation', email: current_user.unconfirmed_email) %></strong><br>
        <%= t('devise.registrations.update_needs_confirmation') %>
      </div>
    <% end %>

    <table class="table">
      <thead>
      <tr>
        <th>
          <% if current_user.is_superadmin? %>
            <%= t("roles.superadmin.title_long")%>
          <% end %>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= t("activerecord.attributes.user.email")%>:</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.user.first_name")%>:</td>
        <td><%= current_user.first_name %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.user.last_name")%>:</td>
        <td><%= current_user.last_name %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.user.gender")%></td>
        <td><%= t("types.genders.#{current_user.gender}") unless current_user.gender.nil? %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.user.phone")%>:</td>
        <td><%= current_user.phone %></td>
      </tr>
      <tr>
        <td><%= t("activerecord.attributes.user.language")%>:</td>
        <td><%= t("misc.locales.#{current_user.language}") unless current_user.language.nil? %></td>
      </tr>
      </tbody>
    </table>
    <%= t("activerecord.attributes.user.is_active_notification_measurement_errors")%>:<%= current_user.is_active_notification_measurement_errors %>
    <%= t("activerecord.attributes.user.is_active_notification_contract_status")%>:<%= current_user.is_active_notification_contract_status  %>
    <%= t("activerecord.attributes.user.is_active_notification_ticket")%>:<%= current_user.is_active_notification_ticket %>
    <%= t("activerecord.attributes.user.is_active_notification_service_validation")%>:<%= current_user.is_active_notification_service_validation  %>

  </div>
</div>
