
<%= simple_form_for [:back_office, @functionality] do |f| %>

  <%= f.input :type, as: :select, required: true, collection: format_functionality_types_for_select, include_blank: t('.select_functionality_type') %>

  <%= f.input :name, required: true %>
  <%= f.input :description, as: :text, required: true, input_html: {rows: 5} %>

  <div class="actions">
    <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
  </div>

<% end %>
