<table class="table table-bordered">
  <tbody>
  <tr>
    <th><%= t('activerecord.attributes.proxy_parameter.authenticiation_mode') %></th>
    <td><%= proxy_parameter.authentication_mode %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.proxy_parameter.protocol') %></th>
    <td><%= proxy_parameter.protocol %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.proxy_parameter.hostname') %></th>
    <td><%= proxy_parameter.hostname %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.proxy_parameter.port') %></th>
    <td><%= proxy_parameter.port %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.proxy_parameter.authentication_url') %></th>
    <td><%= proxy_parameter.authentication_url %></td>
  </tr>
  </tbody>
</table>
