<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container">


    <table class="table">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.functionality.type') %></th>
      <th><%= t('activerecord.attributes.functionality.name') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @collection.each do |functionality| %>
      <tr>
        <td><%= functionality.type_humanize %></td>
        <td><%= functionality.name %></td>
        <td class="text-xs-right">
          <%= link_to t('actions.show'), back_office_functionality_path(functionality), class: 'btn btn-secondary' %>
          <%= link_to t('actions.edit'), edit_back_office_functionality_path(functionality), class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to t('actions.new'), new_back_office_functionality_path, class: 'btn btn-secondary' %><br />

  </div>
</div>
