<%= simple_form_for object do |f| %>

  <%= error_messages_for(f.object) %>

  <%= hidden_field :bank_detail, 'from_contract', value: params[:from_contract] %>
  <%= hidden_field :bank_detail, 'from_service', value: params[:from_service] %>
  <%= hidden_field :bank_detail, 'entreprise_owner_id', value: params[:entreprise_owner_id] %>

  <%= f.input :name %>
  <%= f.input :iban %>
  <%= f.input :bic %>
  <%= f.input :account_owner %>
  <%= f.input :bank_name %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
