<% unless bank_detail.is_active %>
  <div class="alert alert-danger" role="alert">
    <%= t('bank_details.show.not_active') %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-3 text-sm-right">
    <strong><%= t('activerecord.attributes.bank_detail.account_owner') %></strong>
  </div>
  <div class="col-sm-7">
    <%= bank_detail.account_owner %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-sm-right">
    <strong><%= t('activerecord.attributes.bank_detail.bank_name') %></strong>
  </div>
  <div class="col-sm-7">
    <%= bank_detail.bank_name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-sm-right">
    <strong><%= t('activerecord.attributes.bank_detail.is_active') %></strong>
  </div>
  <div class="col-sm-7">

    <i class="<%= t("misc.is_active.#{bank_detail.is_active}.icon") %>"></i>
    <%= t("misc.#{bank_detail.is_active}") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-sm-right">
    <strong><%= t('activerecord.attributes.bank_detail.iban') %></strong>
  </div>
  <div class="col-sm-7">
    <%= bank_detail.iban %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-sm-right">
    <strong><%= t('activerecord.attributes.bank_detail.bic') %></strong>
  </div>
  <div class="col-sm-7">
    <%= bank_detail.bic %>
  </div>
</div>

<% unless bank_detail.is_active %>
  <%= render layout: 'shared/custom_modal',
             locals: {
               title: t('misc.state')
             } do %>

    <p><%= t('bank_details.show.not_active') %></p>

  <% end %>
<% end %>