<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_controls) { link_to t('actions.create_bank_detail'), new_service_bank_detail_path(current_service), class: 'btn btn-primary' } %>


<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
        <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th colspan="2" class="width-30"><%= t('activerecord.attributes.bank_detail.name') %></th>
            <th class="width-20"><%= t('activerecord.attributes.bank_detail.bank_name') %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @collection.each do |bank_detail| %>
              <tr>
                <td class="width-3">
                  <i class="fa fa-2x fa-credit-card"></i>
                </td>
                <td>
                  <strong ><%= bank_detail.name %></strong><br />
                  <small class="text-muted"><%=  bank_detail.account_owner %></small>
                </td>
                <td>
                  <span class=""><%= bank_detail.bank_name %></span>
                </td>
                <td class="text-right">
                  <%= link_to t('misc.more_info'), service_bank_detail_path(current_service, bank_detail.id), class: 'btn btn-secondary' %>
                  <%= link_to t('actions.edit'), edit_service_bank_detail_path(current_service, bank_detail.id), class: 'btn btn-primary' %>
                  <%= link_to t('actions.destroy'), service_bank_detail_path(current_service, bank_detail.id), method: :delete, class: 'btn btn-danger' %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

  </div>
</div>
