<div class="form-group row required <%= 'has-danger' if f.object.errors.key?(:base) %>">
  <label class="col-md-3 col-form-label" for="captcha">
    <%= t('misc.captcha') %> <abbr title="required">*</abbr>
  </label>
  <div class="col-md-9">
    <%= captcha_tag '', class: 'img-fluid' %>
    <%= text_field_tag :captcha, '', class:'form-control string required' %>
    <small class="form-text text-muted"><%= t('misc.captcha_hint') %></small>
  </div>
</div>