<% if collection.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <table class="table table-hover table-sm table-link">
    <thead>
    <tr>
      <th colspan="2">
        <%= t('error_measurements.error_types.title') %>
      </th>
      <th>
        <%= t("error_measurements.error_types.message") %>
      </th>
      <th>
        <%= t("error_measurements.created_at") %>
      </th>
      <th>
        <%= t("activerecord.attributes.contract.startup") + " / " %> <small class="text-muted"><%= t("activerecord.attributes.contract.proxy") %></small><br/>
        <small class="text-muted"><%= t("activerecord.attributes.contract.client") %></small>
      </th>
    </tr>
    </thead>
    <tbody>
      <% collection.each do |error_measurement| %>
        <tr>
          <td>
            <i class="fa fa-fw fa-2x fa-exclamation-triangle"></i>
          </td>
          <td>
            <%= t("errors.api.#{error_measurement.error_type.underscore}.title")%>
            <br/><small class="text-muted"><%=  %></small>
          <td>
            <%= t("errors.api.#{error_measurement.error_type.underscore}.message") %><br/>
            <% unless error_measurement.message.blank? %>
              <small class="text-muted"><%= error_measurement.message %></small>
            <% end %>
          </td>
          <td>
            <%= l(error_measurement.created_at, format: :short) %>
          </td>
          <td>
            <%= error_measurement.startup.name + " / "%><small class="text-muted"><%= error_measurement.proxy.name %></small><br/>
            <small class="text-muted"><%= error_measurement.client.name %></small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>