<% if !current_service.nil? %>

  <div class="b-io-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1><%= current_service.name %> <span class="pull-right text-muted"><%= I18n.t("types.service_types.#{current_service.service_type}") %></span></h1>
          <% if current_service.company %>
            <h4><i class="fa fa-fw fa-bank"></i> <%= current_service.company.name %></h4>
          <% end %>
        </div>
      </div>
      <%= render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder %>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'services' && action_name == 'show' %>" href="<%= service_path(current_service) %>"><%= t('misc.dashboard') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'services' && ['edit', 'update'].include?(action_name) %>" href="<%= edit_service_path(current_service) %>"><%= t('misc.parameters') %></a>
            </li>
            <% if current_service.is_activated? && !current_service.is_client? %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if ['proxies', 'routes', 'query_parameters'].include?(controller_name) %>" href="<%= service_proxies_path(current_service) %>"><i class="fa fa-server fa-fw"></i> <%= t('activerecord.models.proxy').pluralize %></a>
              </li>
              <% if current_user.has_role?(:superadmin) %>
                <li class="nav-item">
                  <a class="nav-link <%= 'active' if controller_name == 'permissions' %>" href="<%= service_permissions_list_services_path(current_service) %>"><i class="fa fa-lock fa-fw"></i> Permissions</a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% unless current_proxy.nil? %>
    <div class="b-io-header" style="background-color: #B4CAE0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h5 style="margin:0;"><%= current_proxy.name %></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% elsif current_module == 'companies' && !current_company.nil? %>

  <div class="b-io-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1><i class="fa fa-fw fa-bank"></i> <%= current_company.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'companies' && action_name == 'show' %>" href="<%= company_path(current_company) %>"><%= t('misc.dashboard') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'companies' && ['edit', 'update'].include?(action_name) %>" href="<%= edit_company_path(current_company) %>"><%= t('misc.parameters') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'companies' && action_name == 'startups' %>" href="<%= startups_company_path(current_company) %>"><%= t('types.service_types.startup').pluralize %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'companies' && action_name == 'clients' %>" href="<%= clients_company_path(current_company) %>"><%= t('types.service_types.client').pluralize %></a>
            </li>
            <% if current_user.is_admin? %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if controller_name == 'companies' && ['users', 'add_admin'].include?(action_name) %>" href="<%= users_company_path(current_company) %>"><i class="fa fa-user fa-fw"></i> <%= t('companies.users.title') %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% elsif current_module == 'documentation' %>

  <div class="b-io-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1><%= t('activerecord.models.documentation') %></h1>
        </div>
      </div>
    </div>
  </div>

<% elsif !current_user.nil? %>

  <div class="b-io-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1><%= current_user.full_name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'users' && action_name == 'profile' %>" href="<%= profile_path %>"><%= t('misc.profile') %></a>
            </li>
            <% if current_user.is_admin? %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if controller_name == 'companies' %>" href="<%= companies_path %>"><i class="fa fa-fw fa-bank"></i> <%= t('activerecord.models.company').pluralize %></a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'services' %>" href="<%= services_path %>"><%= t('activerecord.models.service').pluralize %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'registrations' && ['edit', 'update'].include?(action_name) %>" href="<%= edit_user_registration_path %>"><%= t('actions.edit_account') %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% end %>