<% if !current_service.nil? %>

  <%= render partial: 'shared/headers/dashboard_header' %>

  <% unless current_contract.nil? %>
    <%= render partial: 'shared/headers/contract_header' %>
  <% end %>

  <% unless current_bill.nil? %>
    <%= render partial: 'shared/headers/bill_header' %>
  <% end %>


  <% unless current_proxy.nil? %>
    <%= render partial: 'shared/headers/proxy_header' %>

    <% unless current_route.nil? %>
      <%= render partial: 'shared/headers/route_header' %>
    <% end %>

    <% unless current_price.nil? %>
      <%= render partial: 'shared/headers/price_header' %>
    <% end %>

    <% unless current_request.nil? %>
      <%= render partial: 'shared/headers/request_header' %>
    <% end %>
  <% end %>

<% elsif current_module == 'documentation' %>

  <div class="b-io-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3><%= t('activerecord.models.documentation') %></h3>
        </div>
      </div>
    </div>
  </div>

<% elsif !current_user.nil? %>

  <%= render partial: 'shared/headers/profile_header' %>

  <% unless current_contract.nil? %>
    <%= render partial: 'shared/headers/contract_header' %>
  <% end %>

  <% unless current_bill.nil? %>
    <%= render partial: 'shared/headers/bill_header' %>
  <% end %>

<% end %>