<% unless current_service.nil? %>

  <div class="b-io-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= current_service.name %></h1>
          <% if current_service.company %>
            <h4><%= current_service.company.name %></h4>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'services' %>" href="<%= service_path(current_service) %>"><%= t('misc.dashboard') %></a>
            </li>
            <% if current_service.is_activated? %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if ['proxies', 'routes', 'query_parameters'].include?(controller_name) %>" href="<%= service_proxies_path(current_service) %>"><i class="fa fa-server fa-fw"></i> <%= t('activerecord.models.proxy').pluralize %></a>
              </li>
              <% if current_user.has_role?(:superadmin) %>
                <li class="nav-item">
                  <a class="nav-link <%= 'active' if controller_name == 'permissions' %>" href="<%= service_permissions_list_services_path(current_service) %>"><i class="fa fa-lock fa-fw"></i> Permissions</a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% unless current_proxy.nil? %>
    <div class="b-io-header" style="background-color: #B4CAE0">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h5 style="margin:0;"><%= current_proxy.name %></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<% if current_module == 'companies' && !current_company.nil? %>

  <div class="b-io-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= current_company.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'companies' && action_name == 'show' %>" href="<%= company_path(current_company) %>"><%= t('misc.dashboard') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'companies' && action_name == 'services' %>" href="<%= services_company_path(current_company) %>">Services</a>
            </li>
            <% if current_user.is_superadmin %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if controller_name == 'companies' && ['admin_list', 'add_admin'].include?(action_name) %>" href="<%= admin_list_company_path(current_company) %>"><i class="fa fa-user fa-fw"></i> Users</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% end %>
