<% unless current_service.nil? %>

  <div class="b-io-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= current_service.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name == 'services' %>" href="<%= service_path(current_service) %>"><%= t('misc.dashboard') %></a>
            </li>
            <% if current_service.is_activated? %>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if ['proxies', 'routes', 'query_parameters'].include?(controller_name) %>" href="<%= service_proxies_path(current_service) %>"><i class="fa fa-server fa-fw"></i> <%= t('activerecord.models.proxy').pluralize %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if controller_name == 'permissions' %>" href="<%= service_permissions_list_services_path(current_service) %>"><i class="fa fa-lock fa-fw"></i> Permissions</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% end %>
