<% unless current_service.nil? %>
  <% unless current_proxy.nil? %>
    <% if current_route.nil? %>
    <% else %>
      <div class="b-io-menu--secondary">
        <ul class="list-group">
          <a class="list-group-item" href="<%= service_proxy_path(current_service, current_proxy) %>"><%= t('misc.dashboard') %></a>
          <a class="list-group-item" href="<%= edit_service_proxy_path(current_service, current_proxy) %>"><%= t('misc.parameters') %></a>
          <a class="list-group-item" href="<%= service_proxy_identifiers_path(current_service, current_proxy) %>"><i class="fa fa-key fa-fw"></i> <%= t('activerecord.models.identifier').pluralize %></a>
          <a class="list-group-item" href="<%= service_proxy_prices_path(current_service, current_proxy) %>"><i class="fa fa-fw fa-money"></i> <%= t('activerecord.models.price').pluralize %></a>
          <a class="list-group-item" href="<%= edit_service_proxy_path(current_service, current_proxy) %>"><%= t('actions.edit') %></a>
          <a class="list-group-item" href="<%= service_proxy_routes_path(current_service, current_proxy) %>"><i class="fa fa-road fa-fw"></i> <%= t('activerecord.models.route').pluralize %></a>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
