<% if current_user.nil? %>
  <div class="b-io-menu--secondary b-io-menu--tertiary">
    <img class="img-fluid" src="/dashboard/basilio-little-spaceman.png">
  </div>
<% else %>
  <% if current_service.nil? %>
  <% else %>
    <% if current_route.nil? %>
    <% else %>
      <div class="b-io-menu--secondary b-io-menu--secondary">
        <h4><%= current_route.name %></h4>
        <nav class="nav nav-pills nav-stacked">
          <a class="nav-link" href="<%= back_office_proxy_route_path(current_proxy, current_route) %>">Tableau de bord</a>
          <a class="nav-link" href="<%= edit_back_office_proxy_route_path(current_proxy, current_route) %>">Modifier</a>
        </nav>
      </div>
    <% end %>
    <% if current_proxy.nil? %>
    <% else %>
      <div class="b-io-menu--secondary b-io-menu--secondary">
        <h4><%= current_proxy.name %></h4>
        <nav class="nav nav-pills nav-stacked">
          <a class="nav-link" href="<%= back_office_proxy_path(current_proxy) %>">Tableau de bord</a>
          <a class="nav-link" href="<%= edit_back_office_proxy_path(current_proxy) %>">Modifier</a>
          <a class="nav-link" href="<%= back_office_proxy_routes_path(current_proxy) %>">Routes</a>
        </nav>
      </div>
    <% end %>
    <div class="b-io-menu--secondary b-io-menu--tertiary">
      <nav class="nav nav-pills nav-stacked">
        <a class="nav-link" href="<%= back_office_proxies_path %>">Proxies</a>
      </nav>
    </div>
  <% end %>
<% end %>
