<% if current_user.nil? %>
  <div class="b-io-menu--secondary b-io-menu--tertiary">
    <img class="img-fluid" src="/dashboard/basilio-little-spaceman.png">
  </div>
<% else %>
  <% if current_service.nil? %>
  <% else %>
    <div class="b-io-menu--secondary <% unless current_proxy.nil? %>b-io-menu--tertiary<% end %>">
      <h4><%= current_service.name %></h4>
      <nav class="nav nav-pills nav-stacked">
        <a class="nav-link" href="<%= service_path(current_service) %>">Tableau de bord</a>
        <a class="nav-link" href="<%= edit_service_path(current_service) %>">Modifier</a>
        <a class="nav-link" href="<%= service_proxies_path(current_service) %>"><i class="fa fa-server"></i> Proxies</a>
        <a class="nav-link" href="<%= service_permissions_list_services_path(current_service) %>">Permissions</a>
      </nav>
    </div>

    <% if current_proxy.nil? %>
    <% else %>
      <div class="b-io-menu--secondary <% unless current_route.nil? %>b-io-menu--tertiary<% end %>">
        <h4><i class="fa fa-server"></i> <%= current_proxy.name %></h4>
        <nav class="nav nav-pills nav-stacked">
          <a class="nav-link" href="<%= service_proxy_path(current_service, current_proxy) %>">Tableau de bord</a>
          <a class="nav-link" href="<%= edit_service_proxy_path(current_service, current_proxy) %>">Modifier</a>
          <a class="nav-link" href="<%= service_proxy_routes_path(current_service, current_proxy) %>"><i class="fa fa-road"></i> Routes</a>
        </nav>
      </div>

      <% if current_route.nil? %>
      <% else %>
        <div class="b-io-menu--secondary">
          <h4><i class="fa fa-road"></i> <%= current_route.name %></h4>
          <nav class="nav nav-pills nav-stacked">
            <a class="nav-link" href="<%= service_proxy_route_path(current_service, current_proxy, current_route) %>">Tableau de bord</a>
            <a class="nav-link" href="<%= edit_service_proxy_route_path(current_service, current_proxy, current_route) %>">Modifier</a>
            <a class="nav-link" href="<%= service_proxy_route_query_parameters_path(current_service, current_proxy, current_route) %>">Paramètres en entrée</a>
          </nav>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
