<div class="b-io-topbar">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <a class="navbar-brand" href="#">Baasile IO Platform</a>
        <ul class="nav navbar-nav">
          <% if !current_user.nil? %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= services_path %>">Services</a>
            </li>
            <% if current_user.is_super_admin %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= users_path %>">Users</a>
            </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link" href="<%= show_profile_path %>">Mon compte</a>
            </li>
          <% end %>
        </ul>
        <div class="float-lg-right">
          <% if current_user.nil? %>
            <a href="<%= new_user_session_path %>" class="btn btn-outline-info">Sign in</a>
            <a href="<%= new_user_registration_path %>" class="btn btn-outline-info">Sign up</a>
          <% else %>
            <%= link_to t('actions.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>
