<nav class="navbar navbar-toggleable-md <%= 'fixed-top' if controller_name != 'pages' %> navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>"><%= t('config.platform_name') %></a>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if current_module == 'service_book' %>" href="<%= service_book_path %>"><%= t('pages.service_book.title') %></a>
      </li>
      <% if !current_user.nil? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'active' if ['profile', 'dashboard', 'contract', 'ticket', 'bill'].include?(current_module) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t('misc.dashboard') %></a>
          <div class="dropdown-menu">
            <a class="dropdown-item <%= 'active' if controller_name == 'users' && action_name == 'profile' %>" href="<%= profile_path %>"><i class="fa fa-home fa-fw"></i> <%= t('misc.my_account') %></a>
            <a class="dropdown-item <%= 'active' if current_module == 'dashboard' %>" href="<%= services_path %>"><i class="fa fa-cube fa-fw"></i> <%= t('misc.my_services') %></a>
            <a class="dropdown-item <%= 'active' if current_module == 'contract' %>" href="<%= contracts_path %>"><i class="fa fa-edit fa-fw"></i> <%= t('misc.my_contracts') %></a>
            <a class="dropdown-item <%= 'active' if current_module == 'bill' %>" href="<%= bills_path %>"><i class="fa fa-file-text-o fa-fw"></i> <%= t('bills.index.title') %></a>
            <a class="dropdown-item <%= 'active' if current_service.nil? && controller_name == 'users' && action_name != 'profile' %>" href="<%= users_path %>"><i class="fa fa-users fa-fw"></i> <%= t('misc.my_users') %></a>
            <a class="dropdown-item <%= 'active' if controller_name == 'tickets' %>" href="<%= tickets_path %>"><i class="fa fa-envelope fa-fw"></i> <%= t('misc.my_tickets') %></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_module == 'documentation' %>" href="<%= documentations_path %>"><%= t('misc.documentation') %></a>
        </li>
        <% if current_user.is_superadmin? %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_module == 'back_office' %>" href="<%= back_office_path %>"><%= t('misc.back_office') %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>" class="btn btn-link"><%= t('actions.sign_in') %></a>
        <a href="<%= new_user_registration_path %>" class="btn btn-link"><%= t('actions.sign_up') %></a>
      <% else %>
        <%= link_to current_user.full_name, profile_path, class: 'btn btn-outline-secondary' %> &nbsp;
        <%= link_to '<i class="fa fa-fw fa-sign-out"></i>'.html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger', data: {toggle: 'tooltip', title: t('actions.sign_out'), placement: 'bottom'} %>
      <% end %>
    </div>
  </div>
</nav>