<nav class="navbar navbar-toggleable-md <%= 'fixed-top' if controller_name != 'pages' %> navbar-inverse bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <a class="navbar-brand" href="<%= root_path %>"><%= t('config.platform_name') %></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if current_module == 'service_book' %>" href="<%= service_book_path %>"><%= t('pages.service_book.title') %></a>
      </li>
      <% if !current_user.nil? %>
        <% if current_user.is_superadmin || current_user.is_campany_admin%>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_module == 'companies' %>" href="<%= companies_path %>"><%= t('companies.index.title') %></a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_module == 'dashboard' %>" href="<%= services_path %>"><%= t('services.index.title') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_module == 'dashboard' %>" href="<%= clients_path %>"><%= t('services.clients.title') %></a>
        </li>
        <% if current_user.is_superadmin %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_module == 'users' %>" href="<%= users_path %>"><%= t('users.index.title') %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>" class="btn btn-outline-info"><%= t('actions.sign_in') %></a>
        <a href="<%= new_user_registration_path %>" class="btn btn-outline-info"><%= t('actions.sign_up') %></a>
      <% else %>
        <%= link_to current_user.full_name, profile_path, class: 'btn btn-info' %>
        <%= link_to t('actions.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</nav>