<nav class="navbar navbar-toggleable-md <%= 'fixed-top' if controller_name != 'pages' %> navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>"><%= t('config.platform_name') %></a>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if current_module == 'service_book' %>" href="<%= service_book_path %>"><%= t('pages.service_book.title') %></a>
      </li>
      <% if !current_user.nil? %>
        <% if current_user.is_commercial? %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_module == 'contract' %>" href="<%= contracts_path %>"><i class="fa fa-fw fa-edit"></i> <%= t('contracts.index.title') %></a>
          </li>
        <% end %>
        <% if current_user.is_admin? %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_module == 'companies' %>" href="<%= companies_path %>"><i class="fa fa-fw fa-bank"></i> <%= t('companies.index.title') %></a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_module == 'dashboard' %>" href="<%= services_path %>"><%= t('services.index.title') %></a>
        </li>
        <% if current_user.is_superadmin? %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_module == 'back_office' %>" href="<%= back_office_path %>"><%= t('misc.back_office') %></a>
          </li>
        <% end %>
      <% end %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if current_module == 'documentation' %>" href="<%= documentations_path %>"><%= t('misc.documentation') %></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>" class="btn btn-outline-info"><%= t('actions.sign_in') %></a>
        <a href="<%= new_user_registration_path %>" class="btn btn-outline-info"><%= t('actions.sign_up') %></a>
      <% else %>
        <%= link_to current_user.full_name, profile_path, class: 'btn btn-info' %>
        <%= link_to '<i class="fa fa-fw fa-sign-out"></i>'.html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-secondary', data: {toggle: 'tooltip', title: t('actions.sign_out'), placement: 'left'} %>
      <% end %>
    </div>
  </div>
</nav>