<% if @contract.nil? %>
  <%= simple_form_for [current_service, @price, @price_parameter] do |f| %>
    <%= error_messages_for(@price_parameter) %>
    <%= f.input :name %>
    <%= f.input :price_parameters_type , collection: format_price_parameters_type_for_select %>
    <%= f.input :parameter %>
    <%= f.input :nb_free %>
    <%= f.input :reset_free_perode_hour %>
    <%= f.input :cost %>

    <div class="row">
      <div class="actions col-md-9 offset-md-3">
        <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
      </div>
    </div>
  <% end %>
<% elsif !@companie.nil? %>
  <%= simple_form_for [@company, @contract, @price, @price_parameter] do |f| %>
    <%= error_messages_for(@price_parameter) %>
    <%= f.input :name %>
    <%= f.input :price_parameters_type , collection: format_price_parameters_type_for_select %>
    <%= f.input :parameter %>
    <%= f.input :nb_free %>
    <%= f.input :reset_free_perode_hour %>
    <%= f.input :cost %>

    <div class="row">
      <div class="actions col-md-9 offset-md-3">
        <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
      </div>
    </div>
  <% end %>
<% elsif !@service.nil? %>
  <%= simple_form_for [current_service, @contract, @price, @price_parameter] do |f| %>
    <%= error_messages_for(@price_parameter) %>
    <%= f.input :name %>
    <%= f.input :price_parameters_type , collection: format_price_parameters_type_for_select %>
    <%= f.input :parameter %>
    <%= f.input :nb_free %>
    <%= f.input :reset_free_perode_hour %>
    <%= f.input :cost %>

    <div class="row">
      <div class="actions col-md-9 offset-md-3">
        <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for [@contract, @price, @price_parameter] do |f| %>
    <%= error_messages_for(@price_parameter) %>
    <%= f.input :name %>
    <%= f.input :price_parameters_type , collection: format_price_parameters_type_for_select %>
    <%= f.input :parameter %>
    <%= f.input :nb_free %>
    <%= f.input :reset_free_perode_hour %>
    <%= f.input :cost %>

    <div class="row">
      <div class="actions col-md-9 offset-md-3">
        <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
      </div>
    </div>
  <% end %>
<% end %>

