<%= simple_form_for [:back_office, @user] do |f| %>

  <%= error_messages_for(@user) %>

  <%= f.input :email %>

  <div class="row">
    <div class="col-md-2">
      <%= f.input :gender, as: :select, collection: format_gender_for_select %>
    </div>
    <div class="col-md-5">
      <%= f.input :first_name %>
    </div>
    <div class="col-md-5">
      <%= f.input :last_name %>
    </div>
  </div>

  <%= f.input :phone %>

  <%= f.input :is_active, as: :radio_buttons %>

  <div class="actions">
    <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
  </div>
<% end %>
