<%= simple_form_for [:back_office, @user] do |f| %>

  <%= error_messages_for(@user) %>

  <%= f.input :parent_id, collection: format_users_for_select(@users), input_html: {class: 'select2'}, include_blank: t('misc.none'), hint: t('.hints.parent_id') %>

  <%= f.input :email %>

  <%= f.input :gender, as: :select, collection: format_gender_for_select %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>

  <%= f.input :phone, hint: t('users.form.hints.phone')%>

  <%= f.input :is_active, as: :radio_buttons %>

  <% unless f.object.persisted? %>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="skip_confirmation"></label>
      <div class="col-md-9">
        <label>
          <%= check_box_tag :skip_confirmation, 'true', params[:skip_confirmation].present? %>
          <%= t('actions.skip_confirmation') %>
        </label>
        <small class="form-text text-muted"><%= t('.hints.skip_confirmation') %></small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="send_welcome_instructions"></label>
      <div class="col-md-9">
        <label>
          <%= check_box_tag :send_welcome_instructions, 'true', params[:send_welcome_instructions].present? %>
          <%= t('actions.send_welcome_instructions') %>
        </label>
        <small class="form-text text-muted"><%= t('.hints.send_welcome_instructions') %></small>
      </div>
    </div>

  <% else %>

    <% unless f.object.confirmed_at %>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="confirm_email"></label>
        <div class="col-md-9">
          <label>
            <%= check_box_tag :skip_confirmation, 'true', params[:skip_confirmation].present? %>
            <%= t('actions.confirm_email') %>
          </label>
          <small class="form-text text-muted"><%= t('.hints.confirm_email') %></small>
        </div>
      </div>
    <% end %>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="send_reset_password"></label>
      <div class="col-md-9">
        <label>
          <%= check_box_tag :send_reset_password, 'true', params[:send_reset_password].present? %>
          <%= t('actions.send_reset_password') %>
        </label>
        <small class="form-text text-muted"><%= t('.hints.send_reset_password') %></small>
      </div>
    </div>

  <% end %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
