<% content_for(:page_back) { back_office_users_path } %>
<% content_for(:page_title) { "#{'<i class="fa fa-fw fa-lock"></i> ' unless @user.confirmed_at}#{@user.full_name}".html_safe } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="<%= edit_back_office_user_path(@user) %>">
          <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-fw fa-key"></i> <%= t('misc.permissions') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= audit_back_office_user_path(@user) %>">
          <i class="fa fa-fw fa-history"></i> <%= t('misc.audit') %>
        </a>
      </li>
    </ul>

    <div class="b-io-content--secondary">
      <div class="container-fluid">
        <table class="table table-sm">
          <tbody>
          <tr>
            <td>
              <strong><%= t('devise.confirmations.email_confirmation') %></strong><br />
              <small class="text-muted"><%= (@user.confirmed_at.nil? ? t('devise.confirmations.unconfirmed') : t('devise.confirmations.confirmed_at', date: @user.confirmed_at)) %></small>
            </td>
            <td class="text-right width-3">
              <i class="fa fa-fw fa-2x fa-<%= 'un' unless @user.confirmed_at.nil? %>lock"></i>
            </td>
          </tr>
          <tr>
            <td>
              <strong><%= t('activerecord.attributes.user.is_active') %></strong>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <%= link_to '<i class="fa fa-fw fa-check"></i>'.html_safe, @user.is_active ? '#' : toggle_is_active_back_office_user_path(@user, scope: :superadmin), method: :put, class: "btn #{@user.is_active ? 'btn-success disabled' : 'btn-secondary'}" %>
                <%= link_to '<i class="fa fa-fw fa-times"></i>'.html_safe, !@user.is_active ? '#' : toggle_is_active_back_office_user_path(@user, scope: :superadmin), method: :put, class: "btn #{!@user.is_active ? 'btn-danger disabled' : 'btn-secondary'}" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <strong><i class="<%= t("roles.superadmin.icon") %>"></i> <%= t("roles.superadmin.title_long") %></strong><br />
              <small class="text-muted"><%= t("roles.superadmin.description") %></small>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <%= link_to '<i class="fa fa-fw fa-check"></i>'.html_safe, @user.has_role?(:superadmin) ? '#' : toggle_role_back_office_user_path(@user, scope: :superadmin), method: :put, class: "btn #{@user.has_role?(:superadmin) ? 'btn-success disabled' : 'btn-secondary'}" %>
                <%= link_to '<i class="fa fa-fw fa-times"></i>'.html_safe, !@user.has_role?(:superadmin) ? '#' : toggle_role_back_office_user_path(@user, scope: :superadmin), method: :put, class: "btn #{!@user.has_role?(:superadmin) ? 'btn-danger disabled' : 'btn-secondary'}" %>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <h3><%= t('misc.advanced_permissions') %></h3>
  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @user_services.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <% Role::USER_ROLES.each do |scope| %>
            <th class="text-right width-10"><i class="<%= t("roles.#{scope}.icon") %>" data-toggle="tooltip" data-placement="top" title="<%= t("roles.#{scope}.title") %>"></i></th>
          <% end %>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%
          @user_services.each do |service|
        %>
          <tr>
            <td class="width-3">
              <i class="fa-2x <%= t("types.service_types.#{service.service_type}.icon") %>"></i>
            </td>
            <td>
              <%= "<span class=\"float-right\"><i class=\"fa fa-2x fa-fw fa-lock\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"#{t('misc.unconfirmed')}\"></i></span>".html_safe if service.confirmed_at.nil? %>
              <strong class="<%= t("types.service_types.#{service.service_type}.class") %>"><%= service.name %></strong><br />
              <%= "<small class=\"text-muted\"><i class=\"#{t("types.service_types.#{service.parent.service_type}.icon")}\"></i> #{service.parent}</small>  ".html_safe if service.parent %>&nbsp;
            </td>
            <td class="text-right">
              <% if service.user_id != @user.id %>
                <%= link_to '<i class="fa fa-fw fa-unlink"></i>'.html_safe, disassociate_back_office_user_path(@user, service_id: service.id), title: t('actions.disassociate'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'left'}, method: :delete, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
            <% Role::USER_ROLES.each do |scope| %>
              <% has_role = @user.has_role?(scope, service) %>
              <td class="text-right">
                <% if !(scope != :admin && @user.has_role?(:admin, service)) && service.send("main_#{scope}") != @user %>
                  <div class="btn-group">
                    <%= link_to '<i class="fa fa-fw fa-check"></i>'.html_safe, (has_role ? '#' : toggle_object_role_back_office_user_path(@user, object_type: 'Service', object_id: service.id, scope: scope)), method: :put, class: "btn btn-sm #{has_role ? 'btn-success disabled' : 'btn-secondary'}" %>
                    <%= link_to '<i class="fa fa-fw fa-times"></i>'.html_safe, (!has_role ? '#' : toggle_object_role_back_office_user_path(@user, object_type: 'Service', object_id: service.id, scope: scope)), method: :put, class: "btn btn-sm #{!has_role ? 'btn-danger disabled' : 'btn-secondary'}" %>
                  </div>
                <% else %>
                  <i class="fa fa-fw fa-check"></i>
                <% end %>
              </td>
            <% end %>
            <td class="text-right">
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_back_office_service_path(service), class: 'btn btn-secondary btn-sm', title: t('actions.edit_service'), data: {toggle: 'tooltip', placement: 'left'} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <h3><%= t('actions.add_association') %></h3>
  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= simple_form_for [:back_office, @user], url: associate_back_office_user_path, method: :put do |f| %>
      <%= f.input :service_id, collection: format_services_for_select(@other_services), selected: nil, input_html: {class: 'services-select2'}, label: t('activerecord.models.service').pluralize %>
      <%= f.input :role, collection: format_roles_for_select(Role::USER_ROLES), selected: nil, input_html: {class: 'select2'}, label: t('activerecord.models.role') %>

      <div class="row">
        <div class="actions col-md-9 offset-md-3">
          <%= f.button :submit, value: I18n.t('actions.add'), data: { disable_with: t('actions.save_in_progress') } %>
        </div>
      </div>
    <% end -%>

  </div>
</div>