<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th></th>
    <th class="width-10 text-right"><%= t('bills.invoice_attributes.unit_cost') %></th>
    <th class="width-10 text-right"><%= t('bills.invoice_attributes.unit_num') %></th>
    <th class="width-10 text-right"><%= t('bills.invoice_attributes.total_cost') %></th>
    <th class="width-10 text-right"><%= t('bills.invoice_attributes.vat_rate') %></th>
    <th class="width-10 text-right"><%= t('bills.invoice_attributes.total_cost_including_vat') %></th>
  </tr>
  </thead>
  <% bill.bill_lines.each do |bill_line| %>
    <% if bill_line.line_type.to_sym == :amount %>
      <tbody>
        <tr>
          <td><%= t(bill_line.title, platform_contribution_rate: Appconfig.get(:platform_contribution_rate)) %></td>
          <td class="text-right"><%= format_amount bill_line.unit_cost %></td>
          <td class="text-right"><%= bill_line.unit_num %></td>
          <td class="text-right"><%= format_amount bill_line.total_cost %></td>
          <td class="text-right"><%= format_rate bill_line.vat_rate %></td>
          <td class="text-right"><%= format_amount bill_line.total_cost_including_vat %></td>
        </tr>
      </tbody>
    <% elsif bill_line.line_type.to_sym == :subtotal %>
      <thead>
        <tr>
          <th><%= t('bills.invoice_titles.subtotal') %></th>
          <th class="text-right"></th>
          <th class="text-right"></th>
          <th class="text-right"><%= format_amount bill_line.total_cost %></th>
          <th class="text-right"></th>
          <th class="text-right"><%= format_amount bill_line.total_cost_including_vat %></th>
        </tr>
      </thead>
    <% else %>
      <tr>
        <th colspan="6"><%= bill_line.title %></th>
      </tr>
    <% end %>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th><%= t('bills.invoice_titles.total') %></th>
    <th class="text-right"></th>
    <th class="text-right"></th>
    <th class="text-right"><%= format_amount bill.total_cost %></th>
    <th class="text-right"></th>
    <th class="text-right"><%= format_amount bill.total_cost_including_vat %></th>
  </tr>
  </tfoot>
</table>

<%= link_to t('actions.print_consumption'), print_current_month_consumption_contract_path(current_contract), class: 'btn btn-secondary' %>