<%
  content_for(:page_title) {
    t('.title', start_date: l(current_bill.start_date, format: :default), end_date: l(current_bill.end_date, format: :default))
  }

  content_for(:page_controls) {
    "#{link_to t('actions.print'), polymorphic_path([current_service, current_bill], action: :print), class: 'btn btn-secondary'}
    #{link_to t('actions.see_contract'), polymorphic_path([current_service, current_bill.contract]), class: 'btn btn-secondary'}".html_safe
  }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'bills/show_consumption', locals: {bill: current_bill} %>

    <div class="row">
      <div class="col-sm-3 text-sm-right">
        <strong>
          <%= t('bills.invoice_attributes.total_cost') %>
          <%= t('activerecord.attributes.contract.startup') %>
        </strong>
      </div>
      <div class="col-sm-9">
        <p class="<%= (current_bill.startup_paid? ? 'text-success' : 'text-danger') %>">
          <strong><%= format_amount current_bill.startup_cost_including_vat %></strong><br />
          <% if current_bill.startup_paid? %>
            <%= t("misc.paid_on", date: l(current_bill.startup_paid, format: :short)) %>
          <% else %>
            <%= t("misc.paid.false") %>
          <% end %>
        </p>
        <% if !current_bill.startup_paid? && current_bill.due_date %>
          <p class="text-danger">
            <small><%= "#{t('misc.deadline')}#{' ' if I18n.locale == :fr}: #{l(current_bill.due_date, format: :default)}" %></small>
          </p>
        <% end %>
        <% if !current_bill.startup_paid? && current_user.is_user_of?(current_bill.contract.startup) %>
          <p>
            <%= link_to t('actions.mark_as_paid'),
                        polymorphic_path([current_service, current_bill], action: :mark_as_paid),
                        class: 'btn btn-primary',
                        method: :post %>
          </p>
        <% end %>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-3 text-sm-right">
        <strong>
          <%= t('misc.platform_contribution') %>
        </strong>
      </div>
      <div class="col-sm-9">
        <p class="<%= (current_bill.platform_contribution_paid? ? 'text-success' : 'text-danger') %>">
          <strong><%= format_amount current_bill.platform_contribution_cost_including_vat %></strong><br />
          <% if current_bill.platform_contribution_paid? %>
            <%= t("misc.paid_on", date: l(current_bill.platform_contribution_paid, format: :short)) %>
          <% else %>
            <%= t("misc.paid.false") %>
          <% end %>
        </p>
        <% if !current_bill.platform_contribution_paid? && current_bill.due_date %>
          <p class="text-danger">
            <small><%= "#{t('misc.deadline')}#{' ' if I18n.locale == :fr}: #{l(current_bill.due_date, format: :default)}" %></small>
          </p>
        <% end %>
        <% if !current_bill.platform_contribution_paid? && current_user.is_superadmin? %>
          <p>
            <%= link_to t('actions.mark_as_paid'),
                        polymorphic_path([current_service, current_bill], action: :mark_platform_contribution_as_paid),
                        class: 'btn btn-primary',
                        method: :post %>
          </p>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <div class="b-io-content--header--controls"></div>
    <h4><%= t('activerecord.attributes.contract.price') %></h4>
  </div>
</div>
<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'prices/show_price_info',
               locals: {
                 price: current_bill.contract.price
               } %>

  </div>
</div>

<%= render partial: 'shared/measurement',
           locals: {
             show_detail: true,
             start_date: current_bill.start_date,
             end_date: current_bill.end_date,
             input: current_bill.contract.measurements.between(current_bill.start_date, current_bill.end_date)
           } %>


<% if current_bill.contract.client_bank_detail %>
  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls"></div>
      <h4><%= "#{t('activerecord.models.bank_detail')} #{t('activerecord.attributes.contract.client')}" %></h4>
    </div>
  </div>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <h5><%= current_bill.contract.client_bank_detail.name %></h5>
        </div>
        <div class="col-sm-9">
          <%= render partial: 'bank_details/show_bank_detail_info', locals: {bank_detail: current_bill.contract.client_bank_detail}%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_bill.contract.startup_bank_detail %>
  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls"></div>
      <h4><%= "#{t('activerecord.models.bank_detail')} #{t('activerecord.attributes.contract.startup')}" %></h4>
    </div>
  </div>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <h5><%= current_bill.contract.startup_bank_detail.name %></h5>
        </div>
        <div class="col-sm-9">
          <%= render partial: 'bank_details/show_bank_detail_info', locals: {bank_detail: current_bill.contract.startup_bank_detail}%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="b-io-content--header">
  <div class="container-fluid">
    <div class="b-io-content--header--controls"></div>
    <h4><%= t('activerecord.attributes.contract.client') %></h4>
  </div>
</div>
<div class="b-io-content--secondary">
  <div class="container-fluid">
    <%= render partial: 'services/show_service_info', locals: {service: current_bill.contract.client} %>
  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <div class="b-io-content--header--controls"></div>
    <h4><%= t('activerecord.attributes.contract.startup') %></h4>
  </div>
</div>
<div class="b-io-content--secondary">
  <div class="container-fluid">
    <%= render partial: 'services/show_service_info', locals: {service: current_bill.contract.startup} %>
  </div>
</div>