<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-sm table-condensed table-hover">
      <thead>
      <tr>
        <th colspan="2"><%= t('activerecord.attributes.appconfig.name') %></th>
        <th><%= t('activerecord.attributes.appconfig.setting_type') %></th>
        <th><%= t('activerecord.attributes.appconfig.value') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @appconfigs.each do |appconfig_key, default_appconfig| %>
        <% is_default = (Appconfig.get(appconfig_key) == default_appconfig[:value]) %>
        <tr>
          <td class="width-3">
            <i class="fa-2x fa fa-fw fa-cog"></i>
          </td>
          <td>
            <%= t("appconfigs.#{appconfig_key}.name") %><br />
            <small class="text-muted"><%= t("appconfigs.#{appconfig_key}.description") %></small>
          </td>
          <td><%= t("types.setting_types.#{default_appconfig[:setting_type]}") %></td>
          <td>
            <% if is_default %>
              <span class="text-muted"><%= Appconfig.get(appconfig_key) %></span>
            <% else %>
              <%= Appconfig.get(appconfig_key) %>
            <% end %>
          </td>
          <td class="text-right">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                <%= t('misc.actions') %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to edit_back_office_appconfig_path(appconfig_key),
                            class: 'dropdown-item' do %>
                  <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
                <% end %>
                <% unless is_default %>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_back_office_appconfig_path(appconfig_key),
                              method: :delete,
                              class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-eraser"></i> <%= t('actions.reset') %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>