<%= simple_form_for [current_service, @price, @price_parameter] do |f| %>
  <%= error_messages_for(@price_parameter) %>
  <%= f.input :name %>
  <%= f.input :parameter %>
  <%= f.input :free_call %>
  <%= f.input :periode_by_h_reset_free %>
  <%= f.input :cost_by_call %>
  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>
<% end %>