<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_description) { t('.description') } %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead text-muted">
      <%= t('.description') %>
    </p>
  </div>
</section>

<div class="container catalog">

  <div class="row">

    <div class="col-md-4 col-lg-3">

      <%= render partial: 'shared/catalog/menu_left' %>

      <hr />

      <%= render partial: 'shared/catalog/search' %>

    </div>

    <div class="col-md-8 col-lg-9">

      <div class="row">
        <div class="col-12">


        </div>
      </div>

      <div class="row cards">

        <% @collection.each.with_index do |service, index| %>
          <% image = @logotype_service.url(service.client_id, :thumb_normalize) %>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card text-center mb-3">
              <img class="card-img-top img-fluid" src="<%= image %>" alt="<%= service.name %>">
              <div class="card-block">
                <div class="card-block-description">
                  <h5 class="card-title text-nowrap text-uppercase"><%= service.name %></h5>
                  <small class="card-text text-sm"><%= simple_format(service.description).html_safe %></small>
                  <div class="card-block-description-shadow"></div>
                </div>
                <a href="<%= startup_path(service.id) %>" class="btn btn-secondary"><%= t('misc.more_info') %></a>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    </div>

  </div>

</div>