<% content_for(:page_title) { t('misc.search') } %>
<% content_for(:page_description) { t('misc.search') } %>

<section class="jumbotron text-center catalog">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('pages.catalog.title') %></h1>
    <p class="lead text-muted">
      <%= t('pages.catalog.description') %>
    </p>
  </div>
</section>

<div class="container catalog">

  <div class="row">

    <div class="col-md-4 col-lg-3">

      <%= render partial: 'shared/catalog/menu_left' %>

    </div>

    <div class="col-md-8 col-lg-9">

      <div class="row">
        <div class="col-12">
          <h1 class="text-uppercase mb-4"><%= t('misc.search') %></h1>
          <%= render partial: 'shared/catalog/search' %>
          <hr />
        </div>
      </div>

      <%= render partial: 'shared/catalog/products', locals: {collection: @collection} %>

      <% if @collection.size > 0 %>

        <hr />

        <div class="float-right">
          <%= paginate @collection %>
        </div>

        <%= page_entries_info @collection, entry_name: t('activerecord.models.proxy').downcase %>

      <% else %>

        <p class="text-muted"><%= t('misc.search_no_result') %></p>

      <% end %>

    </div>

  </div>

</div>