<% content_for(:page_title) { t('config.platform_name') } %>

<section class="jumbotron text-center bg-inverse">
  <div class="container-fluid">
    <p class="img-p"><img src="/dashboard/baasile-io-homepage.png" class="img-fluid"></p>
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead text-muted"><%= t('.subtitle') %></p>
    <p>
      <%= link_to "<i class=\"fa fa-fw fa-book\"></i> #{t('.buttons.goto_startup_book')}".html_safe, service_book_url, class: 'btn btn-link btn-lg' %>
      <%= link_to "<i class=\"fa fa-fw fa-dashboard\"></i> #{t('.buttons.goto_dashboard')}".html_safe, current_user.nil? ? new_user_session_path : services_path, class: 'btn btn-link btn-lg' %>
    </p>
  </div>
</section>

<div class="container marketing">

  <div class="row">

    <div class="col-lg-4">
      <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-fw fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-stack-1x <%= t('.sections.advantage1.icon') %>"></i>
      </span>

      <h2><%= t('.sections.advantage1.title') %></h2>
      <p>
        <%= t('.sections.advantage1.description') %>
      </p>
    </div>

    <div class="col-lg-4">
      <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-fw fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-stack-1x <%= t('.sections.advantage2.icon') %>"></i>
      </span>

      <h2><%= t('.sections.advantage2.title') %></h2>
      <p>
        <%= t('.sections.advantage2.description') %>
      </p>
    </div>

    <div class="col-lg-4">
      <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-fw fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-stack-1x <%= t('.sections.advantage3.icon') %>"></i>
      </span>

      <h2><%= t('.sections.advantage3.title') %></h2>
      <p>
        <%= t('.sections.advantage3.description') %>
      </p>
    </div>

  </div>

</div>

