<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_description) { t('.description') } %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>
</section>

<div class="album">
  <div class="container">

    <div class="row">

      <% @collection.each.with_index do |service, index| %>
        <% image = @logotype_service.url(service.client_id, :thumb_normalize) %>
        <div class="col-sm-4">
          <div class="card text-center mb-4">
            <img class="card-img-top img-fluid" src="<%= image %>" alt="<%= service.name %>">
            <div class="card-block">
              <h4 class="card-title"><%= service.name %></h4>
              <p class="card-text"><%= simple_format(service.description).html_safe %></p>
              <a href="<%= startup_path(service.id) %>" class="btn btn-secondary"><%= t('misc.more_info') %></a>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
