<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_description) { t('.description') } %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">

      <% @collection.each.with_index do |service, index| %>
        <div class="card">
          <%= link_to image_tag(asset_path('no-image.png'), class: 'img-fluid'), startup_path(service.id) %>
          <div class="card-text-container">
            <p class="card-text">
              <strong><%= service.name %></strong><br />
              <%= service.description %>
            </p>
          </div>
          <div>
            <%= link_to t('.startup_infos'), startup_path(service.id), class: 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
