<% content_for(:page_title) { @startup.name } %>

<% image = @logotype_service.url(@startup.client_id, :thumb_normalize) %>

<div class="container">

  <p style="margin-top: 15px;"><%= link_to 'Retourner au catalogue', service_book_url, class: 'btn btn-primary' %></p>

  <hr />
  <div class="row">
    <div class="col-md-7">
      <h1><%= @startup.name %></h1>
      <p class="lead"><%= simple_format(@startup.description) %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag image, class: 'img-fluid mx-auto' %>
    </div>
  </div>

  <% if @startup.description_long.present? %>
    <hr style="margin-top: 55px; margin-bottom: 55px;">
    <div class="trix-content">
      <%= @startup.description_long.html_safe %>
    </div>
  <% end %>

  <% unless @startup.proxies.count == 0 %>
    <hr style="margin-top: 55px; margin-bottom: 55px;">
    <h3><%= t('activerecord.models.proxy').pluralize %></h3>
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.proxy.name') %></th>
        <th><%= t('activerecord.attributes.proxy.category') %></th>
      </tr>
      </thead>
      <tbody>
        <% @startup.proxies.each do |proxy| %>
          <tr>
            <td class="text-left">
              <i class="fa fa-fw fa-server"></i> <strong><%= proxy.name %></strong><br />
              <span class="text-muted"><%= simple_format(proxy.description) %></span>
            </td>
            <td>
              <%= proxy.category.try(:name) || '---' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>