<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.contract.name') %></th>
          <th><%= t('activerecord.attributes.contract.activate') %></th>
          <th><%= t('activerecord.attributes.contract.client') %></th>
          <th><%= t('activerecord.attributes.contract.proxy') %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @collection.each do |contract| %>
          <tr>
            <td class="width-3">
              <i class="fa-2x fa-edit fa fa-fw"></i>
            </td>
            <td>
              <%= contract.name %> <small class="text-muted"><%= contract.code %></small>&nbsp;<br />
              <small>
                <i class="<%= t("types.contract_statuses.#{contract.status}.icon") %>"></i>
                <span class="<%= t("types.contract_statuses.#{contract.status}.class") %>"><%= t("types.contract_statuses.#{contract.status}.title") %></span>
              </small>
            </td>
            <td>
              <i class="fa-2x <%= t("misc.is_active.#{contract.activate}.icon") %>" data-placement="top" title="<%= t("misc.is_active.#{contract.activate}.title") %>" data-toggle="tooltip"></i>
            </td>
            <td>
              <i class="<%= t("types.service_types.#{contract.client.service_type}.icon") %>"></i>
              <span class="<%= t("types.service_types.#{contract.client.service_type}.class") %>"><%= contract.client.name %></span>
            </td>
            <td>
              <i class="fa fa-fw fa-server"></i> <%= contract.proxy.name %> <br />
              <small>
                <i class="<%= t("types.service_types.#{contract.startup.service_type}.icon") %>"></i>
                <span class="<%= t("types.service_types.#{contract.startup.service_type}.class") %>"><%= contract.startup.name %></span>
              </small>
            </td>
            <td class="text-right">
              <%= link_to '<i class="fa fa-fw fa-pencil"></i>'.html_safe, edit_back_office_contract_path(contract), class: 'btn btn-secondary btn-sm', title: t('actions.edit'), data: {toggle: 'tooltip', placement: 'top'} %>
              <%= link_to '<i class="fa fa-fw fa-trash"></i>'.html_safe, back_office_contract_path(contract), title: t('actions.destroy'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top'}, method: :delete, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
