<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.contract.name') %></th>
          <th><%= t('activerecord.attributes.contract.is_active') %></th>
          <th><%= t('activerecord.attributes.contract.client') %></th>
          <th><%= t('activerecord.attributes.contract.proxy') %></th>
          <th>
            <small><%= t('activerecord.attributes.contract.created_at') %></small><br />
            <%= t('activerecord.attributes.contract.updated_at') %>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @collection.each do |contract| %>
          <tr>
            <td class="width-3">
              <i class="fa-2x fa-edit fa fa-fw"></i>
            </td>
            <td>
              <%= contract.name %><br />
              <small>
                <i class="<%= t("types.contract_statuses.#{contract.status}.icon") %>"></i>
                <span class="<%= t("types.contract_statuses.#{contract.status}.class") %>"><%= t("types.contract_statuses.#{contract.status}.title") %></span>
              </small>
            </td>
            <td>
              <i class="fa-2x <%= t("misc.is_active.#{contract.is_active}.icon") %>" data-placement="top" title="<%= t("misc.is_active.#{contract.is_active}.title") %>" data-toggle="tooltip"></i>
            </td>
            <td>
              <i class="<%= t("types.service_types.#{contract.client.service_type}.icon") %>"></i>
              <span class="<%= t("types.service_types.#{contract.client.service_type}.class") %>"><%= contract.client.name %></span>
            </td>
            <td>
              <i class="fa fa-fw fa-server"></i> <%= contract.proxy.name %> <br />
              <small>
                <i class="<%= t("types.service_types.#{contract.startup.service_type}.icon") %>"></i>
                <span class="<%= t("types.service_types.#{contract.startup.service_type}.class") %>"><%= contract.startup.name %></span>
              </small>
            </td>
            <td>
              <small class="text-muted"><%= l(contract.created_at, format: :short) %></small><br />
              <%= l(contract.updated_at, format: :short) %>
            </td>
            <td class="text-right">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  <%= t('misc.actions') %>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to edit_back_office_contract_path(contract),
                              class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
                  <% end %>
                  <%= link_to audit_back_office_contract_path(contract),
                              class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-history"></i> <%= t('misc.audit') %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to back_office_contract_path(contract),
                              class: 'dropdown-item',
                              method: :delete,
                              data: {
                                confirm: 'Are you sure?'
                              } do %>
                    <i class="fa fa-fw fa-trash"></i> <%= t('actions.destroy') %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
