<% if collection.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <table class="table table-hover table-sm table-link">
    <thead>
    <tr>
      <th colspan="2"><%= t('activerecord.attributes.ticket.subject') %></th>
      <th><%= t("activerecord.attributes.ticket.ticket_status") %></th>
      <th>
        <small class="text-muted"><%= t("activerecord.attributes.ticket.created_at") %></small> <br />
        <%= t("activerecord.attributes.ticket.updated_at") %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |ticket| %>
      <tr data-link="<%= ticket_path(ticket) %>">
        <td class="width-3">
          <i class="fa fa-fw fa-2x fa-envelope<%= '-open' unless ticket.is_closed? %>"></i>
        </td>
        <td>
          <strong><%= ticket.subject %></strong> <br />
          <small class="text-muted"><%= t("types.ticket_types.#{ticket.ticket_type}") %></small>
        </td>
        <td>
          <span class="<%= t("types.ticket_statuses.#{ticket.ticket_status}.class") %>"><%= t("types.ticket_statuses.#{ticket.ticket_status}.title") %></span>
        </td>
        <td>
          <small class="text-muted"><%= l(ticket.created_at, format: :short) %></small> <br />
          <%= l(ticket.updated_at, format: :short) %>
        </td>
        <td class="text-right">
          <%= link_to t('actions.see_ticket'), ticket_path(ticket), class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>