<% content_for(:page_back) { tickets_path } %>
<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-hover table-sm table-link">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.ticket.subject') %></th>

        <th><%=  t("activerecord.attributes.ticket.ticket_status") %></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |ticket| %>
        <tr data-link="<%= ticket_path(ticket) %>">
          <td>
            <i class="fa fa-fw fa-sitemap"></i>
            <strong><%= ticket.subject %></strong><br />
            <small class="text-muted"><%=  t("types.ticket_types.#{ticket.ticket_type}") %></small>
          </td>
          <td>
            <%=  t("types.ticket_status.#{ticket.ticket_status}") %>
          </td>
          <td class="text-right">
            <%= link_to t('actions.see'), ticket_path(ticket), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
