<%= simple_form_for object do |f| %>

  <%= error_messages_for(f.object) %>

  <%= f.input :documentation_type, as: :select, collection: format_documentation_types_for_select, input_html: {class: 'select2'}, include_blank: false %>
  <%= f.input :parent_id, as: :select, collection: format_nested_resources_for_select(@documentation_tree, f.object.id), input_html: {class: 'select2'}, include_blank: t('misc.none_feminized') %>

  <%= f.input :public, as: :radio_buttons, collection: format_boolean_values_for_input %>

  <ul class="nav nav-tabs" role="tablist">
    <% I18n.available_locales.each.with_index(0) do |locale, index| %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if index == 0 %>" data-toggle="tab" href="#documentation_<%= locale %>" role="tab"><%= t("misc.locales.#{locale}") %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">

    <% I18n.available_locales.each.with_index(0) do |locale, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="documentation_<%= locale %>">
        <%= f.simple_fields_for "dictionary_#{locale}".to_sym do |f2| %>
          <%= f2.input :locale, as: :hidden %>
          <%= f2.input :title, as: :string %>
          <%= f2.input :body, as: :trix_editor %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
