<% content_for(:page_controls) {
  link_to t('actions.new'), new_back_office_documentation_path, class: 'btn btn-primary'
} %>
<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-sm table-hover table-condensed">
      <thead>
      <tr>
        <th>
          <%= t('activerecord.attributes.documentation.title') %>
        </th>
        <th>
          <%= t('activerecord.attributes.documentation.public') %>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% arrange_nested_resources_collection(@collection).each do |doc| %>
        <tr>
          <td>
            <%= "#{'&nbsp;&nbsp;' * doc.depth}".html_safe %>
            <i class="<%= t("types.documentation_types.#{doc.documentation_type}.icon") %>"></i>
            <%= doc.title %>
          </td>
          <td class="width-5">
            <%= t("misc.#{doc.public}") %>
          </td>
          <td class="text-right">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                <%= t('misc.actions') %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to edit_back_office_documentation_path(doc),
                            class: 'dropdown-item' do %>
                  <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to back_office_documentation_path(doc),
                            class: 'dropdown-item',
                            method: :delete,
                            data: {
                              confirm: 'Are you sure?'
                            } do %>
                  <i class="fa fa-fw fa-trash"></i> <%= t('actions.destroy') %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
