<% if collection.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th colspan="2" class="width-30">
        <%= t('activerecord.attributes.error_measurement.error_type') %>
      </th>
      <th>
        <%= t("activerecord.attributes.error_measurement.status") %>
      </th>
      <th>
        <%= t("activerecord.attributes.error_measurement.created_at") %>
      </th>
      <th>
        <%= t("activerecord.attributes.error_measurement.route") %>
      </th>
      <th>
        <%= t("activerecord.attributes.error_measurement.client") %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% collection.each do |error_measurement| %>
        <tr>
          <td class="width-3">
            <i class="fa fa-fw fa-2x fa-exclamation-triangle"></i>
          </td>
          <td>
            <%= error_measurement.error_code %> <%= t("errors.api.#{error_measurement.error_code}.title", locale: :en) %><br/>
            <small class="text-muted">
              <%= t("errors.api.#{error_measurement.error_code}.message", locale: :en) %>
            </small>
          </td>
          <td>
            <%= t("errors.api.#{error_measurement.error_code}.status", locale: :en) %>
          </td>
          <td>
            <%= l(error_measurement.created_at, format: :short) %>
          </td>
          <td>
            <% if current_user.is_user_of?(error_measurement.proxy.service) %>
              <small>
                <%= link_to service_proxy_path(error_measurement.proxy.service, error_measurement.proxy) do %>
                  <i class="fa fa-fw fa-server"></i> <%= error_measurement.proxy.name %>
                <% end %>
              </small><br/>
              <%= link_to service_proxy_route_path(error_measurement.proxy.service, error_measurement.proxy, error_measurement.route) do %>
                <i class="fa fa-fw fa-sitemap"></i> <%= error_measurement.route.name %>
              <% end %>
            <% else %>
              <small><i class="fa fa-fw fa-server"></i> <%= error_measurement.proxy.name %></small><br/>
              <i class="fa fa-fw fa-sitemap"></i> <%= error_measurement.route.name %>
            <% end %>
          </td>
          <td>
            <% if current_user.is_user_of?(error_measurement.client) %>
              <%= link_to service_path(error_measurement.client) do %>
                <i class="<%= t("types.service_types.#{error_measurement.client.service_type}.icon") %>"></i> <span class="<%= t("types.service_types.#{error_measurement.client.service_type}.class") %>"><%= error_measurement.client.name %></span>
              <% end %>
            <% else %>
              <i class="<%= t("types.service_types.#{error_measurement.client.service_type}.icon") %>"></i> <span class="<%= t("types.service_types.#{error_measurement.client.service_type}.class") %>"><%= error_measurement.client.name %></span>
            <% end %>
          </td>
          <td class="text-right">
            <% if current_module == 'back_office' %>
              <%= link_to_modal t('misc.more_info'),
                                back_office_error_measurement_path(error_measurement),
                                class: 'btn btn-secondary btn-sm' %>
            <% else %>
              <%= link_to_modal t('misc.more_info'),
                                (current_contract.nil? ? polymorphic_path([current_service, current_proxy, current_route, error_measurement]) : polymorphic_path([current_service, current_contract], action: :error_measurement, id_error_measurement: error_measurement)),
                                class: 'btn btn-secondary btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if collection.respond_to?(:page) %>
    <%= paginate collection %>
  <% end %>
<% end %>