<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Activated</th>
        <% if current_user.has_role?(:superadmin) %>
            <th>Authorised</th>
            <th>advanced permissions</th>
            <th>all permissions</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.is_activated? %></td>
        <% if current_user.has_role?(:superadmin) %>
        <td >
          <%= is_admin_of(service) %>
        </td>
          <td>
            <%= link_to "property", service_permissions_list_proxies_routes_path(service, service_id: current_service.id), class: 'btn btn-secondary' %>
          </td>
          <td>
         <% if is_admin_of(service) %>
              <%= link_to t('actions.unset_right'), service_permissions_unset_right_path(id: service.id, service_id: current_service.id), method: :post, class: 'btn btn-secondary' %>
          <% else %>
              <%= link_to t('actions.set_right'), service_permissions_set_right_path(id: service.id, service_id: current_service.id), method: :post, class: 'btn btn-secondary' %>
          <% end %>
          </td>
         <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
