<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <table class="table">
      <thead>
      <tr>
        <th>Set permission</th>
        <th>Authorised</th>
        <th>Proxies</th>
        <th>Routes</th>
      </tr>
      </thead>
      <tbody>
      <% @collection_proxies.each do |proxy| %>
          <tr>
            <td>
              <% if type_acces_to(@service_owner, proxy) != "all" %>
                  <%= link_to t('actions.set_right'), service_permissions_set_right_proxy_path(current_service, service_id: @service_owner.id, id: proxy.id), method: :post, class: 'btn btn-secondary' %>
              <% else %>
                  <%= link_to t('actions.unset_right'), service_permissions_unset_right_proxy_path(current_service, service_id: @service_owner.id, id: proxy.id), method: :post, class: 'btn btn-secondary' %>
              <% end %>
            </td>
            <td><%= type_acces_to(@service_owner, proxy) %></td>
            <td><%= proxy.name %></td>
            <td>All</td>
          </tr>
          <% proxy.routes.each do |route| %>
            <tr>
              <td>
                <% if type_acces_to(@service_owner, route) != "all" %>
                    <%= link_to t('actions.set_right'), service_permissions_set_right_route_path(current_service, service_id: @service_owner.id, id: route.id), method: :post, class: 'btn btn-secondary' %>
                <% else %>
                    <%= link_to t('actions.unset_right'), service_permissions_unset_right_route_path(current_service, service_id: @service_owner.id, id: route.id), method: :post, class: 'btn btn-secondary' %>
                <% end %>
              </td>
              <td><%= type_acces_to(@service_owner, route) %></td>
              <td><%= proxy.name %></td>
              <td><%= route.name %></td>
            </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
