<%= simple_form_for @company  do |f| %>

  <%= error_messages_for(@company) %>

  <%= f.input :name, input_html: {class: 'input-placeholder-live-update', 'data-target': 'company_contact_detail_attributes_name'} %>

  <%= f.simple_fields_for :contact_detail do |f2| %>
    <%= render partial: 'contact_details/fields_for', locals: {f: f} %>
  <% end %>

  <div class="actions">
    <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
  </div>
<% end %>
