<% if collection.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <table class="table table-sm table-hover">
    <thead>
    <tr>
      <th colspan="2"></th>
      <th>
      </th>
      <th>
      </th>
      <th>
        <small><%= t('activerecord.attributes.service.created_at') %></small><br />
        <%= t('activerecord.attributes.service.updated_at') %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |service| %>
      <tr>
        <td class="width-3">
          <i class="fa-2x <%= t("types.service_types.#{service.service_type}.icon") %>"></i>
        </td>
        <td>
          <%= "<span class=\"float-right\"><i class=\"fa fa-2x fa-fw fa-lock\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"#{t('misc.unconfirmed')}\"></i></span>".html_safe if service.confirmed_at.nil? %>
          <strong class="<%= t("types.service_types.#{service.service_type}.class") %>"><%= service.name %></strong><br />
          <%= "<small class=\"text-muted\"><i class=\"#{t("types.service_types.#{service.parent.service_type}.icon")}\"></i> #{service.parent}</small>  ".html_safe if service.parent %>&nbsp;
        </td>
        <td>
          <% if service.users.size > 0 %>
            <%= "<i class=\"fa fa-fw fa-users\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"<small>#{service.users.map {|u| "#{u.full_name} (#{u.email})" }.join("<br />")}</small>\"></i>".html_safe %> <%= service.users.size %>
          <% end %>
        </td>
        <td>
          <% if service.proxies.size > 0 %>
            <%= "<i class=\"fa fa-fw fa-server\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"<small>#{service.proxies.map {|p| "#{p.name}" }.join("<br />")}</small>\"></i>".html_safe %> <%= service.proxies.size %>
          <% end %>
        </td>
        <td>
          <small class="text-muted"><%= l(service.created_at, format: :short) %></small><br />
          <%= l(service.updated_at, format: :short) %>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
              <%= t('misc.actions') %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to edit_back_office_service_path(service),
                          class: 'dropdown-item' do %>
                <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
              <% end %>
              <%= link_to users_back_office_service_path(service),
                          class: 'dropdown-item' do %>
                <i class="fa fa-fw fa-users"></i> <%= t('activerecord.models.user').pluralize %>
              <% end %>
              <%= link_to audit_back_office_service_path(service),
                          class: 'dropdown-item' do %>
                <i class="fa fa-fw fa-history"></i> <%= t('misc.history') %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to service_path(service),
                          class: 'dropdown-item' do %>
                <i class="fa fa-fw fa-dashboard"></i> <%= t('misc.dashboard') %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to back_office_service_path(service),
                          class: 'dropdown-item',
                          method: :delete,
                          data: {
                            confirm: 'Are you sure?'
                          } do %>
                <i class="fa fa-fw fa-trash"></i> <%= t('actions.destroy') %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @collection %>
<% end %>