<% content_for(:page_back) { back_office_services_path } %>
<% content_for(:page_title) { @service.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="<%= edit_back_office_service_path(@service) %>">
          <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-fw fa-users"></i> <%= t('activerecord.models.user').pluralize %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= audit_back_office_service_path(@service) %>">
          <i class="fa fa-fw fa-history"></i> <%= t('misc.history') %>
        </a>
      </li>
    </ul>

    <% if @users.count == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.user.full_name') %></th>
          <th><%= t('activerecord.attributes.user.last_activity_at') %></th>
          <th></th>
          <% Role::USER_ROLES.each do |scope| %>
            <th class="text-right width-10"><i class="<%= t("roles.#{scope}.icon") %>" data-toggle="tooltip" data-placement="top" title="<%= t("roles.#{scope}.title") %>"></i></th>
          <% end %>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="width-3">
              <i class="fa fa-fw fa-user fa-2x"></i>
            </td>
            <td>
              <%= "<span class=\"float-right\"><i class=\"fa fa-fw fa-2x fa-lock\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"#{t('devise.confirmations.unconfirmed')}\"></i></span>".html_safe if user.confirmed_at.nil? || !user.is_active %>
              <strong><%= user.full_name %></strong><br />
              <small class="text-muted"> <%= user.email %></small><br />
              <small class="text-muted"> <%= user.phone %></small>&nbsp;
            </td>
            <td>
              <small><%= user.last_activity_at ? l(user.last_activity_at, format: :short) : '---' %></small>
            </td>
            <td class="text-right">
              <% if @service.user_id != user.id %>
                <%= link_to '<i class="fa fa-fw fa-unlink"></i>'.html_safe, disassociate_user_back_office_service_path(@service, user_id: user.id), title: t('actions.disassociate'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'left'}, method: :delete, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
            <% Role::USER_ROLES.each do |scope| %>
              <td class="text-right">
                <% has_role = user.has_role?(scope, @service) %>
                <% if !(scope != :admin && user.has_role?(:admin, @service)) && @service.send("main_#{scope}") != user %>
                  <div class="btn-group">
                    <%= link_to '<i class="fa fa-fw fa-check"></i>'.html_safe, has_role ? '#' : toggle_user_role_back_office_service_path(@service, user_id: user.id, scope: scope), method: :put, class: "btn btn-sm #{has_role ? 'btn-success disabled' : 'btn-secondary'}" %>
                    <%= link_to '<i class="fa fa-fw fa-times"></i>'.html_safe, !has_role ? '#' : toggle_user_role_back_office_service_path(@service, user_id: user.id, scope: scope), method: :put, class: "btn btn-sm #{!has_role ? 'btn-danger disabled' : 'btn-secondary'}" %>
                  </div>
                <% else %>
                  <i class="fa fa-fw fa-check"></i>
                <% end %>
              </td>
            <% end %>
            <td class="text-right">
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_back_office_user_path(user), class: 'btn btn-secondary btn-sm', title: t('actions.edit_user'), data: {toggle: 'tooltip', placement: 'left'} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <h3><%= t('actions.add_users') %></h3>
  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= simple_form_for [:back_office, @service], url: associate_user_back_office_service_path, method: :put do |f| %>

      <%= f.input :user_id,
                  collection: format_users_for_select(@other_users),
                  label: t('activerecord.models.user'),
                  input_html: {
                    class: 'select2',
                  },
                  include_blank: false %>

      <%= f.input :role,
                  collection: format_roles_for_select(Role::USER_ROLES),
                  selected: nil,
                  input_html: {
                    class: 'select2'
                  },
                  label: t('activerecord.models.role') %>

      <div class="row">
        <div class="actions col-md-9 offset-md-3">
          <%= f.button :submit, value: I18n.t('actions.add'), data: { disable_with: t('actions.save_in_progress') } %>
        </div>
      </div>
    <% end -%>

  </div>
</div>