<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th colspan="2">
            <%= t('bills.index.period') %> / <%= t('activerecord.attributes.contract.client') %>
          </th>
          <th><%= t('activerecord.attributes.contract.proxy') %></th>
          <th><%= t('activerecord.attributes.bill.created_at') %></th>
          <th>
            <%= t('bills.invoice_attributes.total_cost') %>
            <%= t('activerecord.attributes.contract.startup') %>
          </th>
          <th>
            <%= t('misc.platform_contribution') %>
          </th>
          <th>
            <%= t('misc.deadline') %>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @collection.each do |bill|
          link = polymorphic_path([current_service, bill])
        %>
          <tr>
            <td class="width-3">
              <i class="fa-2x fa-file-text-o fa fa-fw"></i>
            </td>
            <td>
              <strong><%= t('bills.index.from_to', start_date: l(bill.start_date, format: :default), end_date: l(bill.end_date, format: :default)) %></strong><br />
              <small>
                <i class="<%= t("types.service_types.#{bill.contract.client.service_type}.icon") %>"></i>
                <span class="<%= t("types.service_types.#{bill.contract.client.service_type}.class") %>"><%= bill.contract.client.name %></span>
              </small>
            </td>
            <td>
              <i class="fa fa-fw fa-server"></i> <%= bill.contract.proxy.name %><br />
              <small>
                <i class="<%= t("types.service_types.#{bill.contract.startup.service_type}.icon") %>"></i>
                <span class="<%= t("types.service_types.#{bill.contract.startup.service_type}.class") %>"><%= bill.contract.startup.name %></span>
              </small>
            </td>
            <td>
              <%= l(bill.created_at.to_date, format: :default) %>
            </td>
            <td>
            <span class="<%= (bill.startup_paid? ? 'text-success' : 'text-danger') %>">
              <strong><%= format_amount bill.startup_cost_including_vat %></strong><br />
              <%= t("misc.paid.#{bill.startup_paid?}") %>
            </span>
            </td>
            <td>
            <span class="<%= (bill.platform_contribution_paid? ? 'text-success' : 'text-danger') %>">
              <strong><%= format_amount bill.platform_contribution_cost_including_vat %></strong><br />
              <%= t("misc.paid.#{bill.platform_contribution_paid?}") %>
            </span>
            </td>
            <td>
              <% if !bill.paid? && bill.due_date %>
              <span class="text-danger">
                <%= l(bill.due_date, format: :default) %>
              </span>
              <% else %>
              <span class="text-success">
                <%= t("misc.paid.true") %>
              </span>
              <% end %>
            </td>
            <td class="text-right">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  <%= t('misc.actions') %>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to edit_back_office_bill_path(bill),
                              class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
