<div class="ui container">

  <h1 class="ui center aligned header">
    <div class="content">
      Les services référencés sur l'API du CPA Store
    </div>
  </h1>
  <div class="ui hidden divider"></div>
  <% if (services.length == 0 ) { %>
  Il n'y a actuellement aucun service référencé sur l'API.
  <% } else { %>
  <% services.forEach(function(service) { %>
    <div class="ui raised segment">
      <h2 class="ui header">
        <img src="/assets/images/no-image.png">
        <div class="content">
          <%= service.name %>
          <div class="sub header">
            Créée le <%= service.createdAt.toLocaleString() %>
          </div>
        </div>
      </h2>
      <p><%= service.description %></p>
      <% if (service.website) { %>
      <p><a href="<%= service.website %>" target="_blank" class="ui mini primary button">
        Site Internet
      </a></p>
      <% } %>
      <a class="ui mini button display-route-id-btn" data-apiuri="<%= service.getApiUri(apiUri) %>">
        <i class="icon external"></i>
        Afficher la route
      </a>

      <% if (service.routes.length > 0) { %>
      <h5 class="ui top attached header">
        <%= service.routes.length %> collection(s) partagée(s)
      </h5>
          <% service.routes.forEach(function(route) { %>
        <div class="ui secondary attached segment">
          <div class="ui comments">
            <div class="comment">
              <div class="avatar">
                <i class="database big icon"></i>
              </div>
              <div class="content">
                <a class="author"><%= route.name %></a>
                <div class="metadata">
                  <span class="date">Créée le <%= route.createdAt.toLocaleString() %></span>
                </div>
                <div class="text">
                  <%= route.description %>
                </div>
              </div>
              <div class="actions">
                <button class="ui mini basic button display-route-id-btn" data-apiuri="<%= route.getApiUri(apiUri) %>">
                  <i class="icon external"></i>
                  Afficher la route
                </button>
              </div>
            </div>
          </div>
        </div>
          <% }) %>
      <% } %>
    </div>
  <div class="ui hidden divider"></div>
  <% }) %>
  <% } %>

</div>

<script>
  $(document).ready(function() {
    $('.display-route-id-btn').on('click', function(e) {
      e.preventDefault();
      var self = $(this);
      self.hide().after('<div class="ui mini fluid labeled input"><div class="ui blue label">GET</div><input type="text" value="' + self.data('apiuri') + '"/></div>').next().children().focus().select();
    });
  });
</script>

<%- contentFor('masthead') %>