<%= simple_form_for object do |f| %>

  <%= error_messages_for(f.object) %>

  <%= (f.input :name, required: true) if f.object.contract.nil? %>

  <%= f.input :base_cost, as: :string, input_html: {class: 'autonumeric'} %>
  <%= f.input :cost_by_time, as: :string, input_html: {class: 'autonumeric'} %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
