<% if price_parameters.size == 0 %>
  <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
<% else %>
  <% price_parameters.each.with_index(1) do |price_parameter, index| %>
    <div class="card">
      <div class="card-header">
        <%= t('activerecord.models.price_parameter') %> #<%= index %>
      </div>
      <div class="card-block">

        <div class="row">
          <div class="col-3 text-right">
            <strong><%= t('activerecord.attributes.price_parameter.price_parameters_type') %></strong>
          </div>
          <div class="col-5">
            <%= t("types.price_parameters_types.#{price_parameter.price_parameters_type}.title") %><br />
            <small class="text-muted"><%= t("types.price_parameters_types.#{price_parameter.price_parameters_type}.description") %></small>
          </div>
          <div class="col-4 text-right">
            <% if current_contract.nil? %>
              <%= link_to t('actions.edit'), edit_service_proxy_price_price_parameter_path(current_service, current_proxy, current_price, price_parameter), class: 'btn btn-secondary' %>
              <%= link_to t('actions.destroy'), service_proxy_price_price_parameter_path(current_service, current_proxy, current_price, price_parameter), class: 'btn btn-danger', data: {confirm: "Are you sure?" }, method: :delete %>
            <% else %>
              <% if current_contract.can?(current_user, :prices) %>
                <%= link_to t('actions.edit'), (@service.nil? ? edit_contract_price_price_parameter_path(current_contract, current_contract.price, price_parameter) : edit_service_contract_price_price_parameter_path(current_service, current_contract, current_contract.price, price_parameter)), class: 'btn btn-secondary' %>
                <%= link_to t('actions.destroy'), (@service.nil? ? contract_price_price_parameter_path(current_contract, current_contract.price, price_parameter) : service_contract_price_price_parameter_path(current_service, current_contract, current_contract.price, price_parameter)), class: 'btn btn-danger', data: {confirm: "Are you sure?" }, method: :delete %>
              <% end %>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-4 text-right">
            <strong><%= t('activerecord.attributes.price_parameter.route') %></strong>
          </div>
          <div class="col-8">
            <%= price_parameter.route || t('misc.all_feminized') %>
          </div>
        </div>

        <% if price_parameter.query_parameter %>
          <div class="row">
            <div class="col-4 text-right">
              <strong><%= t('activerecord.attributes.price_parameter.query_parameter') %></strong>
            </div>
            <div class="col-8">
              <%= price_parameter.query_parameter %>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-4 text-right">
            <strong><%= t('activerecord.attributes.price_parameter.free_count') %></strong>
          </div>
          <div class="col-8">
            <%= price_parameter.free_count %>
          </div>
        </div>

        <div class="row">
          <div class="col-4 text-right">
            <strong><%= t('activerecord.attributes.price_parameter.deny_after_free_count') %></strong>
          </div>
          <div class="col-8">
            <%= t("misc.#{price_parameter.deny_after_free_count}") %>
          </div>
        </div>

        <% if price_parameter.cost > 0.0 %>
          <div class="row">
            <div class="col-4 text-right">
              <strong><%= t('activerecord.attributes.price_parameter.cost') %></strong>
            </div>
            <div class="col-8">
              <%= price_parameter.cost %> &euro;
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>