<%
  content_for(:page_title) {
    t('.title')
  }

  if current_user.is_commercial_of?(current_service)
    content_for(:page_controls) {
      link_to "<i class=\"fa fa-fw fa-plus-circle\"></i> #{t('actions.new_price_template')}".html_safe,
              new_service_proxy_price_path(current_service, current_proxy),
              class: 'btn btn-primary'
    }
  end
%>


<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>

      <table class="table table-sm table-hover table-condensed table-link">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.price.name') %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @collection.each do |price| %>
          <tr data-link="<%= service_proxy_price_path(current_service, current_proxy, price) %>">
            <td class="width-3">
              <i class="fa fa-fw fa-2x fa-money"></i>
            </td>
            <td>
              <strong><%= price.name %></strong><br />
              &nbsp;
            </td>
            <td class="text-right">
              <%= link_to t('actions.edit'), service_proxy_price_path(current_service, current_proxy, price), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    <% end %>

  </div>
</div>
