<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.input :password, autofocus: true, autocomplete: "off", hint: t('devise.passwords.password_restrictions') %>
      <%= f.input :password_confirmation, autocomplete: "off" %>

      <div class="row">
        <div class="actions col-md-9 offset-md-3">
          <%= f.button :submit, t('actions.change_password') %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: "devise/shared/links" %>

  </div>
</div>
