<%= simple_form_for [current_service, current_proxy, @route] do |f| %>

  <%= error_messages_for(@route) %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :url %>
  <%= f.input :allowed_methods, as: :check_boxes, collection: Route::ALLOWED_METHODS %>

  <%= f.input :protocol, as: :select, collection: format_protocols_for_select, include_blank: t('.default_protocol', protocol: t("types.protocols.#{current_proxy.proxy_parameter.protocol}")) %>
  <%= f.input :hostname, placeholder: current_proxy.proxy_parameter.hostname %>
  <%= f.input :port, placeholder: current_proxy.proxy_parameter.port.to_s %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
