<%= simple_form_for [current_service, current_proxy, @route] do |f| %>

  <%= error_messages_for(f.object) %>

  <%= f.input :name %>

  <%= f.input :subdomain, hint: t('routes.form.hints.subdomain'), input_html: {class: 'col-sm-5', 'data-target': 'service_subdomain_livepreview', 'data-prefix': "#{f.object.proxy.local_url}/routes/"}  %>

  <div class="form-group row subdomain_livepreview">
    <label class="col-md-3 col-form-label"><%= t('services.form.hints.subdomain_livepreview_label') %></label>
    <div class="col-md-9">
      <input class="form-control" type="text" id="service_subdomain_livepreview" value="" readonly>
    </div>
  </div>


  <%= f.input :description, as: :text, input_html: {rows: 5} %>
  <%= f.input :url, hint: t('.hints.url', base_uri: f.object.uri) %>
  <%= f.input :allowed_methods, as: :check_boxes, required: true, collection: Route::ALLOWED_METHODS %>
  <%= f.input :measure_token_activated, as: :radio_buttons, collection: format_boolean_values_for_input, hint: t('.hints.measure_token_activated') %>

  <hr>
  <h5><%= t('proxies.form.tabs.proxy_authorization_test.title') %></h5>
  <p><%= t('proxies.form.tabs.proxy_authorization_test.hint') %></p>
  <%= f.input :protocol_test, as: :select, collection: format_protocols_for_select, include_blank: t('.default_value', value: t("types.protocols.#{current_proxy.proxy_parameter_test.protocol}")) %>
  <%= f.input :hostname_test, placeholder: t('.default_value', value: current_proxy.proxy_parameter_test.hostname) %>
  <%= f.input :port_test, placeholder: t('.default_value', value: current_proxy.proxy_parameter_test.port.to_s) %>

  <hr>
  <h5><%= t('proxies.form.tabs.proxy_authorization.title') %></h5>
  <p><%= t('proxies.form.tabs.proxy_authorization.hint') %></p>
  <%= f.input :protocol, as: :select, collection: format_protocols_for_select, include_blank: t('.default_value', value: t("types.protocols.#{current_proxy.proxy_parameter.protocol}")) %>
  <%= f.input :hostname, placeholder: t('.default_value', value: current_proxy.proxy_parameter.hostname) %>
  <%= f.input :port, placeholder: t('.default_value', value: current_proxy.proxy_parameter.port.to_s) %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
