<% content_for(:page_title, t('.title')) %>
<% content_for(:page_controls) { link_to t('actions.new'), new_service_proxy_route_path(current_service), class: 'btn btn-primary' } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-hover table-sm table-link">
      <thead>
      <tr>
        <th colspan="2" class="width-40"><%= t('activerecord.attributes.route.name') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |route| %>
        <tr data-link="<%= service_proxy_route_path(current_service, route.proxy, route) %>">
          <td class="width-3">
            <i class="fa fa-fw fa-2x fa-sitemap"></i>
          </td>
          <td>
            <strong><%= route.name %></strong><br />
            <small class="text-muted"><%= route.description %></small>
          </td>
          <td class="text-right">
            <%= link_to t('actions.configure'), service_proxy_route_path(current_service, route.proxy, route), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
