<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container">


    <table class="table">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.route.name') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |route| %>
        <tr>
          <td><%= route.name %></td>
          <td class="text-xs-right">
            <%= link_to t('actions.show'), service_proxy_route_path(current_service, route.proxy, route), class: 'btn btn-secondary' %>
            <%= link_to t('actions.edit'), edit_service_proxy_route_path(current_service, route.proxy, route), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to t('actions.new'), new_service_proxy_route_path(current_service), class: 'btn btn-secondary' %><br />

  </div>
</div>
