<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <h5><%= @route.name %></h5>
    <%= @route.description %>

    <hr>
    <h5>API</h5>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Base</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" readonly="readonly" value="<%= current_host %>/api/v1/<%= current_service.subdomain %>/proxies/<%= current_proxy.subdomain %>/routes/<%= @route.subdomain %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Request</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" readonly="readonly" value="<%= current_host %>/api/v1/<%= current_service.subdomain %>/proxies/<%= current_proxy.subdomain %>/routes/<%= @route.subdomain %>/request">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Redirection (test)</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" readonly="readonly" value="<%= current_route.uri_test %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Redirection (production)</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" readonly="readonly" value="<%= current_route.uri %>">
      </div>
    </div>

    <hr>
    <div class="text-sm-right">
      <%= link_to t('actions.destroy'), service_proxy_route_path(current_service, current_proxy, @route), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary btn-danger' %>
    </div>
  </div>
</div>

