<div class="ui container">
  <% include ../routes/_header %>

  <div class="ui grid">
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
        <% if (data.route.relations.length > 0) { %>
        <a class="item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/relations">
          Liste des relations (<%= data.route.relations.length %>)
        </a>
        <% } %>
        <a class="active item" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/relations/new">
          <i class="add icon"></i>
          Ajouter une relation
        </a>
      </div>
    </div>
    <div class="twelve wide column">
      <% include ./_header %>

      <div class="ui segment">
        <% include ./_form %>
      </div>
    </div>
  </div>
</div>
