<% content_for(:page_title) { @billing_by_parameters_call.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <%= link_to t('actions.edit'), edit_service_billing_billing_by_parameters_call_path(current_service, @billing_by_parameters_call), class: 'btn btn-secondary' %>
    <table class="table">
      <tbody>
      <tr>
        <td><%= t('activerecord.attributes.billing_by_parameters_call.parameter') %></td>
        <td><%= @billing_by_parameters_call.parameter %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.billing_by_parameters_call.free_call') %></td>
        <td><%= @billing_by_parameters_call.free_call %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.billing_by_parameters_call.periode_by_h_reset_free') %></td>
        <td><%= @billing_by_parameters_call.periode_by_h_reset_free %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.billing_by_parameters_call.cost_by_call') %></td>
        <td><%= @billing_by_parameters_call.cost_by_call %></td>
      </tr>
      </tbody>
    </table>
    <% if current_user.is_admin? || @billing_by_parameters_call.user == current_user %>
        <%= button_to t('actions.destroy'), service_billing_billing_by_parameters_call_path(current_service, @billing_by_parameters_call), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
    <% if current_user.is_admin? || @billing_by_parameters_call.user == current_user %>
        <% if @billing_by_parameters_call.activate %>
            <%= button_to t('actions.deactivate'), service_billing_billing_by_parameters_call_toogle_activate_path(current_service, @billing_by_parameters_call, id: @billing_by_parameters_call.id), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :post %>
        <% else %>
            <%= button_to t('actions.activate'), service_billing_billing_by_parameters_call_toogle_activate_path(current_service, @billing_by_parameters_call, id: @billing_by_parameters_call.id), class: 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :post %>
        <% end %>
    <% end %>
  </div>
</div>
