<%= simple_form_for [current_service, current_proxy, current_route, @query_parameter] do |f| %>

  <%= error_messages_for(f.object) %>

  <%= f.input :name %>
  <%= f.input :description, as: :text, input_html: {rows: 3} %>

  <%= f.input :query_parameter_type, as: :radio_buttons, collection: format_query_parameter_types_for_select %>
  <%= f.input :mode, as: :radio_buttons, collection: format_query_parameter_modes_for_select %>

  <%= f.input :default_value, hint: t('.hints.default_value') %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
    </div>
  </div>

<% end %>
