<pre><%= query_parameter.name %></pre>
<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <td>
        <small class="text-muted"><%= t('activerecord.attributes.query_parameter.mode') + ': '%></small>
      </td>
      <td>
        <small class="text-muted"><%= t("types.query_parameter_modes.#{query_parameter.mode}")%></small>
      </td>
    </tr>
    <tr>
      <td>
        <small class="text-muted"><%= t('activerecord.attributes.query_parameter.query_parameter_type') + ': '%></small>
      </td>
      <td>
        <small class="text-muted"><i class="<%= t("types.query_parameter_types.#{query_parameter.query_parameter_type}.icon")%>"></i><%= t("types.query_parameter_types.#{query_parameter.query_parameter_type}.title")%></small>
      </td>
    </tr>
    <% unless query_parameter.default_value.blank? %>
      <tr>
        <td>
          <small class="text-muted"><%= t('activerecord.attributes.query_parameter.default_value') + ': '%></small><br />
        </td>
        <td>
          <small class="text-muted"><%= query_parameter.default_value.blank? ? '<span class="text-muted">---</span>'.html_safe :  query_parameter.default_value %></small>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <small class="text-muted"><%= t('activerecord.attributes.query_parameter.description') + ': '%></small>
      </td>
      <td>
        <small class="text-muted"><%= query_parameter.description %></small>
      </td>
    </tr>
    <tr>
      <td>
        <small class="text-muted"><%= t('activerecord.attributes.query_parameter.sample_value') + ': '%></small>
      </td>
      <td>
        <small class="text-muted"><%= query_parameter.sample_value.blank? ? '<span class="text-muted">---</span>'.html_safe : query_parameter.sample_value %></small>
      </td>
    </tr>
  </tbody>
</table>