<% content_for(:page_description, t('.description')) %>
<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover table-link">
        <thead>
        <tr>
          <th colspan="2" class="width-30"><%= t('activerecord.attributes.query_parameter.name') %></th>
          <th><%= t('activerecord.attributes.query_parameter.query_parameter_type') %></th>
          <th><%= t('activerecord.attributes.query_parameter.mode') %></th>
          <th><%= t('activerecord.attributes.query_parameter.default_value') %></th>
          <th><%= t('activerecord.attributes.query_parameter.sample_value') %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @collection.each do |query_param| %>
            <tr data-link="<%= edit_service_proxy_route_query_parameter_path(current_service, query_param.route.proxy, query_param.route, query_param) %>">
              <td class="width-3">
                <i class="fa-2x fa fa-fw fa-list"></i>
              </td>
              <td>
                <strong><%= query_param.name %></strong><br />
                <small class="text-muted"><%= query_param.description %></small>&nbsp;
              </td>
              <td><%= t("types.query_parameter_types.#{query_param.query_parameter_type}.title") %></td>
              <td>
                <%= t("types.query_parameter_modes.#{query_param.mode}") %>
              </td>
              <td><%= query_param.default_value.blank? ? '<span class="text-muted">---</span>'.html_safe : query_param.default_value %></td>
              <td><%= query_param.sample_value.blank? ? '<span class="text-muted">---</span>'.html_safe : query_param.sample_value %></td>
              <td class="text-right">
                <%= link_to t('actions.edit'), edit_service_proxy_route_query_parameter_path(current_service, query_param.route.proxy, query_param.route, query_param), class: 'btn btn-secondary' %>
                <%= link_to '<i class="fa fa-fw fa-trash"></i>'.html_safe, service_proxy_route_query_parameter_path(current_service, query_param.route.proxy, query_param.route, query_param), title: t('actions.destroy'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top'}, method: :delete, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <h4><%= t('query_parameters.new.title') %></h4>
  </div>
</div>

<%= render partial: 'new' %>
