<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container">

    <table class="table">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.route.name') %></th>
        <th><%= t('activerecord.attributes.route.mode') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |query_param| %>
          <tr>
            <td><%= query_param.name %></td>
            <td><%= query_param.mode %></td>
            <td class="text-xs-right">
              <%= link_to t('actions.show'), service_proxy_route_query_parameter_path(current_service, query_param.route.proxy, query_param.route, query_param), class: 'btn btn-secondary' %>
              <%= link_to t('actions.edit'), edit_service_proxy_route_query_parameter_path(current_service, query_param.route.proxy, query_param.route, query_param), class: 'btn btn-secondary' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br />

  </div>
</div>

<div class="b-io-content--header">
  <div class="container">
    <h3><%= t('query_parameters.new.title') %></h3>
  </div>
</div>

<%= render 'new' %>
