<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% if @collection.size == 0 %>
      <p class="text-muted"><%= t('misc.nothing_to_display') %></p>
    <% else %>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.bank_detail.name') %> / <%= t('activerecord.attributes.bank_detail.account_owner') %></th>
          <th><%= t('activerecord.attributes.bank_detail.iban') %> / <%= t('activerecord.attributes.bank_detail.bic') %></th>
          <th><%= t('activerecord.attributes.bank_detail.service') %></th>
          <th><%= t('activerecord.attributes.bank_detail.is_active') %></th>
          <th>
            <small><%= t('activerecord.attributes.bank_detail.created_at') %></small><br />
            <%= t('activerecord.attributes.bank_detail.updated_at') %>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @collection.each do |bank_detail| %>
          <tr>
            <td class="width-3">
              <i class="fa-2x fa-credit-card fa fa-fw"></i>
            </td>
            <td>
              <strong><%= bank_detail.name %></strong><br />
              <small>
                <%= bank_detail.account_owner %>
              </small>
            </td>
            <td>
              <%= bank_detail.iban %><br />
              <%= bank_detail.bic %>
            </td>
            <td>
              <i class="<%= t("types.service_types.#{bank_detail.service.service_type}.icon") %>"></i>
              <span class="<%= t("types.service_types.#{bank_detail.service.service_type}.class") %>"><%= bank_detail.service.name %></span>
            </td>
            <td>
              <i class="fa-2x <%= t("misc.is_active.#{bank_detail.is_active}.icon") %>" data-placement="top" title="<%= t("misc.is_active.#{bank_detail.is_active}.title") %>" data-toggle="tooltip"></i>
            </td>
            <td>
              <small class="text-muted"><%= l(bank_detail.created_at, format: :short) %></small><br />
              <%= l(bank_detail.updated_at, format: :short) %>
            </td>
            <td class="text-right">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  <%= t('misc.actions') %>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to edit_back_office_bank_detail_path(bank_detail),
                              class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-pencil"></i> <%= t('actions.edit') %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to toggle_is_active_back_office_bank_detail_path(bank_detail),
                              method: :post,
                              class: 'dropdown-item' do %>
                    <i class="<%= t("misc.is_active.#{!bank_detail.is_active}.icon") %>"></i> <%= (bank_detail.is_active ? t('actions.deactivate') : t('actions.activate') ) %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to '#',
                              class: 'dropdown-item disabled',
                              method: :delete,
                              data: {
                                confirm: 'Are you sure?'
                              } do %>
                    <i class="fa fa-fw fa-trash"></i> <%= t('actions.destroy') %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
