<form name="search_form" method="GET" action="<%= catalog_search_path %>" class="form">

  <label class="sr-only" for="search_form_input"><%= t('actions.search') %></label>
  <div class="input-group mb-3">
    <div class="input-group-addon">
      <i class="fa fa-fw fa-search"></i>
    </div>
    <input type="text"
           name="q"
           value="<%= h(params[:q]) %>"
           class="form-control"
           id="search_form_input"
           placeholder="<%= t('misc.search_placeholder') %>">
  </div>

  <p class="text-right">

    <button type="submit"
            class="btn btn-secondary"
            value="<%= t('actions.search') %>"><%= t('actions.search') %></button>

  </p>

</form>