<form name="search_form" method="GET" action="<%= catalog_search_path %>" class="form">

  <label class="sr-only" for="search_form_input"><%= t('actions.search') %></label>
  <div class="input-group mb-3">
    <div class="input-group-addon">
      <i class="fa fa-fw fa-search"></i>
    </div>
    <input type="text"
           name="q"
           value=""
           class="form-control"
           id="search_form_input"
           placeholder="<%= t('misc.search_placeholder') %>">
  </div>

  <p class="text-right">

    <% if params[:q].present? %>
      <button type="reset"
              class="btn btn-secondary"
              value="<%= t('actions.cancel') %>"><%= t('actions.cancel') %></button>
    <% end %>
    <button type="submit"
            class="btn btn-secondary"
            value="<%= t('actions.search') %>"><%= t('actions.search') %></button>

  </p>

</form>

<% content_for(:extra_js) do %>
  <script type="text/javascript">
    $('#search_form_input').val('<%= h(params[:q]) %>');
    $('form[name="search_form"] button[type="reset"]').on('click', function() {
      $('#search_form_input').val('');
      $('form[name="search_form"]').submit();
    });
  </script>
<% end %>