<!DOCTYPE html>
<html>
<head>
  <title><% if content_for?(:page_title) %><%= content_for(:page_title) %> / <% end %> <%= t('config.platform_name') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="b-io-topbar">
    <div class="container-fluid">
      <%= render partial: 'shared/topbar' %>
    </div>
  </div>

  <%= render partial: 'shared/header' %>

  <div class="container">

    <div class="b-io-main-container" id="main_container">

      <div class="b-io-content">
        <div class="b-io-content--header">
          <div class="container-fluid">
            <% if content_for?(:page_controls) %>
              <div class="b-io-content--header--controls"><%= content_for(:page_controls) %></div>
            <% end %>
            <h4>
              <% if content_for?(:page_back) %>
                <%= link_to t('actions.back'), content_for(:page_back), class: 'btn btn-link btn-sm' %>
              <% end %>
              <%= content_for(:page_title) %>
            </h4>
            <% if content_for?(:page_description) %>
              <p><%= content_for(:page_description) %></p>
            <% end %>
          </div>
        </div>
        <div class="b-io-subcontent" id="main_content">
          <%= yield %>
        </div>
      </div>
    </div>

  </div>

  <%= render partial: 'shared/modal_window' %>

  <%= render partial: 'shared/flash' %>

  <%= javascript_include_tag 'application' %>
  <%= content_for(:extra_js) %>

  <script type="text/javascript">
    I18n.locale = '<%= I18n.locale %>';
  </script>

</body>
</html>
