<!DOCTYPE html>
<html>
<head>
  <title><% if content_for?(:page_title) %><%= content_for(:page_title) %> / <% end %> Baasile IO</title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="container">
    <%= render 'layouts/header' %>
    <%= render 'shared/flash' %>

    <div class="b-io-main-container">
      <div class="b-io-menu">
        <%= render 'shared/menu' %>
      </div>

      <div class="b-io-content">
        <div class="b-io-content--header">
          <div class="container">
            <h2><%= content_for(:page_title) %></h2>
          </div>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
