<!DOCTYPE html>
<html>
<head>
  <title><% if content_for?(:page_title) %><%= content_for(:page_title) %> / <% end %> Baasile IO</title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="container">
    <%= render 'shared/topbar' %>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>

    <div class="b-io-main-container">

      <% unless current_proxy.nil? %>
        <div class="b-io-menu">
          <%= render 'shared/menu' %>
        </div>
      <% end %>

      <div class="b-io-content <%= 'b-io-content--with-menu' unless current_proxy.nil? %>">
        <div class="b-io-content--header">
          <div class="container">
            <h3><%= content_for(:page_title) %></h3>
          </div>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
