<!DOCTYPE html>
<html>
<head>
  <title><% if content_for?(:page_title) %><%= content_for(:page_title) %> / <% end %> <%= t('config.platform_name') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= render partial: 'shared/favicon' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
  <%= stylesheet_link_tag    'public', media: 'all' %>
</head>

<body class="public">

  <%= render partial: 'shared/topbar' %>

  <%= yield %>

  <hr class="featurette-divider">

  <footer class="text-muted">
    <div class="container">
      <p class="float-sm-right">Demo Platform &copy; Port Parallèle / Baasile IO</p>
      <p>
        <img src="/dashboard/logo-port-parallele.png">
      </p>
    </div>
  </footer>

  <%= render partial: 'shared/flash' %>

  <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
    I18n.locale = '<%= I18n.locale %>';
  </script>

  <%= content_for(:extra_js) %>

</body>
</html>
