<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_description) { t('.description') } %>

<%= simple_form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :current_password, required: true %>
  <%= f.input :password, required: true, hint: t('devise.passwords.password_restrictions') %>
  <%= f.input :password_confirmation, required: true %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= link_to "<i class=\"fa fa-fw fa-sign-out\"></i> #{t('actions.sign_out')}".html_safe,
                  destroy_user_session_path,
                  method: :delete,
                  class: 'float-left btn btn-outline-secondary' %>

      <%= f.button :submit, t('actions.change_password'), class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
